@use 'variables';


 //==========header==========
 header{
    font-family: map-get(variables.$gnb, font-family);
    background-color: variables.$basic-bg;
    justify-content: space-between;
    padding: 40px 80px;

    .header-nav{
        color: map-get(variables.$gnb, color);
        gap : 0 120px;

        .header-navbar{
            gap: 0 100px;

            .header-nav-link{
                font-size: map-get(variables.$gnb, font-size);
                font-weight: map-get(variables.$gnb, font-weight);
                color: map-get(variables.$gnb, color);
            }

            .header-nav-link:focus, .header-nav-link:hover {
                color: map-get(variables.$gnb, color);
            }

            .header-nav-link span {
                position: relative;
                display: inline-block;
                z-index: 0;
              }
        
            .header-nav-link:focus span, .header-nav-link:hover span {
                color: map-get(variables.$gnb, color);
            }

            .mark{
                padding: 0;
                background-color: variables.$basic-bg;
            }

            .mark::after{
                content: "";
                width: 0.5px;
                height: 10px;
                position: absolute;
                bottom: 11px;
                left: 0;
                background-color: variables.$basic-c;
                z-index: -1;
                opacity: 0;
                transition-property: all;
                transition-duration: 0.7s;
            }
        
            .mark:hover::after{
                opacity: 1;
                width: 100%;
            }
        }
    }

    .header_nav-icon{
        list-style: none;
        display: flex;
        gap: 0 40px;

        i{
            font-size: 1.6rem;
            font-weight: map-get(variables.$gnb, font-weight);
            color: map-get(variables.$gnb, color);
        }
    
        i:hover{
            color: variables.$basic-c;
            transition: all 0.2s ease-in-out;
        }

        .hamburger{
            display: none;
        }
    }
 }
//==========header end==========


//==========button==============
.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  font-size: map-get(variables.$content_title, font-size);
  padding: 0.6rem;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.effect.effect-5 {
  transition: all 0.2s linear 0s;
  border: 2px solid variables.$basic-c;
  color: variables.$basic-c;
  background-color: #fff;
  min-width: 15rem;
  
  &:before {
    content: ">";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 18%;
    background-color: rgba(#fff,0.3);
    border-radius: 0 50% 50% 0;
    transform: scale(0,1);
    transform-origin: left center;
    transition: all 0.2s linear 0s;
  }
  
   &:hover {
    text-indent: 2rem;
    background-color: variables.$basic-c;
    color: #Fff;
    
    &:before {
      transform: scale(1,1);
      text-indent: 0;
    }
  }
}

//==========button end==========


//==========footer==============
.footer{
    background-color: #3e3e3e;
    .container{
        .footer-logo{
            width: 45%;
        }
        .footer-form01{
            justify-content: space-between;
            align-items: center;
            margin-bottom: 50px;
            ul{
                list-style: none;
                a{
                    font-size: map-get(variables.$content,font-size);
                    font-weight: 500;
                    color: variables.$footer-font;
                    padding: 0.5rem 1rem;
                }
            }   
        }
    
        .footer-form02{
            .p-none{
                padding: 0; 
                ul{
                display: flex;
                list-style: none;
                color: variables.$gray-font;
                padding: 0;
                margin-bottom: 20px;
                    li{
                        font-size: map-get(variables.$content,font-size);
                        font-weight: map-get(variables.$content,font-weight);
                        padding-bottom: 0;  
                    }
                    
                    li:not(:last-of-type){
                        border-right: 2px solid variables.$gray-font;
                        padding-right: 30px;
                    }

                    li:not(:first-of-type){
                        padding-left: 30px;
                    }
                }
            }
            
            .footer-copyform{
                font-size: 1.1rem;
                font-weight: 500;
                color: variables.$gray-font;
                padding: 0;

                .footer-copy{
                    margin-top: 10px;
                }
            }
        }
    }
}
//==========footer end==========