@use 'variables';


 //==========header==========
.nav-form {
  width: 100%;
  padding: 25px 80px;
  background-color: #FFF8ED;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  .logo{
    width: 28%;
  }

  .gnb {
    display: flex;
    align-items: center;
    font-family: 'Paperlogy';
    margin-top: 15px;
    .hamburger{
      display: none;
      font-size: 2rem;
      color: #272727;
      cursor: pointer;
    }
    ul{
      display: flex;
      gap: 2rem;           /* 항목 사이 간격 */
      list-style: none;
      padding: 0;
      margin: 0;
        .gnb-list {
          font-weight: 700;
          a{
            text-decoration: none;
            color: #272727;
            font-size: 1.5rem;
            .mark {
              position: relative;
              display: inline-block;
              z-index: 0;
              padding: 0;
              margin-left: 80px;
              background-color: #FFF8ED;
            }
            .mark::after {
              content: "";
              width: 0.5px;
              height: 10px;
              position: absolute;
              bottom: 4px;
              left: 0;
              background-color: #ffa500;
              z-index: -1;
              opacity: 0;
              transition: all 0.7s;
            }
            .mark:hover::after{
              opacity: 1;
              width: 100%;
            }
          }
        }
    }
  }
}
//==========header end==========

//==========button==============
.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  font-family: map-get(variables.$content_title, font-family);
  font-size: 1.4rem;
  padding: 0.6rem;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.effect.effect-5 {
  transition: all 0.2s linear 0s;
  border: 2px solid variables.$basic-c;
  color: variables.$basic-c;
  background-color: #fff;
  min-width: 15rem;
  
  &:before {
    content: ">";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 18%;
    background-color: rgba(#fff,0.3);
    border-radius: 0 50% 50% 0;
    transform: scale(0,1);
    transform-origin: left center;
    transition: all 0.2s linear 0s;
  }
  
   &:hover {
    text-indent: 2rem;
    background-color: variables.$basic-c;
    color: #Fff;
    
    &:before {
      transform: scale(1,1);
      text-indent: 0;
    }
  }
}
//==========button end==========

//==========footer==============
    footer{
            background-color: #3e3e3e;
            padding: 40px 65px;
        
        .footer_titleform{
            display: flex;
            margin-bottom: 50px;
            align-items: center;

            .footer-logo{
                width: 90%;
            }

            .footer_menu{
                margin-left: auto;
                    .footer_menulist{
                        display: flex;
                        list-style: none;
                        gap: 0 50px;
                        margin-left: auto;
                        font-size: 1.1rem;

                            a{
                                font-family: 'Paperlogy';
                                color: variables.$footer-font;
                                text-decoration: none;
                        }
                    }
                }
            }
        .footer_content,.footer_copy{
            font-family: 'pretendard';
            color: variables.$gray-font;
        }
        
        .footer_content{
            margin-bottom: 20px;

            .footer_contentlist{
                display: flex;
                list-style: none;
                padding: 0;
                font-family: 'pretendard';
                font-size: 1rem;
            }

            .footer_contentlist li:not(:last-of-type){
                border-right: 2px solid variables.$gray-font;
                padding-right: 30px;
            }

            .footer_contentlist li:not(:first-of-type){
                padding-left: 30px;
            }
        }        
    }
//==========footer end==========

@media (max-width:1440px){
  .nav-form .gnb ul .gnb-list a {
      font-size: 1.4rem;
  }
}

    @media (max-width:1280px){
      // =============header====================
    .nav-form{
        padding: 25px 60px;
        .gnb{
            ul{
                .gnb-list{
                    a{
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
    // =============header end==================

    // =============footer======================
    footer {
    padding: 40px 60px;

  .footer_titleform {
    .footer-logo {
      width: 80%;
    }
  }
    }

   // =============footer end==================
   }
      
    @media (max-width:1024px){
      // =============header==================
    .nav-form{
        padding: 20px 44px;
        .gnb{
            ul{
                .gnb-list{
                    a{
                        font-size: 1rem;
                        .mark{
                          margin-left: 70px;
                        }
                    }
                }
            }
        }
    }
    // =============header end==============

    // =============footer==================
    footer {
  padding: 50px 45px;

  .footer_titleform {
    .footer-logo {
      width: 70%;
    }
    .footer_menu {
      .footer_menulist {
        font-size: 0.9rem;
      }
    }
  }

  .footer_content {
    .footer_contentlist {
      font-size: 0.9rem;

      li:not(:first-of-type) {
        padding-left: 25px;
      }
      li:not(:last-of-type) {
        padding-right: 25px;
      }
    }
  }

  .footer_copy {
    font-size: 0.9rem;
  }
}

    // =============footer end==============
}

@media (max-width:923px){
  .nav-form{
    .gnb{
      ul{
        .gnb-list{
          a{
            .mark{
              margin-left: 79px;
            }
          }
        }
      }
    }
  }     
}

@media (max-width:917px){
  .nav-form{
    .gnb{
      ul{
        .gnb-list{
          a{
            .mark{
              margin-left: 78px;
            }
          }
        }
      }
    }
  }     
}

@media (max-width:917px){
  .nav-form{
    .gnb{
      ul{
        .gnb-list{
          a{
            .mark{
              margin-left: 77px;
            }
          }
        }
      }
    }
  }     
}

@media (max-width:906px){
  .nav-form{
    .gnb{
      ul{
        .gnb-list{
          a{
            .mark{
              margin-left: 76px;
            }
          }
        }
      }
    }
  }     
}

@media (max-width:901px){
  .nav-form{
    .gnb{
      ul{
        .gnb-list{
          a{
            .mark{
              margin-left: 75px;
            }
          }
        }
      }
    }
  }     
}

@media (max-width:895px){
  .nav-form{
    .gnb{
      ul{
        .gnb-list{
          a{
            .mark{
              margin-left: 65px;
            }
          }
        }
      }
    }
  }     
}

@media (max-width:840px){
  .nav-form{
    .gnb{
      ul{
        .gnb-list{
          a{
            .mark{
              margin-left: 63px;
            }
          }
        }
      }
    }
  }     
}

@media (max-width:829px){
  .nav-form{
    .gnb{
      ul{
        .gnb-list{
          a{
            font-size: 0.9rem;
            .mark{
              margin-left: 63px;
            }
          }
        }
      }
    }
  }     
}

@media (max-width:789px){
  .nav-form{
    .gnb{
      ul{
        .gnb-list{
          a{
            font-size: 0.9rem;
            .mark{
              margin-left: 61px;
            }
          }
        }
      }
    }
  }     
}

@media (max-width:778px){
  .nav-form{
    .gnb{
      ul{
        .gnb-list{
          a{
            .mark{
              margin-left: 60px;
            }
          }
        }
      }
    }
  }     
}

@media (max-width:773px){
  .nav-form{
    .logo{
          width: 27%
    }
  }     
}

    @media (max-width:768px){
      //==========header==============
.nav-form{
        padding: 15px 36px;
    .logo{
        width: 29%;
        line-height: 1;
    }
    .gnb{
        line-height: 1.1;
        ul{
            .gnb-list{
                a{
                    font-size: 0.8rem;
                    .mark{
                        margin-left: 43px;
                    }
                }
            }
        }
    }
}
//==========header end==========
//==========footer==============
    footer {
  padding: 30px 25px;

  .footer_titleform {
    margin-bottom: 30px;

    .footer-logo {
      width: 47%;
    }

    .footer_menu {
      .footer_menulist {
        font-size: 0.7rem;
      }
    }
  }

  .footer_content {
    margin-bottom: 10px;

    .footer_contentlist {
      font-size: 0.7rem;
      margin-bottom: 10px;
    }
  }

  .footer_copy {
    font-size: 0.7rem;
    margin: 0;
  }
}

//==========footer end==========
}

@media (max-width:540px){
//==========header==============
.nav-form {
  position: relative;
  padding: 20px 20px;
  .gnb{
    position: relative;
    .hamburger{
      display: block;
    }
    ul{
      gap: 0;
      position: absolute;
      top: 100%;
      right: -60.5%;
      width: 100vw; 
      display: none;
      flex-direction: column;
      background-color: #FFF8ED;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      margin: 0;
      padding: 0;
      z-index: 1000;
        .gnb-list{
          padding: 1rem;
          border-bottom: 1px solid #eee;
          text-align: center;
          a{
            .mark{
              margin-left: auto;
            }
          }
        }
      }
      ul.open{
        display: flex;
      }
  }
}
//==========header end==========

//==========footer==============
   footer {
  padding: 24px;

  .footer_titleform {
    margin-bottom: 15px;

    .footer-logo {
      width: 38%;
    }

    .footer_menu {
      .footer_menulist {
        display: none;
      }
    }
  }

  .footer_contentform {
    .footer_content {
      .footer_contentlist {
        font-size: 0.5rem;
        margin-bottom: 10px;

        li:not(:last-of-type) {
          padding-right: 20px;
        }
        li:not(:first-of-type) {
          padding-left: 20px;
        }
      }
    }

    .footer_copy {
      font-size: 0.5rem;
    }
  }
}

//==========footer end==========
}

    @media (max-width:348px){
       //==========header==============
    .nav-form {
        padding: 10px 20px;
        line-height: 0;
        .logo{
            width: 39%;
        }
        .gnb{
            .hamburger{
                    font-size: 1.2rem;
            }
            ul{
                margin-bottom: 0;
            }
        }
    }
    //==========header end==========


      //==========footer==============
    footer {
      .footer_titleform {
        margin-bottom: 8px;

        .footer-logo {
          width: 30%;
        }
      }

      .footer_contentform {
        .footer_content {
          margin-bottom: 0;
          .footer_contentlist {
            margin-bottom: 5px;
            .d-none{
              display: none;
            } 

            li:not(:last-of-type) {
              padding-right: 10px;
            }
            li:not(:first-of-type) {
              padding-left: 10px;
            }
          }
        }

        .footer_copy {
          p{
            margin: 0;
          }
        }
      }
    }
    //==========footer end===========
  }
    