@use 'common';
@use 'variables';
@use 'component';

// =============header======================
.nav-form, .nav-form .gnb ul .gnb-list a .mark{
    background-color: #fff;
}
// =============header end=================

// =============sec01======================
.sec01{
    padding: 80px 0;
    .sec01_titleForm{
        margin-bottom: 50px;
        .sec01__title{
            font-family: map-get(variables.$title, font-family);
            font-size: map-get(variables.$title, font-size);
            font-weight: map-get(variables.$title, font-weight);
            color: map-get(variables.$title, color);
        }
        .sec01_subtitle{
            font-family:  map-get(variables.$subtitle, font-family);
            font-size:  map-get(variables.$subtitle, font-size);
            font-weight:  map-get(variables.$subtitle, font-weight);
            color: map-get(variables.$subtitle,color)
        }
    }
    .listForm{
        .list{
            .category-label{
                    font-family:  map-get(variables.$gnb, font-family);
                    font-size:  map-get(variables.$gnb, font-size);
                    font-weight:  map-get(variables.$gnb, font-weight);
                    color: map-get(variables.$gnb,color)
                }
                .line-left{
                    border-left: 1px solid #d9d9d9;
                    .item-title{
                    font-family:  map-get(variables.$content_title, font-family);
                    font-size:  map-get(variables.$content_title, font-size);
                    font-weight:  map-get(variables.$content_title, font-weight);
                    color: map-get(variables.$content_title,color);
                    line-height: 1.8;
                    }
                    .item-date{
                        font-family:  map-get(variables.$content, font-family);
                        font-size:  map-get(variables.$content, font-size);
                        font-weight:  map-get(variables.$content, font-weight);
                        color: variables.$gray-font;
                    }
                }
                .category-btn{
                    border: 1px solid #d9d9d9;
                    border-radius: 30px;
                    padding: 12px 23px;
                    max-width: 12rem;
                    transition: all .5s;
                    a{
                        text-decoration: none;
                        color: variables.$gray-font;
                    }
                }
                .category-btn:hover{
                    background-color: variables.$basic-c;
                    border: none;
                    a{
                        color: #fff;
                    }
                }
            }
        .line-top{
            border-top : 2px solid #ffa500;
            padding: 45px 0;
        }   
        .line-bottom{
            border-bottom: 2px solid #ffa500;
            padding: 45px 0;
        }
    }
}

// =============sec01 end==================

// =============sec02======================
.sec02{
    padding: 80px 0;
    .sec02_titleForm{
        margin-bottom: 60px;
        .sec02_title{
            font-family: map-get(variables.$title, font-family);
            font-size: map-get(variables.$title, font-size);
            font-weight: map-get(variables.$title, font-weight);
            color: map-get(variables.$title, color);
        }
        .sec02_subtitle{
            font-family:  map-get(variables.$subtitle, font-family);
            font-size:  map-get(variables.$subtitle, font-size);
            font-weight:  map-get(variables.$subtitle, font-weight);
            color: map-get(variables.$subtitle,color)
        }
    }
    .container{
        .sponsor-buttons{
            margin-bottom: 60px;
            .sec02_spon{
                border-radius: 30px;
                border: 1px solid #d9d9d9;
                .sec02_btn_img{
                    height: 7vh;
                }
            }
        }
        .youtube-cards{
            .card{
                .card-body{
                    .card-title{
                        font-family:  map-get(variables.$content_title, font-family);
                        font-size:  map-get(variables.$content_title, font-size);
                        font-weight:  map-get(variables.$content_title, font-weight);
                        color: map-get(variables.$content_title,color);
                    }
                    .card-text{
                        font-family:  map-get(variables.$content, font-family);
                        font-size:  map-get(variables.$content, font-size);
                        font-weight:  map-get(variables.$content, font-weight);
                        color: map-get(variables.$content,color);
                    }
                    .sec02_link{
                        font-family:  map-get(variables.$content, font-family);
                        font-size:  map-get(variables.$content, font-size);
                        font-weight:  map-get(variables.$content, font-weight);
                        color: #d9d9d9;
                        transition: all .5s;
                    }
                    .sec02_link:hover{
                        color: #272727;
                    }
                }
            }
        }
    }
}

// =============sec02 end==================

@media(max-width:1440px){
    .sec02{
        .container{
            .sponsor-buttons{
                .sec02_spon{
                    .sec02_btn_img{
                        height: 11vh;
                    }
                }
            }
        }
    }
}

@media (max-width:1280px){
    .sec01{
        padding: 80px 0;
        .sec01_titleForm{
            margin-bottom: 40px;
            .sec01__title {
                font-size: 1.7rem;
            }
            .sec01_subtitle {
                font-size: 1.1rem;  
            }
        }
        .listForm{
            .list{
                .category-label {
                    font-size: 1.1rem;
                }
                .line-left{
                    .item-title{
                        font-size: 1.1rem;
                        line-height: 1.6;
                    }
                    .item-date{
                        font-size: 0.9rem;
                    }
                }
                .category-btn{
                    font-size: 0.9rem;
                    padding: 11px 22px;
                    max-width: 10rem;
                }
            }
            .line-top {
                padding: 35px 0;
            }
            .line-bottom{
                padding: 35px 0;
            }
        }
    } 


    .sec02{
        padding-bottom: 100px;
        
    }
}

@media (max-width:1024px){
    .sec01 {
        padding: 70px 0;
        .sec01_titleForm{
            margin-bottom: 35px;
            .sec01__title {
                font-size: 1.5rem;
            }
            .sec01_subtitle {
                font-size: 1rem;
            }
        }
        .listForm{
            .list{
                .category-label{
                    font-size: 1rem;
                }
                .line-left{
                    .item-title{
                        font-size: 1rem;
                    }
                    .item-date{
                        font-size: 0.8rem;
                    }
                }
                .category-btn{
                    font-size: 0.8rem;
                    padding: 10px 20px;
                    max-width: 9rem;
                }

                .line-top{
                    padding: 30px 0;
                }
                .line-bottom {
                    padding: 30px 0;
                }  
            }
        }
    }
}

@media (max-width:991px){
    .sec01{
        .sec01_titleForm{
            margin-bottom: 28px;
            .sec01__title{
                font-size: 1.4rem;
            }
            .sec01_subtitle {
                font-size: 0.9rem;
            }
        }
        .listForm{
            .list{
                .category-label{
                    font-size: 0.9rem;
                }
                .line-left{
                    width: 65%;
                    .item-title{
                        font-size: 0.9rem;
                    }
                    .item-date{
                        font-size: 0.7rem;
                    }
                }
                .category-btn{
                    font-size: 0.7rem;
                    padding: 7px 17px;
                }
                .line-top{
                    padding: 25px 0;
                }
                .line-bottom {
                    padding: 25px 0;
                }
            }
        }
    }
}
      
@media (max-width: 767px){
    .sec01{
        padding: 55px 0;
        .sec01_titleForm{
            margin-bottom: 25px;
            .sec01__title{
                font-size: 1.2rem;
            }
            .sec01_subtitle {
                font-size: 0.8rem;
            }
        }
        .listForm{
            .list{
                .category-label{
                    font-size: 0.8rem;
                }
                .line-left{
                    padding-left: 1.5rem !important;
                    .item-title{
                        font-size: 0.8rem;
                    }
                    .item-date{
                        font-size: 0.7rem;
                    }
                }
                .category-btn{
                    font-size: 0.6rem;
                    padding: 7px 8px;
                }
                .line-top{
                    padding: 20px 0;
                }
                .line-bottom{
                    padding: 20px 0;
                }
            }
            
        }
    }    
}

@media (max-width:540px){
    .nav-form{
        .gnb{
            ul.open{
                background: #fff;
            }
        }
    }   
    .sec01 {
        padding: 40px 0;
        .sec01_titleForm{
            .sec01__title{
                font-size: 1.1rem;
                margin-bottom: .3rem;
            }
            .sec01_subtitle{
                font-size: 0.7rem;
            }
        }
        .listForm{
            .list{
                .category-label{
                    font-size: 0.7rem;
                }
                .line-left{
                    width: 64%;
                    .item-title{
                        font-size: 0.7rem;
                    }
                    .item-date{
                        font-size: 0.6rem;
                    }
                }
                .category-btn{
                    font-size: 0.5rem;
                    padding: 7px 8px;
                }
                .line-top{
                    padding: 15px 0;
                }
                .line-bottom{
                    padding: 15px 0;
                }
            }
        }
    }

}

@media (max-width:402px){
    .sec01 {
        padding: 40px 0;
        .sec01_titleForm{
            .sec01__title{
                font-size: 1.7rem;
                margin-bottom: .3rem;
            }
            .sec01_subtitle{
                font-size: 0.9rem;
            }
        }
        .listForm{
            .list{
                .d-inherit{
                    display: block;
                    .w-24{
                        width: 24%;
                    }
                    .w-21{
                        width: 21%;
                    }
                    .pl-24{
                        padding-left: 24px;
                        margin-bottom: 3px;
                    }
                    .category-label{
                    font-size: 0.9rem;
                    }
                    .line-left{
                        width: 100%;
                        margin-bottom: 8px;
                        .item-title{
                            font-size: 0.8rem;
                        }
                        .item-date{
                            font-size: 0.7rem;
                        }
                    }
                    .category-btn{
                        font-size: 0.7rem;
                        padding: 5px 9px;
                        margin-left: 24px;
                        width: 28%;
                    }
                }
                .p-15{
                    padding: 15px 0;
                    border-bottom: 1px solid #d9d9d9;
                }
                .line-top{
                    padding: 15px 0;
                    border-bottom: 1px solid #d9d9d9;
                }
                .line-bottom{
                    padding: 15px 0;
                }
            }
        }
    }

    .sec02{
        padding: 40px 0;
        .sec02_titleForm{
            margin-bottom : 30px;
            .sec02_title{
                font-size: 1.7rem;
                margin-bottom: .3rem;
            }
            .sec02_subtitle{
                font-size: 0.9rem;
            }
        }
        .container{
            .sponsor-buttons{
                margin-bottom : 30px;
                .sec02_spon{
                    .sec02_btn_img{
                        height: 7vh;
                    }
                }
            }
            .youtube-cards{
                .card{
                    .card-body{
                        .card-title{
                            font-size: 0.9rem;
                        }
                        .card-text{
                            font-size: 0.8rem;
                            margin-bottom: 0.5rem;
                        }
                        .sec02_link{
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}



 