@use 'common';
@use 'variables';
@use 'component';



// =============header======================
header{
    background-color: #fff;
    align-items: center;
    padding: 40px 65px;
    .sub_nav{
            display: flex;
            padding: 0;
            list-style: none;
            gap: 100px;
            margin: 0;

        li{
            position: relative;
            z-index: 999999;
        }
        .nav_list{
            text-decoration: none;
            font-family: map-get(variables.$gnb, font-family);
            font-weight: map-get(variables.$gnb, font-weight);
            font-size: map-get(variables.$gnb, font-size);
            color : map-get(variables.$gnb, color);
        }

        .nav_list:hover{
            color: variables.$basic-c;
        }

        .orange{
            color: variables.$basic-c;
        }
    }       
}
// =============header end=================

// =============sec01======================
.sec01{
    .sec01_bg01 {
        position: relative;
        background-image: url('../images/findplace_sec01_bg01.png');
        background-size: cover;
        background-position: center;
        z-index: -1;
    }

    .sec01_content{
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        color: white;
        text-align: right;

    }
    

    
}



// =============sec01 end==================






@media (max-width:1280px){
    // =============header===================
    header{
        padding: 30px 82px;
    }

    header .logo-img{
        width: 80%;
    }

    header .sub_nav .nav_list {
        font-size: 1.2rem;
    }

    header .header_nav-icon i {
        font-size: 1.4rem;
    }
// =============header end===============
}


@media (max-width:1024px){
    // =============header=================
    header {
        padding: 20px 45px;
    }

    header .logo-img {
        width: 70%;
    }

    header .sub_nav {
        gap: 0 85px;
    }

    header .sub_nav .nav_list {
        font-size: 1.1rem;
    }

    header .header_nav-icon {
    gap: 0 30px;
    }
    // =============header end=============
}


@media (max-width:768px){
    // =============header===============
    header {
        padding: 20px 38px;
    }

    header .logo-img {
        width: 50%;
    }

    header .sub_nav .nav_list {
        font-size: 0.9rem;
    }

    header .sub_nav {
        gap: 0 65px;
    }

    header .header_nav-icon {
        display: none;
    }
    // =============header end===========
}

@media (max-width:540px){
    // =============header================

    header {
        padding: 20px 12px;
    }

    header .logo-img {
        width: 48%;
    }

    header .sub_nav {
        display: none;
    }

    header .header_nav-icon {
        display: block;
    }

    header .header_nav-icon .hamburger {
        display: block;
    }

    header .header_nav-icon i {
        display: none;
    }
    // =============header end============
}

@media (max-width:348px){
    // =============header==========
    header .logo-img {
        width: 38%;
    }

    header .header_nav-icon i {
        font-size: 1rem;
    }
    // =============header end======
}