@use 'common';
@use 'variables';
@use 'component';



// =============header======================
.nav-form, .nav-form .gnb ul .gnb-list a .mark{
    background-color: #fff;
}
// =============header end=================

// =============sec01================
.sec01{
    .sec01_bg01 {
        position: relative;
        background-image: url('../images/findplace_sec01_bg01.png');
        background-size: cover;
        background-position: center;
        z-index: -1;
        height: 700px;
    }
   
    .sec01_bg02 {
        position: relative;
        background-image: url('../images/findplace_sec01_bg02.png');
        background-size: cover;
        background-position: center;
        z-index: -1;
        height: 700px;
    }

    .sec01_bg03 {
        position: relative;
        background-image: url('../images/findplace_sec01_bg03.png');
        background-size: cover;
        background-position: center;
        z-index: -1;
        height: 700px;
    }

    .sec01_content{
        position: absolute;
        top: 34%;
        right: 10%;
        color: white;
        text-align: right;
        z-index: 9999;

        .sec01_title{
            font-family: map-get(variables.$title, font-family);
            font-size: map-get(variables.$title, font-size);
            font-weight: map-get(variables.$title, font-weight);
            margin-bottom: 1.6rem;
        }

        .sec01_subtitle{
            font-family:  map-get(variables.$subtitle, font-family);
            font-size:  map-get(variables.$subtitle, font-size);
            font-weight:  map-get(variables.$subtitle, font-weight);
            margin-bottom: 1.6rem;
        }
    }

    .next:after, .prev:after{
        color: #fff;
    }
}
// =============sec01 end============

// =============sec02================
.sec02{
    padding: 100px 0;
    .sec02_titleform{
        margin-bottom: 50px;
        .sec02_title{
            font-family: map-get(variables.$title, font-family);
            font-size: map-get(variables.$title, font-size);
            font-weight: map-get(variables.$title,font-weight);
            color: map-get(variables.$title,color)  
        }

        .sec02_subtitle{
            font-family:  map-get(variables.$subtitle, font-family);
            font-size:  map-get(variables.$subtitle, font-size);
            font-weight:  map-get(variables.$subtitle, font-weight);
            color: map-get(variables.$subtitle,color)
        }
    }

    .sec02_contentform{
        .sec02_card01{
            border: 1px solid #d9d9d9;
            padding: 2rem;
            border-radius: 5px;
            .sec02-img{
                width: 100%;
                margin-bottom: 40px;
            }
            .sec02__subcontent{
                .sec02_c_title{
                    font-family:  map-get(variables.$content_title, font-family);
                    font-size:  map-get(variables.$content_title, font-size);
                    font-weight:  map-get(variables.$content_title, font-weight);
                    color: map-get(variables.$content_title,color);
                    margin-bottom: 10px;
                }
                .sec02_content{
                    font-family:  map-get(variables.$content, font-family);
                    font-size:  map-get(variables.$content, font-size);
                    font-weight:  map-get(variables.$content, font-weight);
                    color: map-get(variables.$content,color);
                    padding-left: 1rem;
                    margin-bottom: 40px;
                }
                .sec02_c_btn{
                    font-family:  map-get(variables.$content, font-family);
                    font-size:  map-get(variables.$content, font-size);
                    font-weight:  map-get(variables.$content, font-weight);
                    color: variables.$basic-c;
                    text-decoration: none;
                    border: 1px solid variables.$basic-c;
                    background-color: #ffff;
                    border-radius: 30px;
                    padding: 0.6rem 0.9rem;
                    transition: all 0.3s ease;
                }
                .sec02_c_btn:hover{
                    color: #fff;
                    background: variables.$basic-c;
                }
            }
        }
    }
}
// =============sec02 end============

// =============sec03================
.sec03{
    padding-bottom: 100px;

    .sec03_title{
        font-family: map-get(variables.$title, font-family);
        font-size: map-get(variables.$title, font-size);
        font-weight: map-get(variables.$title,font-weight);
        color: map-get(variables.$title,color);
        margin: 0;
        margin-bottom: 10px;
    }

    .sec03_tab{
        display: flex;
        align-items: center;
        gap: 0 50px;
        justify-content: center;
            .sec03_theme{
                padding-top: 45px;
                cursor: pointer;
                i{
                    font-size: 1.7rem;
                    color: #ffe5bb;
                    border-radius: 100px;
                    padding: 20px;
                    border: 2px solid #ffe5bb;
                }

                i:hover{
                    background-color: #ffa500;
                    color: #fff;
                    transition: all 0.3s;
                    border: none;
                }

                &.active i {
                    background-color: #ffa500;
                    color: #fff;
                    border: none;
                }

            p{
                font-family: map-get(variables.$content_title, font-family);
                font-size: map-get(variables.$content_title, font-size);
                font-weight: map-get(variables.$content,font-weight);
                color: map-get(variables.$content_title,color);
                text-align: center;
                margin-top : 25px;
            }

            &.active p {
                font-weight: bold;
                color: #ffa500;
            }
        }
    }
    

        .tab-content{
            display: none;
            margin: 30px 0;
            &.on {
                display: block;
            }
            .sec03_card{
                position: relative;
                overflow: hidden;
                border-radius: 30px;
                img{
                    width: 100%;
                    height: 450px;
                }

                .sec03_card_overlay {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    padding: 20px;
                    background: rgba(255,255,255,.8); 
                    color: #272727;
                    transform: translateY(100%);
                    transition: transform 0.4s ease-in-out;

                    .title{
                        font-family: map-get(variables.$content_title, font-family);
                        font-size: map-get(variables.$content_title, font-size);
                        font-weight: map-get(variables.$content_title,font-weight);
                        color: map-get(variables.$content_title,color);
                        margin-bottom: 8px;
                    }
                    .desc{
                        font-family: map-get(variables.$content, font-family);
                        font-size: map-get(variables.$content, font-size);
                        font-weight: map-get(variables.$content,font-weight);
                        color: map-get(variables.$content,color);
                        margin: 0;
                    }
                }

                 &:hover .sec03_card_overlay {
                    transform: translateY(0);
                }
            }
        }
        .effect {
            font-size: 1.2rem;
        }

// =============sec03 end============
}

// =============sec04================
.sec04{
    padding-bottom: 100px;
    .sec04_titleform{
        margin-bottom: 40px;
        .sec04_title{
            font-family:  map-get(variables.$title, font-family);
            font-size:  map-get(variables.$title, font-size);
            font-weight:  map-get(variables.$title, font-weight);
            color: map-get(variables.$title,color);
        }
        .sec04_subtitle{
            font-family:  map-get(variables.$subtitle, font-family);
            font-size:  map-get(variables.$subtitle, font-size);
            font-weight:  map-get(variables.$subtitle, font-weight);
            color: map-get(variables.$subtitle,color)
        }
    }
    .sec04_slideform{
        .sec04_card{
            padding: 40px 130px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: variables.$basic-bg;
            border-radius: 30px;
            .sec04_content{
                .sec04_c_title{
                    font-family:  map-get(variables.$subtitle, font-family);
                    font-size:  1.4rem;
                    font-weight:  map-get(variables.$subtitle, font-weight);
                    color: map-get(variables.$title,color);
                    margin-bottom: 40px;
                }
                .sec04_c_list{
                    font-family:  map-get(variables.$content, font-family);
                    font-size: 1.2rem;
                    font-weight:  map-get(variables.$content, font-weight);
                    color: map-get(variables.$content,color);
                    line-height: 200%;
                }
            }
            .sec04_img{
                .sec04_card01{
                    width: 100%;
                    height: 24vh;
                    border-radius: 30px;
                }
            }
        }
    }
    .next:after,.prev:after{
        color: #ffa500;
    }
}


// =============sec04 end============

@media (max-width:1440px){
    .sec04{
        .sec04_slideform{
            .sec04_card {
                padding: 40px 160px;
                .sec04_img{
                    .sec04_card01{
                        height: 36vh;
                    }
                }
            }
        }
    }
}
    






@media (max-width:1280px){

// =============sec01====================
.sec01{
    .sec01_bg01,.sec01_bg02,.sec01_bg03{
        height: 560px;
        .sec01_content{
            .sec01_title{
                font-size: 2.2rem;
            }
            .sec01_subtitle{
                font-size: 1.2rem;
            }
        }
    }
}
// =============sec01 end==================

// =============sec02======================
.sec02{
    .sec02_titleform{
            margin-bottom: 45px;
        .sec02_title{
            font-size: 2.2rem;
            margin-bottom: 0.6rem;
        }
        .sec02_subtitle{
            font-size: 1.2rem;
        }
    }
}
// =============sec02 end==================

// =============sec03======================
.sec03{
    .sec03_title{
        font-size: 2.2rem;
    }
    .sec03_tab{
        .sec03_theme{

        }
    }
    .tab-content{
        display: none;
        margin: 30px 0 40px;
        .sec03_cardForm{
            .sec03_card{
                .sec03_card01{
                    height: 360px;
                }
                .sec03_card_overlay{
                    .desc{
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}
// =============sec03 end==================

// =============sec04======================
.sec04{
    .sec04_titleform{
        .sec04_title{
            font-size: 2.2rem;
            margin-bottom: 0.5rem;
        }
        .sec04_subtitle{
            font-size: 1.2rem;
        }
    }
    .sec04_slideform{
        .sec04_card{
            .sec04_content{
                .sec04_c_title{
                    margin-bottom: 20px;
                }
            }
            .sec04_img{
                .sec04_card01{
                    height: 33vh;
                }
            }
        }
    }
    .next:after,.prev:after{
        font-size: 2.2rem;
    }
}
// =============sec04 end==================
}

@media (max-width:1199px){
    .sec01{
    .sec01_bg01,
    .sec01_bg02,
    .sec01_bg03{
        height: 500px;
        .sec01_content{
            .sec01_title{
                font-size: 1.9rem;
            }
            .sec01_subtitle{
                font-size: 1rem;
            }
        }
    }
    .next:after, .prev:after{
        font-size: 1.5rem;
    }
}
    .sec02 {
        padding: 80px 0;
        .sec02_titleform{
            .sec02_title {
                font-size: 1.9rem;
                margin-bottom: 0.6rem;
            }
            .sec02 .sec02_titleform .sec02_subtitle {
                font-size: 1rem;
            }
        }
    }

    .sec03{
        .sec03_title {
            font-size: 1.9rem;
        }
    } 

    .sec04{
        .sec04_titleform{
            .sec04_title {
                font-size: 1.9rem;
                margin-bottom: 0.5rem;
            }
            .sec04_subtitle{
                font-size: 1rem;
            }
        }
        .sec04_slideform{
            .sec04_card{
                padding: 40px 80px;
                .sec04_content{
                    .sec04_c_title{
                        font-size: 1.2rem;
                        margin-bottom: 20px;
                    }
                    .sec04_c_list{
                        padding-left: 1rem;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}

@media (max-width:1024px){
    // =============sec01==================
    .sec01{
    .sec01_bg01,
    .sec01_bg02,
    .sec01_bg03{
        height: 450px;
        .sec01_content{
            .sec01_title{
                font-size: 1.9rem;
            }
            .sec01_subtitle{
                font-size: 1rem;
            }
        }
    }
    .next:after, .prev:after{
        font-size: 1.7rem;
    }
}
    // =============sec01 end==============

    // =============sec02==================
    .sec02 {
        padding: 80px 0;
        .sec02_titleform{
            .sec02_subtitle {
                font-size: 1rem;
            }
        }
        .sec02_contentform{
            .sec02_card01{
                .sec02-img{
                    margin-bottom: 28px;
                }
                .sec02__subcontent{
                    .sec02_c_title{
                        font-size: 1rem;
                    }
                    .sec02_content{
                        font-size: 0.9rem;
                        margin-bottom: 28px;
                    }
                    .sec02_c_btn{
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
    // =============sec02 end==============

    // =============sec03==================
    .sec03 {
        padding-bottom: 80px;
        .sec03_title {
            font-size: 1.9rem;
            margin-bottom: 25px;
        }
        .sec03_tab{
            .sec03_theme{
                i {
                    font-size: 2.1rem;
                }
                p {
                    font-size: 1rem;
                }
            }
        }
        .tab-content{
            margin: 25px 0;
            .sec03_cardForm {
                padding: 30px 0;
                .sec03_card{
                    .sec03_card01{
                        height: 300px; 
                    }
                    .sec03_card_overlay{
                        .title {
                            font-size: 1rem;
                        }
                        .desc {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
        .effect {
            font-size: 1rem;
            padding: 0.6rem;
            min-width: 10rem;
        }
    }
    // =============sec03 end==============

    // =============sec04==================
    .sec04{
        padding-bottom: 80px;
        .sec04_titleform{
            .sec04_title{
                font-size: 1.9rem;
                margin-bottom: 0.5rem;
            }
            .sec04_subtitle{
                font-size: 1rem;
            }
        }
        .sec04_slideform{
            .sec04_card{
                .sec04_content{
                    .sec04_c_title{
                        font-size: 1rem;
                        margin-bottom: 20px;
                    }
                }   
                .sec04_img{
                    .sec04_card01{
                        height: 37vh;
                    }
                }
            }
        }
        .next:after,.prev:after{
            font-size: 1.9rem;
        }
    }
    // =============sec04 end==============
}
  
@media (max-width:991px){
    .sec02{
        .sec02_contentform{
            .sec02_card01{
                padding: 1.5rem 1.2rem;
            }
        }
    }
    
    .sec04{
        .sec04_slideform{
            .sec04_card{
                .sec04_img{
                    .sec04_card01 {
                    height: 18vh;
                    }
                }
            }
        }
    }
}

@media (max-width:768px){
    // =============sec01===============
    .sec01{
    .sec01_bg01,
    .sec01_bg02,
    .sec01_bg03{
        height: 330px;
        .sec01_content{
            .sec01_title{
                font-size: 1.3rem;
                margin-bottom: 0.5rem;
            }
            .sec01_subtitle{
                font-size: 0.7rem;
            }
        }
    }
    .next:after, .prev:after{
        font-size: 1rem;
    }
}
    // =============sec01 end===========

    // =============sec02===============
    .sec02{
        padding: 60px 0;
        .sec02_titleform{
            margin-bottom: 35px;
            .sec02_title{
                font-size: 1.3rem;
                margin-bottom: 0.5rem;
            }
            .sec02_subtitle{
                font-size: 0.7rem;
            }
        }
        .sec02_contentform{
            .sec02_card01{
                .sec02-img {
                    margin-bottom: 22px;
                }
                .sec02__subcontent{
                    .sec02_c_title {
                        font-size: 0.8rem;
                    }
                    .sec02_content {
                        font-size: 0.7rem;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    // =============sec02 end===========

    // =============sec03===============
    .sec03 {
        padding-bottom: 60px;
        .sec03_title {
            font-size: 1.3rem;
            margin-bottom: 15px;
        }
        .sec03_tab{
            gap: 0 20px;
            .sec03_theme{
                i {
                    font-size: 1.5rem;
                    padding: 12px;
                }
                p {
                    font-size: 0.8rem;
                }
            }
        }
        .tab-content{
            margin: 20px 0;
            .sec03_cardForm {
                padding: 0;
                .sec03_card{
                    .sec03_card01{
                        height: 250px; 
                    }
                    .sec03_card_overlay{
                        .title {
                            font-size: 0.8rem;
                        }
                        .desc {
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }
        .effect {
            font-size: 0.8rem;
            padding: 0.4rem;
            min-width: 8rem;
        }
    }
    // =============sec03 end===========

    // =============sec04==============
    .sec04{
        padding-bottom: 60px;
        .sec04_titleform{
            .sec04_title{
                font-size: 1.3rem;
                margin-bottom: 0.5rem;
            }
            .sec04_subtitle{
                font-size: 0.7rem;
            }
        }
        .sec04_slideform{
            .sec04_card{
                padding: 40px 50px;
                margin: 0 12px;
                .sec04_content{
                    .sec04_c_title{
                        font-size: 0.8rem;
                        margin-bottom: 20px;
                    }
                    .sec04_c_list {
                        font-size: 0.7rem;
                    }
                }   
                .sec04_img{
                    .sec04_card01{
                        height: 21vh;
                    }
                }   
            }
        }
        .next:after,.prev:after{
            font-size: 1.2rem;
        }
    }
    // =============sec04 end===========
}

@media (max-width:540px){
    
    // =============sec01==============
    .sec01{
        .sec01_bg01,
        .sec01_bg02,
        .sec01_bg03{
            height: 250px;
            .sec01_content{
                .sec01_title{
                    font-size: 1.1rem;
                    margin-bottom: 0.7rem;
                }
                .sec01_subtitle{
                    font-size: 0.6rem;
                }
            }
        }
        .next:after, .prev:after{
            font-size: 0.8rem;
        }
    }
    // =============sec01 end===========

    // =============sec02===============
    .sec02{
        padding: 40px 0;
        .sec02_titleform{
            margin-bottom: 20px;
            .sec02_title{
                font-size: 1.1rem;
                margin-bottom: 0.5rem;
            }
            .sec02_subtitle{
                font-size: 0.6rem;
            }
        }
        .sec02_contentform{
            .sec02_card01{
                margin: 0 12px 24px;
                .sec02-img {
                    margin-bottom: 18px;
                }
                .sec02__subcontent{
                    .sec02_c_title {
                        font-size: 0.8rem;
                    }
                    .sec02_content {
                        font-size: 0.7rem;
                        margin-bottom: 15px;
                    }
                    .sec02_c_btn {
                        font-size: 0.7rem;
                        padding: 0.4rem 0.8rem;
                    }
                }
            }
        }
    }

    // =============sec02 end===========

    // =============sec03===============
    .sec03 {
        padding-bottom: 40px;
        .sec03_title {
            font-size: 1.1rem;
            margin-bottom: 0px;
        }
        .sec03_tab{
            gap: 0 20px;
            .sec03_theme{
                padding-top: 30px;
                i {
                    font-size: 1rem;
                    padding: 12px;
                }
                p {
                    font-size: 0.6rem;
                    margin: 16px 0;
                }
            }
        }
        .tab-content{
            margin: 10px 0;
            .sec03_cardForm {
                padding: 0;
                .sec03_card{
                    .sec03_card01{
                        height: 200px; 
                        margin-bottom: 20px;
                        border-radius: 30px;
                    }
                    .sec03_card_overlay{
                        
                        .title {
                            font-size: 0.7rem;
                        }
                        .desc {
                            font-size: 0.6rem;
                        }
                    }
                    &:hover .sec03_card_overlay {
                        transform: translateY(-25%);
                        padding: 18px;
                    }
                }
            }
        }
        .effect {
            font-size: 0.7rem;
            padding: 0.4rem;
            min-width: 8rem;
        }
    }
    // =============sec03 end=======
    // =============sec04===========
    .sec04{
        padding-bottom: 40px;
        .sec04_titleform{
            margin-bottom: 30px;
            .sec04_title{
                font-size: 1.1rem;
                margin-bottom: 0.5rem;
            }
            .sec04_subtitle{
                font-size: 0.6rem;
            }
        }
        .sec04_slideform{
            .sec04_card{
                padding: 26px 28px;
                margin: 0 12px;
                .sec04_content{
                    .sec04_c_title{
                        font-size: 0.7rem;
                        margin-bottom: 20px;
                    }
                    .sec04_c_list {
                        font-size: 0.6rem;
                    }
                }   
                .sec04_img{
                    .sec04_card01{
                        height: 18vh;
                    }
                }   
            }
        }
        .next:after,.prev:after{
            font-size: 0.8rem;
        }
    }
    // =============sec04 end=======
}

@media (max-width:402px){
    .sec04{
        .sec04_slideform{
            .sec04_card{
                flex-wrap: wrap-reverse;
                .sec04_content{
                    padding: 0 24px;
                    .sec04_c_title{
                        margin-bottom: 0.5rem;
                    }
                    .sec04_c_list{
                        margin-bottom: 0;
                    }
                }
                .sec04_img{
                    margin: 0 auto;
                    margin-bottom: 1rem;
                    width: 100%;
                    padding: 0 24px;
                }
            }
        }
    }  
}

@media (max-width:348px){

    // =============sec01=========
    .sec01{
        .sec01_bg01,
        .sec01_bg02,
        .sec01_bg03{
            height: 180px;
            .sec01_content{
                text-align: center;
                top: 38%;
                right: 30%;
                .sec01_title{
                    font-size: 0.9rem;
                    margin-bottom: 0.2rem;
                }
                .sec01_subtitle{
                    font-size: 0.5rem;
                }
            }
        }
        .next:after, .prev:after{
            font-size: 0.8rem;
        }
    }
    // =============sec01 end============

    // =============sec02================
    .sec02{
        padding: 30px 0;
        .sec02_titleform{
            margin-bottom: 15px;
            .sec02_title{
                font-size: 0.9rem;
                margin-bottom: 0.2rem;
            }
            .sec02_subtitle{
                font-size: 0.5rem;
            }
        }
        .sec02_contentform{
            .sec02_card01{
                padding: 1rem;
                .sec02-img {
                    margin-bottom: 15px;
                }
                .sec02__subcontent{
                    .sec02_c_title {
                        font-size: 0.6rem;
                        margin-bottom: 5px;
                    }
                    .sec02_content {
                        font-size: 0.5rem;
                        margin-bottom: 6px;
                    }
                    .sec02_c_btn {
                        font-size: 0.5rem;
                        padding: 0.3rem 0.6rem;
                    }
                }
            }
        }
    }
    // =============sec02 end============

    // =============sec03================
    .sec03 {
        padding-bottom: 30px;
        .sec03_title {
            font-size: 0.9em;
            margin-bottom: 0px;
            margin-left: 12px;
        }
        .sec03_tab{
            gap: 0 10px;
            .sec03_theme{
                padding-top: 20px;
                i {
                    font-size: 1rem;
                    padding: 8px;
                    border: 1px solid #ffe5bb;
                }
                p {
                    font-size: 0.5rem;
                    margin: 8px 0;
                }
            }
        }
        .tab-content{
            margin: 5px 0;
            .sec03_cardForm {
                padding: 0;
                .sec03_card{
                    .sec03_card01{
                        height: 200px; 
                        margin-bottom: 20px;
                        border-radius: 30px;
                    }
                    .sec03_card_overlay{
                        
                        .title {
                            font-size: 0.7rem;
                        }
                        .desc {
                            font-size: 0.6rem;
                        }
                    }
                    &:hover .sec03_card_overlay {
                        transform: translateY(-25%);
                        padding: 13px;
                    }
                }
            }
        }
        .effect {
            font-size: 0.7rem;
            padding: 0.4rem;
            min-width: 8rem;
        }
    }
    // =============sec03 end============

    // =============sec04================
    .sec04{
        padding-bottom: 30px;
        .sec04_titleform{
            margin-bottom: 15px;
            .sec04_title{
                font-size: 0.9rem;
                margin-bottom: 0.2rem;
            }
            .sec04_subtitle{
                font-size: 0.5rem;
            }
        }
        .sec04_slideform{
            .sec04_card{
                padding: 20px 25px;
                margin: 0 12px;
                flex-wrap: wrap-reverse;
                justify-content: center;
                .sec04_content{
                    .sec04_c_title{
                        font-size: 0.7rem;
                        margin-bottom: 12px;
                    }
                    .sec04_c_list {
                        font-size: 0.6rem;

                    }
                }   
                .sec04_img{
                    .sec04_card01{
                        height: 25vh;
                        margin-bottom: 20px;
                    }
                }   
            }
        }
        .next:after,.prev:after{
            font-size: 0.8rem;
        }
    }
    // =============sec04 end============
}