@use 'common';
@use 'variables';
@use 'component';



// =============header======================
.nav-form, .nav-form .gnb ul .gnb-list a .mark{
    background-color: #fff;
}
// =============header end=================

// =============sec01================
.sec01{
    .sec01_bg01 {
        position: relative;
        background-image: url('../images/findplace_sec01_bg01.png');
        background-size: cover;
        background-position: center;
        z-index: -1;
        height: 700px;
    }
   
    .sec01_bg02 {
        position: relative;
        background-image: url('../images/findplace_sec01_bg02.png');
        background-size: cover;
        background-position: center;
        z-index: -1;
        height: 700px;
    }

    .sec01_bg03 {
        position: relative;
        background-image: url('../images/findplace_sec01_bg03.png');
        background-size: cover;
        background-position: center;
        z-index: -1;
        height: 700px;
    }

    .sec01_content{
        position: absolute;
        top: 34%;
        right: 10%;
        color: white;
        text-align: right;
        z-index: 9999;

        .sec01_title{
            font-family: map-get(variables.$title, font-family);
            font-size: map-get(variables.$title, font-size);
            font-weight: map-get(variables.$title, font-weight);
            margin-bottom: 1.6rem;
        }

        .sec01_subtitle{
            font-family:  map-get(variables.$subtitle, font-family);
            font-size:  map-get(variables.$subtitle, font-size);
            font-weight:  map-get(variables.$subtitle, font-weight);
            margin-bottom: 1.6rem;
        }
    }

    .next:after, .prev:after{
        color: #fff;
    }
}
// =============sec01 end============

// =============sec02================
.sec02{
    padding: 100px 0;
    .sec02_titleform{
        margin-bottom: 50px;
        .sec02_title{
            font-family: map-get(variables.$title, font-family);
            font-size: map-get(variables.$title, font-size);
            font-weight: map-get(variables.$title,font-weight);
            color: map-get(variables.$title,color)  
        }

        .sec02_subtitle{
            font-family:  map-get(variables.$subtitle, font-family);
            font-size:  map-get(variables.$subtitle, font-size);
            font-weight:  map-get(variables.$subtitle, font-weight);
            color: map-get(variables.$subtitle,color)
        }
    }

    .sec02_contentform{
        .sec02_card01{
            border: 1px solid #d9d9d9;
            padding: 2rem;
            border-radius: 5px;
            .sec02-img{
                width: 100%;
                margin-bottom: 40px;
            }
            .sec02__subcontent{
                .sec02_c_title{
                    font-family:  map-get(variables.$content_title, font-family);
                    font-size:  map-get(variables.$content_title, font-size);
                    font-weight:  map-get(variables.$content_title, font-weight);
                    color: map-get(variables.$content_title,color);
                    margin-bottom: 10px;
                }
                .sec02_content{
                    font-family:  map-get(variables.$content, font-family);
                    font-size:  map-get(variables.$content, font-size);
                    font-weight:  map-get(variables.$content, font-weight);
                    color: map-get(variables.$content,color);
                    padding-left: 1rem;
                    margin-bottom: 40px;
                }
                .sec02_c_btn{
                    font-family:  map-get(variables.$content, font-family);
                    font-size:  map-get(variables.$content, font-size);
                    font-weight:  map-get(variables.$content, font-weight);
                    color: variables.$basic-c;
                    text-decoration: none;
                    border: 1px solid variables.$basic-c;
                    background-color: #ffff;
                    border-radius: 30px;
                    padding: 0.6rem 0.9rem;
                    transition: all 0.3s ease;
                }
                .sec02_c_btn:hover{
                    color: #fff;
                    background: variables.$basic-c;
                }
            }
        }
    }
}
// =============sec02 end============

// =============sec03================
.sec03{
    padding: 100px 0;

    .sec03_title{
        font-family: map-get(variables.$title, font-family);
        font-size: map-get(variables.$title, font-size);
        font-weight: map-get(variables.$title,font-weight);
        color: map-get(variables.$title,color);
        margin: 0;
        margin-bottom: 10px;
    }

    .sec03_theme{
        padding-top: 45px;
        cursor: pointer;
        i{
            font-size: 2.8rem;
            color: #ffe5bb;
            border-radius: 100px;
            padding: 20px;
            border: 2px solid #ffe5bb;
        }

        i:hover{
            background-color: #ffa500;
            color: #fff;
            transition-property: all;
            transition-duration: 1s;
            border: none;
        }

         &.active i {
            background-color: #ffa500;
            color: #fff;
            border: none;
        }

        p{
        font-family: map-get(variables.$content, font-family);
        font-size: map-get(variables.$content, font-size);
        font-weight: map-get(variables.$content,font-weight);
        color: map-get(variables.$content,color);
        margin-top : 25px;
        }

         &.active p {
            font-weight: bold;
            color: #ffa500;
        }
    }

        .tab-content{
            display: none;
            margin: 30px 0;
            &.on {
                display: block;
            }
            .sec03_card{
                position: relative;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 450px;
                }

                .sec03_card_overlay {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    padding: 20px;
                    background: rgba(255,255,255,.8); 
                    color: #272727;
                    transform: translateY(100%);
                    transition: transform 0.4s ease-in-out;

                    .title{
                        font-family: map-get(variables.$content_title, font-family);
                        font-size: map-get(variables.$content_title, font-size);
                        font-weight: map-get(variables.$content_title,font-weight);
                        color: map-get(variables.$content_title,color);
                        margin-bottom: 8px;
                    }
                    .desc{
                        font-family: map-get(variables.$content, font-family);
                        font-size: map-get(variables.$content, font-size);
                        font-weight: map-get(variables.$content,font-weight);
                        color: map-get(variables.$content,color);
                        margin: 0;
                    }
                }

                 &:hover .sec03_card_overlay {
                    transform: translateY(0);
                }
            }
        }
// =============sec03 end============
}

// =============sec04================
.sec04{
    .sec04_titleform{
        .sec04_title{
            font-family:  map-get(variables.$title, font-family);
            font-size:  map-get(variables.$title, font-size);
            font-weight:  map-get(variables.$title, font-weight);
            color: map-get(variables.$title,color);
        }
        .sec04_subtitle{
            font-family:  map-get(variables.$subtitle, font-family);
            font-size:  map-get(variables.$subtitle, font-size);
            font-weight:  map-get(variables.$subtitle, font-weight);
            color: map-get(variables.$subtitle,color)
        }
    }
}


// =============sec04 end============


@media (max-width:1280px){
    // =============header===================
    header{
        padding: 30px 82px;
    }

    header .logo-img{
        width: 80%;
    }

    header .sub_nav .nav_list {
        font-size: 1.2rem;
    }

    header .header_nav-icon i {
        font-size: 1.4rem;
    }
// =============header end===============

// =============sec01====================
.sec01 .sec01_bg01, 
.sec01 .sec01_bg02,
.sec01 .sec01_bg03 {
        height: 680px;
    }

.sec01 .sec01_content .sec01_title {
    font-size: 2.4rem;
}

.sec01 .sec01_content .sec01_subtitle {
    font-size: 1.2rem;
}

.sec01 .sec01_content .sec01_btn{
    font-size: 1rem;
    padding: 0.7rem 2rem;
}
// =============sec01 end==================

// =============sec02======================
.sec02 .sec02_title {
    font-size: 2.4rem;
    margin-bottom: 0.6rem;
}

.sec02 .sec02_subtitle {
    font-size: 1.2rem;
}

.sec02 .sec02_contentform .sec02_content .effect {
    width: 42%;
    font-size: 1rem;
}

.sec02 .effect.effect-5 {
    min-width: 10rem;
}
// =============sec02 end==================

// =============sec03======================
.sec03 .sec03_title {
    font-size: 2.4rem;
    margin-bottom: 30px;
}

.sec03 .tab-content {
    display: none;
    margin: 30px 0 40px;
}

.sec03 .tab-content .sec03_card img {
    height: 360px;
}
// =============sec03 end==================

// =============sec04======================
.sec04 .sec04_titleForm .sec04_title {
    font-size: 2.4rem;
}

.sec04 .sec04_titleForm .sec04_subtitle {
    font-size: 1.2rem;
}


// =============sec04 end==================

// =============footer===================
footer {
    padding: 40px 82px;
}
footer .footer_titleform .footer-logo {
    width: 80%;
} 
// =============footer end===============
}


@media (max-width:1024px){
    // =============header=================
    header {
        padding: 20px 45px;
    }

    header .logo-img {
        width: 70%;
    }

    header .sub_nav {
        gap: 0 85px;
    }

    header .sub_nav .nav_list {
        font-size: 1.1rem;
    }

    header .header_nav-icon {
    gap: 0 30px;
    }
    // =============header end=============

    // =============sec01==================
    .sec01 .sec01_bg01, 
    .sec01 .sec01_bg02,
    .sec01 .sec01_bg03 {
        height: 580px;
    }

    .sec01 .sec01_content .sec01_title {
        font-size: 2.2rem;
    }

    .sec01 .sec01_content .sec01_subtitle {
        font-size: 1.1rem;
    }

    .sec01 .sec01_content .sec01_btn{
        font-size: 1.1rem;
        padding: 0.7rem 2rem;
    }
    

    .sec01 .next:after, .sec01 .prev:after{
        font-size: 1.7rem;
    }
    // =============sec01 end==============

    // =============sec02==================
    .sec02 {
        padding: 80px 0;
    }

    .sec02 .sec02_title {
        font-size: 2.2rem;
    }

    .sec02 .sec02_subtitle {
        font-size: 1.1rem;
    }

    .sec02 .sec02_contentform .sec02_content {
        padding: 24px 25px;
        gap: 16px 0;
    }

    .sec02 .sec02_contentform .sec02_content .sec02_content_title {
        font-size: 1.1rem;
    }

    .sec02 .sec02_contentform .sec02_content .sec02_contentlist {
        font-size: 1rem;
    }

    .sec02 .sec02_contentform .sec02_content .effect {
        width: 46%;
    }
    // =============sec02 end==============

    // =============sec03==================
    .sec03 {
        padding: 80px 0;
    }

    .sec03 .sec03_title {
        font-size: 2.2rem;
        margin-bottom: 25px;
    }

    .sec03 .sec03_cardForm {
        padding: 30px 0;
    }

    .sec03 .tab-content {
        margin: 25px 0;
    }

    .sec03 .tab-content .sec03_card img {
        height: 330px;
    }

    .sec03 .sec03_theme i {
        font-size: 2.1rem;
    }

    .sec03 .sec03_theme p {
        font-size: 1rem;
    }

    .sec03 .tab-content .sec03_card .sec03_card_overlay .title {
        font-size: 1.1rem;
    }

    .sec03 .tab-content .sec03_card .sec03_card_overlay .desc {
        font-size: 1rem;
    }

    .sec03 .effect {
        font-size: 1.1rem;
        padding: 0.6rem;
    }
    // =============sec03 end==============

    // =============sec04==================
    .sec04 .sec04_titleForm .sec04_title {
        font-size: 2.2rem;
        margin-bottom: 10px;
    }

    }
    .sec04 .image-box .image-item {
        width: 250px;
        margin: 0 20px;
        text-align: center;
        font-family: sans-serif;
    }

    .sec04 .sec04_titleForm .sec04_subtitle {
        font-size: 1.1rem;
    }

    
    .sec04 .image-box .image-item .caption .sec04-c-title {
        font-size: 1.1rem;
        margin-bottom: 0.7rem;
    }

    .sec04 .image-box .image-item .caption {
        margin-top: 24px;
    }
    // =============sec04 end==============

    // =============footer================
     footer{
        padding: 50px 45px;
     }

    footer .footer_titleform .footer-logo {
        width: 70%;
    }
     footer .footer_titleform .footer_menu .footer_menulist {
            font-size: 0.9rem;
    }

    footer .footer_content .footer_contentlist {
        font-size: 0.9rem;
    }

    footer .footer_content .footer_contentlist li:not(:first-of-type) {
        padding-left: 25px;
    }

    footer .footer_content .footer_contentlist li:not(:last-of-type) {
        padding-right: 25px;
    }

    footer .footer_copy {  
    font-size: 0.9rem;
    }
    // =============footer end=============


// @media (max-width:858px){
//     header .sub_nav .nav_list {
//         font-size: 0.9rem;
//     }
//     header .sub_nav {
//         gap: 0 65px;
//     }
// }

@media (max-width:768px){
    // =============header===============
    header {
        padding: 20px 38px;
    }

    header .logo-img {
        width: 50%;
    }

    header .sub_nav .nav_list {
        font-size: 0.9rem;
    }

    header .sub_nav {
        gap: 0 65px;
    }

    header .header_nav-icon {
        display: none;
    }
    // =============header end===========

    // =============sec01===============
    .sec01 .sec01_bg01, 
    .sec01 .sec01_bg02,
    .sec01 .sec01_bg03 {
        height: 400px;
    }
    .sec01 .sec01_content .sec01_title {
        font-size: 1.8rem;
    }

    .sec01 .sec01_content .sec01_subtitle {
        font-size: 0.8rem;
    }

    .sec01 .sec01_content .sec01_btn{
        font-size: 0.7rem;
        padding: 0.5rem 1.6rem;
    }

    .sec01 .next:after,.sec01 .prev:after{
        font-size: 1.2rem;
    }
    // =============sec01 end===========

    // =============sec02===============
    .sec02 {
        padding: 60px 0;
    }

    .sec02 .sec02_title {
        font-size: 1.8rem;
    }

    .sec02 .sec02_subtitle {
        font-size: 0.8rem;
    }

    .sec02 .sec02_contentform .sec02_content {
        padding: 24px 25px;
        gap: 0;
    }

    .sec02 .sec02_contentform .sec02_content .sec02_content_title {
        font-size: 0.8rem;
    }

    .sec02 .sec02_contentform .sec02_content .sec02_contentlist {
        font-size: 0.7rem;
    }

    .sec02 .sec02_contentform .sec02_content .effect {
        font-size: 0.8rem;
        padding: 0.4rem;
    }
    // =============sec02 end===========

    // =============sec03===============
    .sec03 {
        padding: 60px 0;
    }

    .sec03 .sec03_title {
        font-size: 1.8rem;
        margin-bottom: 15px;
    }

    .sec03 .tab-content {
        margin: 15px 0;
    }

    .sec03 .sec03_theme i {
        font-size: 1.9rem;
        padding: 10px;
    }

    .sec03 .sec03_theme {
        padding-top: 30px;
    }

    .sec03 .sec03_cardForm {
        padding: 15px 0;
    }

    .sec03 .sec03_theme p {
    font-size: 0.8rem;
    }

    .sec03 .tab-content .sec03_card img {
        height: 250px;
    }

    .sec03 .tab-content .sec03_card .sec03_card_overlay .title {
        font-size: 0.8rem;
    }

    .sec03 .tab-content .sec03_card .sec03_card_overlay .desc {
        font-size: 0.7rem;
    }

    .sec03 .effect {
        font-size: 0.8rem;
        padding: 0.4rem;
    }

    .sec03 .effect.effect-5 {
        min-width: 10rem;
    }
    // =============sec03 end===========

    // =============sec04==============
    .sec04 .sec04_titleForm .sec04_title {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }


    // =============sec04 end===========



}

@media (max-width:540px){
    // =============header================
    header {
        padding: 20px 12px;
    }

    header .logo-img {
        width: 48%;
    }

    header .sub_nav {
        display: none;
    }

    header .header_nav-icon {
        display: block;
    }

    header .header_nav-icon .hamburger {
        display: block;
    }

    header .header_nav-icon i {
        display: none;
    }
    // =============header end============
    
    // =============sec01==============
    .sec01 .sec01_bg01, 
    .sec01 .sec01_bg02,
    .sec01 .sec01_bg03 {
        height: 330px;
    }

    .sec01 .sec01_content{
        top: 25%;
        right: 10%;
    }

    .sec01 .sec01_content .sec01_title {
        font-size: 1.4rem;
        margin-bottom: .8rem;
    }

    .sec01 .sec01_content .sec01_subtitle {
        font-size: 0.8rem;
    }

    .sec01 .sec01_content .sec01_btn{
        font-size: 0.7rem;
        padding: 0.4rem 1.3rem;
    }
    // =============sec01 end===========

    // =============sec02===============
    .sec02 {
        padding: 40px 0;
    }

    .sec02 .sec02_title {
        font-size: 1.4rem;
    }

    .sec02 .sec02_subtitle {
        font-size: 0.8rem;
    }

    .sec02 .sec02_contentform{
        flex-wrap: wrap;
        padding: 1rem;
    }

    .sec02 .sec02_contentform .sec02_content{
        padding: 24px 10px;
    }

    .sec02 .sec02_contentform .sec02_content .sec02_content_title {
        font-size: 0.8rem;
    }

    .sec02 .sec02_contentform .sec02_content .sec02_contentlist {
        font-size: 0.7rem;
        padding-left: 0.5rem;
    }

    .sec02 .sec02_contentform .sec02_content .sec02_contentlist li {
        line-height: 1.3rem;
    }

    .sec02 .sec02_contentform .sec02_content .effect {
        font-size: 0.7rem;
    }

    .sec02 .effect.effect-5 {
        min-width: 9rem;
    }
    // =============sec02 end===========

    // =============sec03===============
    .sec03 {
        padding: 40px 0;
    }

    .sec03 .sec03_title {
        font-size: 1.4rem;
        margin-bottom: 10px;
    }

    .sec03 .sec03_theme p {
        font-size: 0.7rem;
        margin-top: 18px;
    }

    .sec03 .tab-content {
        margin: 10px 0;
    }

    .sec03 .sec03_cardForm {
        gap: 20px 0;
    }

    .sec03 .effect {
        font-size: 0.9rem;
        padding: 0.4rem;
    }
    // =============sec03 end===========





}

@media (max-width:348px){
    // =============header==========
    header .logo-img {
        width: 38%;
    }

    header .header_nav-icon i {
        font-size: 1rem;
    }
    // =============header end======

    // =============sec01=========
    .sec01 .sec01_bg01, 
    .sec01 .sec01_bg02,
    .sec01 .sec01_bg03 {
        height: 230px;
    }

    .sec01 .sec01_content .sec01_title {
        font-size: 0.9rem;
        
    }

    .sec01 .sec01_content .sec01_subtitle {
        font-size: 0.6rem;
    }

    .sec01 .sec01_content .sec01_btn{
        font-size: 0.6rem;
        padding: 0.3rem 0.7rem;
    }
    // =============sec01 end============

    // =============sec02================
    .sec02 .sec02_title {
        font-size: 0.9rem;
        margin-bottom: 0.2rem;
    }

    .sec02 .sec02_subtitle {
        font-size: 0.6rem;
    }

    .sec02 .sec02_contentform .sec02_content {
        padding: 24px 0 0 10px;
    }

    .sec02 .sec02_contentform .sec02_content .sec02_content_title {
        font-size: 0.6rem;
    }

    .sec02 .sec02_contentform .sec02_content .sec02_contentlist li {
        line-height: 1.2rem;
        font-size: 0.5rem;
    }

    .sec02 .sec02_contentform .sec02_content .effect {
        font-size: 0.6rem;
        padding: 0.2rem;
    }

    .sec02 .effect.effect-5 {
        min-width: 8rem;
    }
    // =============sec02 end============

    // =============sec03================
    .sec03 .sec03_title {
        font-size: 0.9rem;
    }

    .sec03 .sec03_theme i {
        font-size: 1.5rem;
        padding: 7px;
    }

    .sec03 .sec03_theme p {
        font-size: 0.6rem;
        margin-top: 18px;
    }

    .sec03 .tab-content .sec03_card .sec03_card_overlay .title {
        font-size: 0.6rem;
    }

    .sec03 .tab-content .sec03_card .sec03_card_overlay .desc {
        font-size: 0.5rem;
    }

    .sec03 .effect {
        font-size: 0.6rem;
    }

    .sec03 .effect.effect-5 {
        min-width: 7rem;
    }
    // =============sec03 end============

    // =============sec04================

    // =============sec04 end============



}