@use 'common';
@use 'variables';
@use 'component';

// =============header======================
.nav-form, .nav-form .gnb ul .gnb-list a .mark{
    background-color: #fff;
}
// =============header end=================

// =============sec01================
.sec01{
    padding: 100px 0;
    .sec01-titleform{
        .sec01_title{
        font-family: map-get(variables.$title, font-family);
        font-size: map-get(variables.$title, font-size);
        font-weight: map-get(variables.$title, font-weight);
        color: map-get(variables.$title, color);
        .none{
            display: none;
        }
        }
    }

    .sec01_card-form{
        position: relative;
        border-radius: 30px;
    
        .sec01_c-content{
            width: 100%;
            height: 40vh;
            z-index: 0;
        }

        p{
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            position: absolute;
            z-index:999;
            width: 100%;
            height: 100%;
            bottom: 5%;
            color: #fff;
            right: 5%;
            font-size: map-get(variables.$content_title, font-size);
            font-weight: map-get(variables.$content_title, font-weight);
            font-family: map-get(variables.$content_title, font-family);
        }
    }

    .sec01_card-form::after{
        content: "";
        border-radius: 30px;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.2s ease-in-out;
        z-index: 99;
    }   

    .sec01_card-form:hover::after{
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 30px;
        position: absolute;
        z-index: 1;
    }
}
//=============sec01 end============

//=============sec02============
.sec02{
    padding: 80px 0;
    .titleform{
        .title{
            font-family: map-get(variables.$title, font-family);
            font-size: map-get(variables.$title, font-size);
            font-weight: map-get(variables.$title, font-weight);
            color: map-get(variables.$title, color);
        }
        .subtitle{
            font-family: map-get(variables.$subtitle, font-family);
            font-size: map-get(variables.$subtitle, font-size);
            font-weight: map-get(variables.$subtitle,font-weight);
            color: map-get(variables.$subtitle,color);
            margin-bottom: 30px;
        }
    }
    .sec02_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
        cursor: pointer;
    }

    .h-4 {
        height: 308px;
        overflow: hidden;
    }

    .h-8{
        height: 640px;
        overflow: hidden;
    }

    .p-0{
        padding: 0;
    }

    .g-24{
        gap: 24px 0;
    }

    .mt-24{
        margin-top: 24px;
    }

    .fadein, .fadein02{
        display: none;
    }

    .modal{
        .modal_img{
            // width: 29rem;
            width: 100%;
            height: 22rem;
            object-fit: cover;
            border-radius: 30px;
        }
    }
}


//=============sec02 end============

@media (max-width:1280px) {
    .sec01{
        padding: 60px 0;
        .sec01-titleform{
            margin-bottom: 60px;
            .sec01_title{
                font-size: 2.4rem;
            }
        }

        .sec01_card-form{
            .sec01_c-content{
                height: 40vh;
            }
            p{
                bottom: 1%;
                font-size: 1.2rem;
            }
        }
    }

    .sec02{
    padding: 60px 0;
        .titleform{
            .title{
                font-size: 2.4rem;
            }
            .subtitle{
                font-size: 1.2rem;
            }
        }
    
        .modal{
            .modal_img{
                height: 22rem;
                object-fit: cover;
                border-radius: 30px;
            }
        }
    }
}

@media (max-width:1024px){
    .sec01 {
        padding: 45px 0;
        
        .sec01-titleform{
            .sec01_title {
                font-size: 2rem;
            }
        }
        .sec01_card-form{
            p {
                font-size: 1.2rem;
            }
            .sec02_c-content {
                height: 20vh;
            }
        }
    }

    .sec02{
    padding: 45px 0;
        .titleform{
            .title{
                font-size: 2rem;
                margin-bottom: 0.2rem;
            }
            .subtitle{
                font-size: 1.2rem;
            }
        }

        .h-4 {
            height: 230px;
        }

        .h-8{
            height: 480px;
        }

        .modal{
            .modal_img{
               
            }
        }
    }
}

@media (max-width:767px){
    .sec02{
        .container{
            .row{
                gap: 20px;
                .img_modal_content{
                    height: 320px;
                    width: 520px;
                }
            }
        }
    }
}
 
@media (max-width:768px){
     .sec01 {
        padding: 35px 0;

        .sec01-titleform {
            margin-bottom: 40px;

            .sec01_title {
                font-size: 1.4rem;
                margin-bottom: 0.3rem;
            }
            
        }
        .sec01_card-form{
            p{
                font-size: 0.9rem;
            }
        }
    }

    .sec02{
    padding: 45px 0;
        .titleform{
            .title{
                font-size: 1.4rem;
                margin-bottom: 0.2rem;
            }
            .subtitle{
                font-size: 0.9rem;
            }
        }

        .h-4 {
            height: 170px;
        }

        .h-8{
            height: 360px;
        }

        .g-24{
            gap: 20px 0;
        }

        .p-10{
            padding: 0 10px;
        }

        .mt-24{
            margin-top: 20px;
        }

        .modal{
            .modal-title{
                font-size: 1.2rem;
            }
            .modal-body p{
                font-size: 0.9rem;
            }
            .modal_img{
            }
        }
    }
}

@media (max-width:540px){
    .nav-form{
        .gnb{
            ul.open{
                background: #fff;
            }
        }
    }   
    .sec01 {
        padding: 45px 0;
        .sec01-titleform {
            margin-bottom: 45px;
        }
        .sec01_card-form{
            .sec01_c-content {
                height: 30vh;
            }
            p {
                font-size: 0.8rem;
            }
        }
        .sec01_card-form:hover::after {
            border-radius: 13px;
        }
    }

    .sec02{
        .h-4, .h-8{
            height: 280px;
        }

        .g-24{
            gap: 24px 0;
        }

        .p-10{
            padding: 0 12px;
        }

        .mt-24{
            margin-top: 24px;
        }

        .mb-24{
            margin-bottom: 24px;
        }

        .modal{
            .modal-title{
                font-size: 1rem;
            }
            .modal-body p{
                font-size: 0.8rem;
            }
            .modal_img{
            }
        }
    }
}

@media (max-width:402px){
    .sec01{
        .sec01-titleform{
            .sec01_title{
                .none{
                    display: block;
                }
            }
        }
    }

     .sec02{
        .modal{
            .modal_img{
               height: 14rem;
            }
        }
    }
}

@media (max-width:348px){
    .sec01 {
        padding: 30px 0;
        .sec01-titleform{
            margin-bottom: 35px;
            .sec01_title {
                font-size: 1rem;
            }
        }
        .swiper {
            padding: 0 20px;
        }
        
        .sec01_card-form{
            .sec01_c-content {
                height: 26vh;
            }
            p {
                font-size: 0.7rem;
                margin-bottom: 0.5rem;
            }
        }
    }

     .sec02{
        .titleform{
            margin-bottom: 35px;
            .title{
                font-size: 1rem;
                margin-bottom: 0.2rem;
            }
            .subtitle{
                font-size: 0.7rem;
            }
        }
        .h-4, .h-8{
            height: 220px;
        }

        .g-24{
            gap: 20px 0;
        }

        .p-10{
            padding: 0 10px;
        }

        .mt-24{
            margin-top: 20px;
        }

        .mb-24{
            margin-bottom: 20px;
        }

        .modal{
            .modal-title{
                font-size: 1rem;
            }
            .modal-body p{
                font-size: 0.7rem;
            }
            .modal_img{
               
            }
        }
    }
}