@use 'variables';
@use 'component';



// =============header======================
header{
    background-color: #fff;
    align-items: center;
    padding: 40px 65px;
    .sub_nav{
            display: flex;
            padding: 0;
            list-style: none;
            gap: 100px;
            margin: 0;

        li{
            position: relative;
            z-index: 999999;
        }
        .nav_list{
            text-decoration: none;
            font-family: map-get(variables.$gnb, font-family);
            font-weight: map-get(variables.$gnb, font-weight);
            font-size: map-get(variables.$gnb, font-size);
            color : map-get(variables.$gnb, color);
        }

        .nav_list:hover{
            color: variables.$basic-c;
        }

        .orange{
            color: variables.$basic-c;
        }
    }       
}
// =============header end==================

// =============sec01=======================
.sec01{
    .container{
       .sec01_image{
        width: 100%;
       }
        
        .sec01_form{
            display: flex;
            align-items: center;

             .sec01_title{
            font-family: map-get(variables.$title, font-family);
            font-size: map-get(variables.$title, font-size);
            font-weight: map-get(variables.$title, font-weight);
            }

            .sec01_subtitle{
            font-family:  map-get(variables.$subtitle, font-family);
            font-size:  map-get(variables.$subtitle, font-size);
            font-weight:  map-get(variables.$subtitle, font-weight);
            }

            .sec01_content{
            font-family:  map-get(variables.$content, font-family);
            font-size:  map-get(variables.$content, font-size);
            font-weight:  map-get(variables.$content, font-weight);
            }
        }
    }
}
// =============sec01 end==================


// =============sec02======================
.sec02{
    padding-top: 10rem;
    padding-bottom: 13rem;

    .sec02_keyword{
        font-size: 15rem;
        font-weight: 600;
        color: variables.$gray-font;
        opacity: 20%;
        position: relative;
        z-index: -1;
    }

    .sec02_title{
            position: absolute;
            z-index: 9999;
            font-family: "Paperlogy";
            font-weight: 700;
            color: #272727;
            font-size: 3.2rem;
            text-align: right;
            right: 22%;
            top: 183%;
            span{
                color: variables.$basic-c
            }
    }
}
// =============sec02 end==================


// =============sec03======================


// =============sec03 end==================


// =============sec04======================

// =============sec04 end==================






@media (max-width:1280px){
    // =============header===================
    header{
        padding: 30px 82px;
    }

    header .logo-img{
        width: 80%;
    }

    header .sub_nav .nav_list {
        font-size: 1.2rem;
    }

    header .header_nav-icon i {
        font-size: 1.4rem;
    }
// =============header end===============

// =============sec01===================
    .sec01 .container .sec01_form {
            margin-top: 2.5rem !important;
    }
    .sec01 .container .sec01_form .sec01_title {
        font-size: 2.4rem;
        margin-bottom: 0.6rem;
    }

    .sec01 .container .sec01_form .sec01_subtitle {
        font-size: 1.2rem;
    }

    .sec01 .container .sec01_form .sec01_content {
        font-size: 1rem;
    }  
// =============sec01 end===============

// =============sec02===================
    .sec02 {
        padding-top: 7rem;
        padding-bottom: 8rem;
    }

    .sec02 .sec02_keyword {
        font-size: 14rem;
    }

    .sec02 .sec02_title {
        font-size: 2.4rem;
        top: 157%;
        right: 21%;
    }
// =============sec02 end===============
    



// =============footer===================
footer {
    padding: 40px 82px;
}
footer .footer_titleform .footer-logo {
    width: 80%;
} 
// =============footer end===============

}


@media (max-width:1024px){
    // =============header=================
    header {
        padding: 20px 45px;
    }

    header .logo-img {
        width: 70%;
    }

    header .sub_nav {
        gap: 0 85px;
    }

    header .sub_nav .nav_list {
        font-size: 1.1rem;
    }

    header .header_nav-icon {
    gap: 0 30px;
    }
    // =============header end=============

    // =============sec01=================
    .sec01 .container .sec01_form .sec01_title {
        font-size: 2.2rem;
        margin-bottom: 0.5rem;
    }
    
    .sec01 .container .sec01_form .sec01_subtitle {
        font-size: 1.1rem;
    }
    // =============sec01 end=============

    // =============sec02=================
    .sec02 {
        padding-top: 5rem;
        padding-bottom: 6rem;
    }

    .sec02 .sec02_keyword {
        font-size: 11rem;
    }

    .sec02 .sec02_title {
        font-size: 2.2rem;
        top: 129%;
    }
    // =============sec02 end=============




     // =============footer================
     footer{
        padding: 50px 45px;
     }

    footer .footer_titleform .footer-logo {
        width: 70%;
    }
     footer .footer_titleform .footer_menu .footer_menulist {
            font-size: 0.9rem;
    }

    footer .footer_content .footer_contentlist {
        font-size: 0.9rem;
    }

    footer .footer_content .footer_contentlist li:not(:first-of-type) {
        padding-left: 25px;
    }

    footer .footer_content .footer_contentlist li:not(:last-of-type) {
        padding-right: 25px;
    }

    footer .footer_copy {  
    font-size: 0.9rem;
    }
    // =============footer end=============
}


@media (max-width:768px){
    // =============header===============
    header {
        padding: 20px 38px;
    }

    header .logo-img {
        width: 50%;
    }

    header .sub_nav .nav_list {
        font-size: 0.9rem;
    }

    header .sub_nav {
        gap: 0 65px;
    }

    header .header_nav-icon {
        display: none;
    }
    // =============header end===========

    // =============sec01================
    .sec01 .container .sec01_form {
        margin-top: 1.8rem !important;
    }

    .sec01 .container .sec01_form .sec01_title {
        font-size: 2rem;
        margin-bottom: 0.3rem;
    }

    .sec01 .container .sec01_form .sec01_subtitle {
        font-size: 0.8rem;
    }

    .sec01 .container .sec01_form .sec01_content {
        font-size: 0.8rem;
    }
    // =============sec01 end============

    // =============sec02================
    .sec02 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .sec02 .sec02_keyword {
        font-size: 9rem;
    }

    .sec02 .sec02_title {
        font-size: 2rem;
        top: 103%;
        right: 17%;
        line-height: 40px;
    }
    // =============sec02 end============








    // =============footer=================
    footer {
        padding: 30px 45px;
    }
    footer .footer_titleform .footer-logo {
        width: 47%;
    }

    footer .footer_titleform .footer_menu .footer_menulist {
        font-size: 0.7rem;
    }

    footer .footer_titleform { 
    margin-bottom: 30px;
    }

    footer .footer_content {
    margin-bottom: 10px;
    }

    footer .footer_content .footer_contentlist {
        font-size: 0.7rem;
        margin-bottom: 10px;
    }
    
    footer .footer_copy{
        font-size: 0.7rem;
        margin: 0;
    }
    // =============footer end=============
}


@media (max-width:540px){
    // =============header================

    header {
        padding: 20px 12px;
    }

    header .logo-img {
        width: 48%;
    }

    header .sub_nav {
        display: none;
    }

    header .header_nav-icon {
        display: block;
    }

    header .header_nav-icon .hamburger {
        display: block;
    }

    header .header_nav-icon i {
        display: none;
    }
    // =============header end============

    // =============sec01================
    .sec01 .container .sec01_form {
        margin-top: 1.1rem !important;
    }

    .sec01 .container .sec01_form .sec01_title {
        font-size: 1.7rem;
    }

    .sec01 .container .sec01_form .sec01_subtitle {
        font-size: 0.7rem;
        margin-bottom: 0.6rem;
    }
        
    .sec01 .container .sec01_form .sec01_content {
        font-size: 0.7rem;
    }
    // =============sec01 end============


    // =============sec02================
    .sec02 .sec02_keyword {
        font-size: 7rem;
    }

    .sec02 .sec02_title {
        font-size: 1.7rem;
        top: 91%;
        right: 15%;
    }
    // =============sec02 end============



    // =============footer==============
    footer {
        padding: 20px 12px;
    }

    footer .footer_titleform {
        margin-bottom: 15px;
    }

    footer .footer_titleform .footer-logo {
        width: 38%;
    }

    footer .footer_titleform .footer_menu .footer_menulist {
        display: none;
    }

    footer .footer_content .footer_contentlist {
        font-size: 0.5rem;
        margin-bottom: 10px;
    }

    footer .footer_copy {
        font-size: 0.5rem;
    }
    // =============footer end==========
}


@media (max-width:348px){
    // =============header==========
    header .logo-img {
        width: 38%;
    }

    header .header_nav-icon i {
        font-size: 1rem;
    }
    // =============header end======

    // =============sec01============
    .sec01 .container .sec01_form .sec01_title {
        font-size: 0.9rem;
    }

    .sec01 .container .sec01_form {
        margin-top: 0.8rem !important;
    }

    .sec01 .container .sec01_form .sec01_subtitle {
        font-size: 0.6rem;
        margin-bottom: 0.4rem;
    }
    
    .sec01 .container .sec01_form .sec01_content {
        font-size: 0.6rem;
    }
    // =============sec01 end========

    // =============sec02============
    .sec02 {
        padding-top: 1.5rem;
        padding-bottom: 2.5rem;
    }

    .sec02 .sec02_keyword {
        font-size: 5rem;
    }

    .sec02 .sec02_title {
        font-size: 0.9rem;
        top: 73%;
        right: 12%;
        line-height: 1.3rem;
    }
    // =============sec02 end========








    // =============footer============
    footer .footer_titleform {
        margin-bottom: 8px;
    }

    footer .footer_titleform .footer-logo {
        width: 30%;
    }

    footer .footer_content {
        margin-bottom: 0px;
    }

    footer .footer_content .footer_contentlist {
        display: none;
    }
    // =============footer end========
}