@use 'variables';
@use 'component';

/* — 초기 숨김 설정 — */
#cover {
  display: flex;
}

.step-indicator,
.question-section,
.question_form,
.q-container,
#result-section .r-container,
#result-section {
  display: none;
}


/* — 기본 리셋 & 폰트 — */
html, body {
  margin: 0;
  padding: 0;
  font-family: "Paperlogy", sans-serif;
}


/* — 커버 섹션 — */
#cover {
  position: relative;
  align-items: center;
  height: 100vh;
  background: variables.$basic-bg;
  text-align: center;
  padding: 0 20px;
  display: flex;

  .container {
    margin: 0 auto;
    background-color: #fff;
    border: 7px solid variables.$basic-c;
    padding: 115px 0;
    border-radius: 30px;
    max-width: 1440px;
    

    .title {
      font-family: map-get(variables.$title, font-family);
      font-size: map-get(variables.$title, font-size);
      font-weight: map-get(variables.$title, font-weight);
      color: map-get(variables.$title, color);
      margin-bottom: 25px;
    }
    .subtitle {
      font-family: map-get(variables.$subtitle, font-family);
      font-size: 1.5rem;
      font-weight: map-get(variables.$subtitle, font-weight);
      color: map-get(variables.$subtitle, color);
      margin: 0;
      margin-bottom: 85px;
    }
    img {
      position: absolute;
      opacity: 0.5;
      width: 18%;
      top: 50%;
      right: 19%;
    }
    a {
      width: 18%;
      font-family: 'Paperlogy';
    }
  }
}

/* — 질문폼 전체 — */
.question_form {
  position: relative;
  align-items: center;
  height: 100vh;
  background: variables.$basic-bg;
  text-align: center;
  padding: 0 20px;
  /* display는 JS로 토글 */
  
  .q-container {
    background-color: #fff;
    margin: 0 auto;
    border: 7px solid variables.$basic-c;
    padding: 60px 90px;
    border-radius: 30px;
    width: 80%;

    .step-indicator {
      display: flex;
      justify-content: space-between;
      max-width: 640px;
      margin: 40px auto;

      .step {
        position: relative;
        text-align: center;
        font-family: map-get(variables.$subtitle, font-family);
        font-size: 1.5rem;
        font-weight: map-get(variables.$subtitle, font-weight);
        color: map-get(variables.$subtitle, color);
      }
      .step.active {
        color: variables.$basic-c;
        font-weight: 700;
        border-bottom: 2px solid variables.$basic-c;
      }
    }

    .question-section {
      max-width: 1440px;
      margin: 0 auto;
      padding: 40px 20px;

      .question-title {
        font-size: 2.1rem;
        font-weight: map-get(variables.$content_title, font-weight);
        color: map-get(variables.$content_title, color);
        margin-bottom: 60px;
      }
      .options {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 0 30px;

        li {
          margin-bottom: 30px;
          font-size: 1.2rem;
          background-color: variables.$basic-bg;
          padding: 0;
          border-radius: 30px;
          width: 48%;

          label{
            display: block;  
            padding: 30px 40px;   
            background-color: variables.$basic-bg;
            border-radius: 30px;
            width: 100%;
            height: 100%;
            cursor: pointer;         
      
            
          }
        }
      }
    } /* .question-section */

    input[type="radio"]:checked + & {
              border: 2px solid variables.$basic-c;
            }

    .btn_form {
      display: flex;
      margin-top: 30px;
      justify-content: center;
      gap: 0 30px;

      .btn-prev {
        padding: 12px 40px;
        font-size: 1.1rem;
        cursor: pointer;
        background: #fff;
        border: 1px solid #bdbdbd;
        color: variables.$gray-font;
        border-radius: 30px;
      }
      .btn-next {
        padding: 12px 40px;
        font-size: 1.1em;
        cursor: pointer;
        background: variables.$basic-c;
        color: #fff;
        border: none;
        border-radius: 30px;
      }
      .btn-next:disabled {
        background: #fff;
        border: 1px solid #bdbdbd;
        color: variables.$gray-font;
        cursor: not-allowed;
      }
    }

  } 
} 

/* — 결과 섹션 — */
#result-section {

  position: relative;
  align-items: center;
  height: 100vh;
  background: variables.$basic-bg;
  text-align: center;
  padding: 0 20px;
  display: flex;
  display: none;
  .r-container{
    background-color: #fff;
    margin: 0 auto;
    border: 7px solid variables.$basic-c;
    padding: 60px 90px;
    border-radius: 30px;
    max-width: 1440px;
    display: inherit;
    #result-title {
      font-size: 2.1rem;
      margin-bottom: 20px;
      font-weight: map-get(variables.$content_title, font-weight);
      color: map-get(variables.$content_title, color);
    }
    #result-text {
      font-size: 1.3rem;
      font-weight: map-get(variables.$content, font-weight);
      color: map-get(variables.$content, color);
      width: 65%;
      margin: 0 auto;
      margin-bottom: 25px;
    }
    #result-course {
      list-style: none;
      padding-left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 20px;
      margin-bottom: 40px;
      li{
        margin-bottom: 10px;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
    .effect{
        width: 16%;
        font-size: 1.2rem;
        font-family: 'Paperlogy';

        
    }
  }
}
// .btn-start{
//   display: none;
// }

@media(max-width : 1280px){
  #cover .container {
    max-width: 980px;
    padding: 95px 0;
    .title{
        font-size: 2.4rem;
        margin-bottom: 20px;
    }
    .subtitle{
      font-size: 1.4rem;
      margin-bottom: 60px;
    }
    img{
      top: 53%;
      right: 15%;
    }
    .effect{
      font-size: 1.3rem;
    }
  }
}

@media(max-width : 1024px){
  #cover .container {
    max-width: 850px;
    padding: 85px 0;
    .title{
        font-size: 2.2rem;
    }
    .subtitle{
      font-size: 1.2rem;
      margin-bottom: 65px;
    }
    img{
      top: 55%;
      right: 12%;
    }
    .effect{
      font-size: 1.2rem;
    }
  }
}

@media(max-width : 768px){
  #cover .container {
    max-width: 600px;
    padding: 65px 0;
    .title{
        font-size: 1.8rem;
    }
    .subtitle{
      font-size: 1.1rem;
      margin-bottom: 50px;
    }
    img{
      right: 14%;
    }
    .effect{
      font-size: 1.1rem;
    }
  }
}

@media(max-width : 540px){
  #cover .container {
    display: flex;
    flex-direction: column;
    .title{
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .subtitle{
              font-size: 0.9rem;
        margin-bottom: 40px;
    }
    img{
      display: none;
    }
    .effect{
      font-size: 0.9rem;
      margin: 0 auto;
    }
  }
}