@use 'variables';
@use 'component';



  body{
    font-family: 'pretendard';

    .basic-c{
        color: variables.$basic-c;
    }

    .point-c{
        color: variables.$point-c;
    }
  }
//==========header==============

//==========header end==========

//==========section 01==========
.sec01{
    background-color: variables.$basic-bg;
    padding: 50px 80px 100px;
    img{
        width: 100%;
    }

    .sec01-form{
        .sec01_title{
            font-family: map-get(variables.$title, font-family);
            font-size: 3.2vw;
            position: absolute;
            top: 30px;
            font-weight: map-get(variables.$title, font-weight);
            color: map-get(variables.$title, color);
            position: absolute;
            top: 22%;
            left: 7%;
            
                p{
                    margin: 0;
                }
                .basic-c{
                    color: variables.$basic-c;
                }
                .point-c{
                    color: variables.$point-c;
                }
        }

        .sec01_bg{
            position: relative;
        }
    }
}    
//==========section 01 end==========

//==========section 02==============
.sec02{
    .sec02-titleform{
        .sec02_title{
        font-family: map-get(variables.$title, font-family);
        font-size: map-get(variables.$title, font-size);
        font-weight: map-get(variables.$title, font-weight);
        color: map-get(variables.$title, color);
        }
    
        .sec02__subtitle{
        color: map-get(variables.$subtitle, color);
        font-size: map-get(variables.$subtitle, font-size);
        }
    }

    .sec02_card-form{
        position: relative;
        border-radius: 30px;
    
        .sec02_c-content{
            width: 100%;
            height: 40vh;
            z-index: 0;
        }

        p{
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            position: absolute;
            z-index:999;
            width: 100%;
            height: 100%;
            bottom: 5%;
            color: #fff;
            right: 5%;
            font-size: map-get(variables.$content_title, font-size);
            font-weight: map-get(variables.$content_title, font-weight);
            font-family: map-get(variables.$content_title, font-family);
        }
    }

    .sec02_card-form::after{
        content: "";
        border-radius: 30px;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.2s ease-in-out;
        z-index: 999999;
    }   

    .sec02_card-form:hover::after{
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 30px;
        position: absolute;
        z-index: 1;
    }
}
//==========section 02 end==========

//==========section 03==============
.sec03{
    .sec03_titleform{
        font-family: map-get(variables.$title, font-family);
        font-size: map-get(variables.$title, font-size);
        font-weight: map-get(variables.$title, font-weight);
        color: map-get(variables.$title, color);
    }
    
    .sec03__content{
        height: 32vw;
        display: flex;
        align-items: flex-end;
        color: #fff;
        margin: 0;
        border-radius: 30px;
        
        .sec03__subcontent{
            margin: 20px;
            p{
                font-size: map-get(variables.$content_title, font-size);
                font-weight: map-get(variables.$content_title, font-weight);
                color: #fff;
            }

            span{
                font-size: map-get(variables.$content, font-size);
                font-weight: map-get(variables.$content, font-weight);
                color: #fff;
            }
        }
    }
    
    .sec03_card01{
        background: url(../images/main_sec03-card01.png);
        background-position: center;
        background-size: cover;
    }
    .sec03_card02{
        background: url(../images/main_sec03-card02.png);
        background-position: center;
        background-size: cover;
    }
    .sec03_card03{
        background: url(../images/main_sec03-card03.png);
        background-position: center;
        background-size: cover;
    }
}
//==========section 03 end==========

//==========section 04==============
.sec04{
    background-color: variables.$basic-bg;
    .container{
        .sec04__titleContent{
            h2{
            font-family: map-get(variables.$title, font-family);
            font-size: map-get(variables.$title, font-size);
            font-weight: map-get(variables.$title, font-weight);
            color: map-get(variables.$title, color);
            }
        }
        .sec04__imgContent{
            display: flex;
            align-items: center;
            justify-content: end;
            }
        }
}
//==========section 04 end==========

//==========section 05==============
.sec05{
    .sec05_titleform{
        .sec05_title{
            font-family: map-get(variables.$title, font-family);
            font-size: map-get(variables.$title, font-size);
            font-weight: map-get(variables.$title, font-weight);
            color: map-get(variables.$title, color);
                .basic-c{
                    color: variables.$basic-c;
                }
                .point-c{
                    color: variables.$point-c;
                }
        }
    
        .sec05_subtitle{
            font-size: map-get(variables.$subtitle, font-size);
            font-weight: map-get(variables.$subtitle, font-weight);
            color: map-get(variables.$subtitle, color);
        }
    }
 
    .sec05_form{
         font-size : map-get(variables.$content_title, font-size);
         font-weight: map-get(variables.$content_title, font-weight);
         padding: 1.5% 1%; 
         margin-bottom: 0;
         border-bottom: 2px solid variables.$basic-c;
         display: flex;
         cursor: pointer;
            
            .sec05_icon{
                margin-left: auto;
                color: #ffa500;

                .sec05-toggle-icon {
                    transition: transform 0.3s ease;
                    display: inline-block;
                }

                .sec05-toggle-icon.rotate {
                    transform: rotate(45deg); 
                }  
            }
        }

        .sec05_a{
            font-size: map-get(variables.$content, font-size);
            padding: 1.2rem 1.8rem;
            background-color: variables.$basic-bg;
            border-radius: 0 0 30px 30px;

            p{
                margin-bottom: 0;
            }
        }
}

//==========section 05 end==========



@media (max-width:1280px) {
     // =============header====================
    header{
        padding: 30px 80px;
    }
        
    header img{
        width: 80%;
    }
    header .header-nav .header-navbar{
        gap: 0 60px;
    }
    header .header-nav .header-navbar .header-nav-link {
        font-size: 1.2rem;
    }
    header .header_nav-icon i {
        font-size: 1.4rem;
    }
    
    // =============header end==================

    // =============sec 01======================
    .sec01{
        padding: 40px 60px 80px;  
    } 
   
    .sec01 .sec01-form .sec01_title {
            top: 8%;
    }

    .sec01_title p{
        font-size: 2.7rem;
    } 

    .sec01_bg-img{
        width: 100%;
    }
    // =============sec 01 end==================

    // =============sec 02======================
    .sec02{
        padding: 80px 0;
        .sec02-titleform{
            margin-bottom: 60px;
            .sec02_title{
                font-size: 2.4rem;
            }
            .sec02__subtitle{
                font-size: 1.2rem;
            }
        }

        .sec02_card-form{
            .sec02_c-content{
                height: 20vh;
            }
            p{
                bottom: 1%;
                font-size: 1.2rem;
            }
        }
    }
    // =============sec 02 end==================

    // =============sec 03======================
    .sec03{
        padding: 80px 0;

        .sec03_titleform{
            margin-bottom: 60px;
            p{
             font-size: 2.4rem;
            }
        }

        .sec03__content{
            height: 22vh;
            .sec03__subcontent{
                margin: 18px;
                p{
                    font-size: 1.2rem;
                    margin-bottom: 10px;
                }

                span{
                font-size: 1rem;
                }
            }
        }

        .effect{
            font-size: 1.2rem;
        }
    }
    
    // =============sec 03 end==================

    // =============sec 04======================
    .sec04{
        padding: 80px 0;

        .container .sec04__titleContent h2 {
        font-size: 2.4rem;
        }

        .effect{
            font-size: 1.2rem;
        }
    }
    //==============sec 04 end==================

    // =============sec 05======================
    .sec05{
        padding: 80px 0;
        .sec05_titleform{
            .sec05_title{
                font-size: 2.4rem;
            }
            .sec05_subtitle{
                font-size: 1.2rem;
            }
        }

        .sec05_form {
            font-size: 1.2rem;
            padding: 1.5% 1%;
        } 
    }
    // =============sec 05 end==================

    // =============footer======================
    footer {
        padding: 40px 82px;
    }
    footer .footer_titleform .footer-logo {
        width: 80%;
    } 
   // =============footer end==================
   }
 
    
@media (max-width:1024px){
    // =============header==================
    header {
        padding: 20px 60px;
    }

    header img {
        width: 80%;
    }

     header .header-nav .header-navbar .header-nav-link {
        font-size: 1.2rem;
    }

    header .header_nav-icon {
        display: none;
    }
    // =============header end==============

    // =============sec01===================
    .sec01 {
        padding: 20px 60px 60px;
    }

    .sec01 .sec01-form .sec01_title {
        top: 6%;
    }

    .sec01_title p {
        font-size: 2rem;
    }
    // =============sec01 end==============

    // =============sec02===================
    .sec02 {
        padding: 60px 0;
    }

    .sec02 .sec02-titleform .sec02_title {
        font-size: 2rem;
    }

    .sec02 .sec02-titleform .sec02__subtitle {
        font-size: 1.2rem;
    }
    
    .sec02 .sec02_card-form p {
        font-size: 1.2rem;
    }

    .sec02 .sec02_card-form .sec02_c-content {
        height: 20vh;
    }
    // =============sec02 end===============

    // =============.sec03==================
    .sec03 {
        padding: 60px 0;

        .sec03_titleform p {
        font-size: 2rem;
        }
    }
    
    .sec03 .sec03__content {
        height: 20vh;
    }

    .sec03 .sec03__content .sec03__subcontent p {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    .sec03 .sec03__content .sec03__subcontent span {
        font-size: 1rem;
    }

    .mb-80 {
    margin-bottom: 50px;
    }
    // =============sec03 end===============

    // =============sec04===================
    .sec04 {
        padding: 60px 0;
    }

    .sec04 .container .sec04__titleContent h2 {
        font-size: 2rem;
    }

    .sec04_image{
        width: 50%;
    }
   
    // =============sec04 end===============

    // =============.sec05==================
    .sec05 {
        padding: 60px 0;
    }

    .sec05 .sec05_a {
        padding: 1rem 1.5rem;
    }
    // =============sec05 end===============

    // =============footer==================
    footer{
        padding: 50px 45px;
     }

    footer .footer_titleform .footer-logo {
        width: 70%;
    }
     footer .footer_titleform .footer_menu .footer_menulist {
            font-size: 0.9rem;
    }

    footer .footer_content .footer_contentlist {
        font-size: 0.9rem;
    }

    footer .footer_content .footer_contentlist li:not(:first-of-type) {
        padding-left: 25px;
    }

    footer .footer_content .footer_contentlist li:not(:last-of-type) {
        padding-right: 25px;
    }

    footer .footer_copy {  
    font-size: 0.9rem;
    }
    // =============footer end==============
}


@media (max-width:768px){
    //==========header==============
    header {
        padding: 10px 25px;
    }

    header img {
        width: 65%;
    }

    .collapse:not(.show) {
        display: block;
    }

    .header-navbar{
        display: none;
    }

    header .header_nav-icon .hamburger {
        display: block;
        color: #272727;
    }

    header .header_nav-icon .icon_map,.icon_mark{
        display: none;
    }

    header .header_nav-icon {
        display: flex;
    }

    header .header_nav-icon i {
        font-size: 25px;
    }
//==========header end==========

//==========sec01===============
    .sec01 {
        padding: 20px 25px 40px;
    }

    .sec01 .sec01-form .sec01_title {
        top: 4%;
        left: 5%;
    }

    .sec01_title p {
        font-size: 1.6rem;
    }

    .sec01_bg-img {
        width: 100%;
    }
//==========sec01 end===========

//==========sec02===============
    .sec02 {
        padding: 40px 0;
    }

    .sec02 .sec02-titleform {
        margin-bottom: 40px;
    }

    .sec02 .sec02-titleform .sec02_title {
        font-size: 1.6rem;
        margin-bottom: 0.3rem;
    }

    .sec02 .sec02-titleform .sec02__subtitle {
        font-size: 1.2rem;
    }
//==========sec02 end===========

//==========sec03===============
    .sec03 {
        padding: 40px 0;
    }

    .sec03 .sec03_titleform p {
        font-size: 1.6rem;
    }

    .sec03 .sec03_titleform {
        margin-bottom: 40px;
    }

    .sec03 .sec03__content {
        height: 17vh;
    }

    .sec03 .sec03__content .sec03__subcontent {
        margin: 10px;
    }

    .sec03 .sec03__content .sec03__subcontent p {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    .sec03 .sec03__content .sec03__subcontent span {
        font-size: 0.9rem;
    }

    .sec03 .effect.effect-5 {
        min-width: 11rem;
        padding: 0.2rem;
    }

//==========sec03 end===========
    

//==========sec04===============
    .sec04 {
        padding: 40px 0;
    }

    .sec04 .container .sec04__titleContent h2 {
        font-size: 1.6rem;
    }

    .sec04 .effect.effect-5 {
        min-width: 12rem;
        padding: 0.2rem;
    }

//==========sec04 end===========

//==========sec05===============
    .sec05 {
        padding: 40px 0;
    }

    .sec05 .sec05_titleform .sec05_title {
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
    }

    .sec05 .sec05_a {
        font-size: 1rem;
    }
   
//==========sec05 end===========

//==========footer==============
    footer {
        padding: 30px 45px;
    }
    footer .footer_titleform .footer-logo {
        width: 47%;
    }

    footer .footer_titleform .footer_menu .footer_menulist {
        font-size: 0.7rem;
    }

    footer .footer_titleform { 
    margin-bottom: 30px;
    }

    footer .footer_content {
    margin-bottom: 10px;
    }

    footer .footer_content .footer_contentlist {
        font-size: 0.7rem;
        margin-bottom: 10px;
    }
    
    footer .footer_copy{
        font-size: 0.7rem;
        margin: 0;
    }
//==========footer end==========
}

@media (max-width:540px){
//==========header==============
    header {
        padding: 9px 26px;
    }

    header img {
        width: 38%;
    }

    header .header_nav-icon i {
        font-size: 1.3rem;
    }

    // .pd-0{
    //     padding: 0;
    // }
//==========header end==========

//==========sec01==========
    .sec01 {
        padding: 15px 25px;
    }

    .sec01_bg-img {
        opacity: 0;
        width: 100%;
        height: 23vh;
    }

    .sec01 .sec01-form .sec01_title {
        text-align: center;
        top: 17%;
        left: 36%;
    }

    .sec01_title p {
        font-size: 1rem;
    }
//==========sec01 end===========

//==========sec02===============
    .sec02 {
        padding: 30px 0;
    }

    .sec02 .sec02-titleform {
        margin-bottom: 30px;
    }

    .sec02 .sec02-titleform .sec02_title {
        font-size: 1rem;
    }

    .sec02 .sec02-titleform .sec02__subtitle {
        font-size: 0.6rem;
    }

    .sec02 .sec02_card-form .sec02_c-content {
        height: 13vh;
    }

    .sec02 .sec02_card-form p {
        font-size: 0.6rem;
    }
//==========sec02 end===========

//==========sec03===============
    .sec03 {
        padding: 30px 0;
    }

    .sec03 .sec03_titleform p {
        font-size: 1rem;
    }

    .sec03 .sec03__content {
        height: 35vh;
        margin-bottom: 15px;
    }

    .sec03 .sec03__content .sec03__subcontent p {
        font-size: 0.6rem;
        margin-bottom: 2px;
    }

    .sec03 .sec03__content .sec03__subcontent {
        margin: 10px;
    }

    .sec03 .sec03__content .sec03__subcontent span {
        font-size: 0.5rem;
    }

    .sec03 .effect {
        font-size: 1rem;
    }

    .mb-80 {
        margin-bottom: 30px;
    }
//==========sec03 end===========

//==========sec04===============
    .sec04 .container .sec04__titleContent h2 {
        font-size: 1rem;
        text-align: center;
    }

    .btn-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }
    

    .btn-wrapper a.effect {
        width: 16.6666%;
        min-width: 120px;
        text-align: center;
    }

    .sec04 .container .sec04__imgContent {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sec04_image {
        width: 30%;
    }

    .sec04 .effect {
        font-size: 1rem;
    }
//==========sec04 end===========

//==========sec05===============
    .sec05 .sec05_titleform .sec05_title {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    
    .sec05 .sec05_titleform .sec05_subtitle {
        font-size: 0.6rem;
    }

    .sec05 .sec05_form {
        font-size: 0.6rem;
        padding: 1%;
    }

    .mb-80 {
        margin-bottom: 20px;
    }

    .sec05 .sec05_a {
        font-size: 0.5rem;
        padding: 0.7rem 0.8rem;

    }
//==========sec05 end===========

//==========footer==============
    footer {
        padding: 20px 12px;
    }

    footer .footer_titleform {
        margin-bottom: 15px;
    }

    footer .footer_titleform .footer-logo {
        width: 38%;
    }

    footer .footer_titleform .footer_menu .footer_menulist {
        display: none;
    }

    footer .footer_content .footer_contentlist {
        font-size: 0.5rem;
        margin-bottom: 10px;
    }

    footer .footer_copy {
        font-size: 0.5rem;
    }
//==========footer end==========
}
@media (max-width:348px){
    //==========header==============
    header {
        padding: 9px 12px;
    }

    header img {
        width: 38%;
    }

    header .header_nav-icon i {
        font-size: 1rem;
    }
    //==========header end==========

    //==========sec01===============
    .sec01 {
        padding: 15px 12px;
    }

    .sec01 .sec01-form .sec01_title {
        top: 16%;
        left: 29%;
    }

    .sec01_title p {
        font-size: 0.9rem;
    }
    //==========sec01 end===========

    //==========sec02===============
    .sec02 {
        padding: 20px 0;
    }

    .sec02 .sec02-titleform .sec02_title {
        font-size: 0.9rem;
    }

    .sec02 .sec02-titleform .sec02__subtitle {
        font-size: 0.6rem;
    }

    .sec02 .sec02_card-form .sec02_c-content {
        height: 26vh;
    }

    .sec02 .sec02_card-form p {
        font-size: 0.6rem;
        margin-bottom: 0.5rem;
    }

    //==========sec02 end===========

    //==========sec03===============
    .sec03 {
        padding: 20px 0;
    }

    .sec03 .sec03_titleform p {
        font-size: 0.9rem;
    }

    .sec03 .sec03_titleform {
        margin-bottom: 20px;
    }

    .sec03 .sec03__content {
        height: 32vh;
    }

    .sec03 .sec03__content .sec03__subcontent p {
        font-size: 0.6rem;
        margin-bottom: 5px;
    }

    .sec03 .sec03__content .sec03__subcontent span {
        font-size: 0.4rem;
    }

    .sec03 .effect {
        font-size: 0.6rem;
    }

    .mb-80 {
        margin-bottom: 15px;
    }

    //==========.sec03 end==========

    //==========sec04===============
    .sec04 {
        padding: 20px 0;
    }

    .sec04 .container .sec04__titleContent h2 {
        font-size: 0.9rem;
        text-align: center;
    }

    .sec04_image {
        margin-top: 15px;
    }

    .sec04 .effect {
        font-size: 0.6rem;
    }

    .btn-wrapper {
        margin-bottom: 1.2rem;
    }

    //==========sec04 end===========

    //==========sec05===============
    .sec05 {
        padding: 20px 0;
    }

    .sec05 .sec05_titleform .sec05_title {
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
    }

    .sec05 .sec05_titleform .sec05_subtitle {
        font-size: 0.6rem;
    }

    .sec05 .sec05_form {
        font-size: 0.6rem;
        padding: 2% 1%;
        font-weight: 600;
    }

    .sec05 .sec05_a {
        font-size: 0.4rem;
        padding: 0.6rem 0.8rem;
    }
    //==========sec05 end===========

    //==========footer==============
    footer .footer_titleform {
        margin-bottom: 8px;
    }

    footer .footer_titleform .footer-logo {
        width: 30%;
    }

    footer .footer_content {
        margin-bottom: 0px;
    }

    footer .footer_content .footer_contentlist {
        display: none;
    }

    footer .footer_copy p {
        margin: 0;
    }
    //==========footer end===========
}









