@use 'animations';
@use 'variables';
@use 'component';
@use 'responsive';


  body{
    font-family: 'Paperlogy';

    .basic-c{
        color: variables.$basic-c;
    }

    .point-c{
        color: variables.$point-c;
    }
  }
//==========header==============

//==========header end==========

//==========section 01==========
.sec01{
    background-color: variables.$basic-bg;
    padding: 50px 80px 100px;
  
    .sec01-form{
        .sec01_title{
            font-size: 3.7rem;
            font-weight: map-get(variables.$font-weight,700);
            color: variables.$font-c;
            position: absolute;
            
                p{
                    margin: 0;
                }
                .basic-c{
                    color: variables.$basic-c;
                }
                .point-c{
                    color: variables.$point-c;
                }
        }

        .sec01_bg{
            position: relative;
        }
    }
}    
//==========section 01 end==========

//==========section 02==============
.sec02{
    .sec02-titleform{
        .sec02_title{
        font-size: 2.8rem;
        font-weight: map-get(variables.$font-weight, 700);
        color: variables.$font-c;
        }
    
        .sec02__subtitle{
        color: variables.$gray-font;
        font-size: 1.4rem;
        }
    }

    .sec02_card-form{
        position: relative;
        border-radius: 30px;
    
        .sec02_c-content{
            width: 100%;
            height: 40vh;
            z-index: 0;
        }

        p{
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            position: absolute;
            z-index:999;
            width: 100%;
            height: 100%;
            bottom: 5%;
            color: #fff;
            right: 5%;
            font-size: 1.4rem;
            font-weight: map-get(variables.$font-weight, 400);
        }
    }

    .sec02_card-form::after{
        content: "";
        border-radius: 30px;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.2s ease-in-out;
        z-index: 999999;
    }   

    .sec02_card-form:hover::after{
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 30px;
        position: absolute;
        z-index: 1;
    }
}
//==========section 02 end==========

//==========section 03==============
.sec03{
    .sec03_titleform{
        font-size: 2.8rem;
        font-weight: map-get(variables.$font-weight, 700);
        color: variables.$font-c;
    }
    
    .sec03__content{
        height: 32vh;
        display: flex;
        align-items: flex-end;
        color: #fff;
        margin: 0;
        border-radius: 30px;
        
        .sec03__subcontent{
            margin: 20px;
            p{
                font-size: 1.4rem;
                font-weight: map-get(variables.$font-weight,600);
                color: #fff;
            }

            span{
                font-size: 1.1rem;
                font-weight: map-get(variables.$font-weight,400);
                color: #fff;
            }
        }
    }
    
    .sec03_card01{
        background: url(../images/sec03-card01.png);
        background-position: center;
        background-size: cover;
    }
    .sec03_card02{
        background: url(../images/sec03-card02.png);
        background-position: center;
        background-size: cover;
    }
    .sec03_card03{
        background: url(../images/sec03-card03.png);
        background-position: center;
        background-size: cover;
    }
}
//==========section 03 end==========

//==========section 04==============
.sec04{
    background-color: variables.$basic-bg;
    .container{
        .sec04__titleContent{
            h2{
            color: variables.$font-c;
            font-size: 2.8rem;
            font-weight: map-get(variables.$font-weight,700);
            }
        }
        .sec04__imgContent{
            display: flex;
            align-items: center;
            justify-content: end;
            }
        }
}
//==========section 04 end==========

//==========section 05==============
.sec05{
    .sec05_titleform{
        .sec05_title{
            font-size: 2.8rem;
            font-weight: map-get(variables.$font-weight, 700);
            color: variables.$font-c;
                .basic-c{
                    color: variables.$basic-c;
                }
                .point-c{
                    color: variables.$point-c;
                }
        }
    
        .sec05_subtitle{
            font-size: 1.4rem;
            font-weight: map-get(variables.$font-weight, 500);
            color: variables.$gray-font;
        }
    }
 
    .sec05_form{
         font-size : 1.4rem;
         font-weight: map-get(variables.$font-weight,600);
         padding: 1.5% 1%; 
         margin-bottom: 0;
         border-bottom: 2px solid variables.$basic-c;
         display: flex;
            
            .sec05_icon{
                margin-left: auto;
                color: #ffa500;

                .sec05-toggle-icon {
                    transition: transform 0.3s ease;
                    display: inline-block;
                }

                .sec05-toggle-icon.rotate {
                    transform: rotate(45deg); 
                }  
            }
        }

        .sec05_a{
            font-size: 1.1rem;
            padding: 1.2rem 1.8rem;
            background-color: variables.$basic-bg;
            border-radius: 0 0 30px 30px;

            p{
                margin-bottom: 0;
            }
        }
}


        
    
//==========section 05 end==========

//==========footer==============
.footer{
    background-color: #3e3e3e;
    .container{
        .footer-logo{
            width: 45%;
        }
        .footer-form01{
            justify-content: space-between;
            align-items: center;
            margin-bottom: 50px;
            ul{
                list-style: none;
                a{
                    font-size: 1.1rem;
                    font-weight: map-get(variables.$font-weight,500);
                    color: variables.$footer-font;
                    padding: 0.5rem 1rem;
                }
            }   
        }
    
        .footer-form02{
            .p-none{
                padding: 0; 
                ul{
                display: flex;
                list-style: none;
                color: variables.$gray-font;
                padding: 0;
                margin-bottom: 20px;
                    li{
                        font-size: 1.1rem;
                        font-weight: map-get(variables.$font-weight, 400);
                        padding-bottom: 0;  
                    }
                    
                    li:not(:last-of-type){
                        border-right: 2px solid variables.$gray-font;
                        padding-right: 30px;
                    }

                    li:not(:first-of-type){
                        padding-left: 30px;
                    }
                }
            }
            
            .footer-copyform{
                font-size: 1.1rem;
                font-weight: map-get(variables.$font-weight, 500);
                color: variables.$gray-font;
                padding: 0;

                .footer-copy{
                    margin-top: 10px;
                }
            }
        }
    }
}
//==========footet end==========


@media (max-width:1280px) {
     // =============header====================
    header{
        padding: 30px 80px;
    }
        
    header img{
        width: 80%;
    }
    header .header-nav .header-navbar{
        gap: 0 60px;
    }
    header .header-nav .header-navbar .header-nav-link {
        font-size: 1.2rem;
    }
    header .header_nav-icon i {
        font-size: 1.4rem;
    }
    
    // =============header end==================

    // =============sec 01======================
    .sec01{
        padding: 40px 60px 80px;  
    } 
   
    .sec01 .sec01-form .sec01_title {
            top: 10%;
    }

    .sec01_title p{
        font-size: 2.7rem;
    } 

    .sec01_bg-img{
        width: 100%;
    }
    // =============sec 01 end==================

    // =============sec 02======================
    .sec02{
        padding: 80px 0;
        .sec02-titleform{
            margin-bottom: 60px;
            .sec02_title{
                font-size: 2.4rem;
            }
            .sec02__subtitle{
                font-size: 1.2rem;
            }
        }

        .sec02_card-form{
            .sec02_c-content{
                height: 20vh;
            }
            p{
                bottom: 1%;
                font-size: 1.2rem;
            }
        }
    }
    // =============sec 02 end==================

    // =============sec 03======================
    .sec03{
        padding: 80px 0;

        .sec03_titleform{
            margin-bottom: 60px;
            p{
             font-size: 2.4rem;
            }
        }

        .sec03__content{
            height: 22vh;
            .sec03__subcontent{
                margin: 18px;
                p{
                    font-size: 1.2rem;
                    margin-bottom: 10px;
                }

                span{
                font-size: 1rem;
                }
            }
        }

        .effect{
            font-size: 1.2rem;
        }
    }
    
    // =============sec 03 end==================

    // =============sec 04======================
    .sec04{
        padding: 80px 0;

        .container .sec04__titleContent h2 {
        font-size: 2.4rem;
        }

        .effect{
            font-size: 1.2rem;
        }
    }
    //==============sec 04 end==================

    // =============sec 05======================
    .sec05{
        padding: 80px 0;
        .sec05_titleform{
            .sec05_title{
                font-size: 2.4rem;
            }
            .sec05_subtitle{
                font-size: 1.2rem;
            }
        }

        .sec05_form {
            font-size: 1.2rem;
            padding: 1.5% 1%;
        } 
    }
    // =============sec 05 end==================

    // =============footer======================
   .footer{
        .container{
            padding: 30px 0;
            .footer-form01{
                padding-top: 30px;
                ul{
                    margin-bottom: 15px;
                    a{
                        font-size: 1.1rem;
                    }
                }
            }
    
            .footer-form02{
                padding: 0 12px;
                ul{
                    li{
                        font-size: 1.1rem;
                    }
                }
    
                .footer-copy{
                    font-size: 1.1rem;
                    margin: 0;
                   
                }
            }
        }
    }
   // =============footer end==================
   }
 
    
@media (max-width:1024px){
    // =============header==================
    header {
        padding: 20px 60px;
    }

    header img {
        width: 80%;
    }

     header .header-nav .header-navbar .header-nav-link {
        font-size: 1.2rem;
    }

    header .header_nav-icon {
        display: none;
    }
    // =============header end==============

    // =============sec01===================
    .sec01 {
        padding: 20px 60px 60px;
    }

    .sec01 .sec01-form .sec01_title {
        top: 8%;
    }

    .sec01_title p {
        font-size: 2rem;
    }
    // =============sec01 end==============

    // =============sec02===================
    .sec02 {
        padding: 60px 0;
    }

    .sec02 .sec02-titleform .sec02_title {
        font-size: 2rem;
    }

    .sec02 .sec02-titleform .sec02__subtitle {
        font-size: 1.2rem;
    }
    
    .sec02 .sec02_card-form p {
        font-size: 1.2rem;
    }

    .sec02 .sec02_card-form .sec02_c-content {
        height: 20vh;
    }
    // =============sec02 end===============

    // =============.sec03==================
    .sec03 {
        padding: 60px 0;

        .sec03_titleform p {
        font-size: 2rem;
        }
    }
    
    .sec03 .sec03__content {
        height: 20vh;
    }

    .sec03 .sec03__content .sec03__subcontent p {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    .sec03 .sec03__content .sec03__subcontent span {
        font-size: 1rem;
    }

    .mb-80 {
    margin-bottom: 50px;
    }
    // =============sec03 end===============

    // =============sec04===================
    .sec04 {
        padding: 60px 0;
    }

    .sec04 .container .sec04__titleContent h2 {
        font-size: 2rem;
    }

    .sec04_image{
        width: 50%;
    }
   
    // =============sec04 end===============

    // =============.sec05==================
    .sec05 {
        padding: 60px 0;
    }

    .sec05 .sec05_a {
        padding: 1rem 1.5rem;
    }
    // =============sec05 end===============

    // =============footer==================
    .footer .container {
        padding: 20px 0;
    }

    .footer .container .footer-form01 ul a {
        font-size: 0.9rem;
        padding: 0.7rem;
    }

    .footer .container .footer-form02 .p-none ul li {
    font-size: 0.9rem;
    }

    .footer .container .footer-form02 .footer-copy {
        font-size: 0.9rem;
    }
    // =============footer end==============
}


@media (max-width:768px){
    //==========header==============
    header {
        padding: 10px 25px;
    }

    header img {
        width: 65%;
    }

    .collapse:not(.show) {
        display: block;
    }

    .header-navbar{
        display: none;
    }

    header .header_nav-icon .hamburger {
        display: block;
        color: variables.$font-c;
    }

    header .header_nav-icon .icon_map,.icon_mark{
        display: none;
    }

    header .header_nav-icon {
        display: flex;
    }

    header .header_nav-icon i {
        font-size: 25px;
    }
//==========header end==========

//==========sec01===============
    .sec01 {
        padding: 20px 25px 40px;
    }

    .sec01 .sec01-form .sec01_title {
        top: 5.5%;
    }

    .sec01_title p {
        font-size: 1.6rem;
    }

    .sec01_bg-img {
        width: 100%;
    }
//==========sec01 end===========

//==========sec02===============
    .sec02 {
        padding: 40px 0;
    }

    .sec02 .sec02-titleform {
        margin-bottom: 40px;
    }

    .sec02 .sec02-titleform .sec02_title {
        font-size: 1.6rem;
        margin-bottom: 0.3rem;
    }

    .sec02 .sec02-titleform .sec02__subtitle {
        font-size: 1.2rem;
    }
//==========sec02 end===========

//==========sec03===============
    .sec03 {
        padding: 40px 0;
    }

    .sec03 .sec03_titleform p {
        font-size: 1.6rem;
    }

    .sec03 .sec03_titleform {
        margin-bottom: 40px;
    }

    .sec03 .sec03__content {
        height: 17vh;
    }

    .sec03 .sec03__content .sec03__subcontent {
        margin: 10px;
    }

    .sec03 .sec03__content .sec03__subcontent p {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    .sec03 .sec03__content .sec03__subcontent span {
        font-size: 0.9rem;
    }

    .sec03 .effect.effect-5 {
        min-width: 11rem;
        padding: 0.2rem;
    }

//==========sec03 end===========
    

//==========sec04===============
    .sec04 {
        padding: 40px 0;
    }

    .sec04 .container .sec04__titleContent h2 {
        font-size: 1.6rem;
    }

    .sec04 .effect.effect-5 {
        min-width: 12rem;
        padding: 0.2rem;
    }

//==========sec04 end===========

//==========sec05===============
    .sec05 {
        padding: 40px 0;
    }

    .sec05 .sec05_titleform .sec05_title {
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
    }

    .sec05 .sec05_a {
        font-size: 1rem;
    }
   
//==========sec05 end===========

//==========footer==============
    .footer .container .footer-logo {
        width: 55%;
    }

    .footer .container .footer-form01 {
        padding-top: 20px;
        margin-bottom: 30px;
    }

    .footer .container .footer-form01 ul{
         padding-left: 0;
    }
    
    .footer .container .footer-form01 ul a {
        font-size: 0.7rem;
    }

    .footer .container .footer-form02 ul{
        margin-bottom: 20px;
    }

    .footer .container .footer-form02 .p-none ul li {
        font-size: 0.7rem;
    }

    .footer .container .footer-form02 .footer-copy {
        font-size: 0.7rem;
        margin-top: 0;
    }
//==========footer end==========
}

@media (max-width:540px){
//==========header==============
    header {
        padding: 9px 26px;
    }

    header img {
        width: 53%;
    }
//==========header end==========

//==========sec01==========
    .sec01 {
        padding: 15px 25px;
    }

    .sec01_bg-img {
        opacity: 0;
        width: 100%;
    }

    .sec01 .sec01-form .sec01_title {
        text-align: center;
        top: 9%;
        left: 26%;
    }

    .sec01_title p {
        font-size: 1.6rem;
    }
//==========sec01 end===========

//==========sec02===============
    .sec02 {
        padding: 30px 0;
    }

    .sec02 .sec02-titleform {
        margin-bottom: 30px;
    }

    .sec02 .sec02-titleform .sec02_title {
        font-size: 1.6rem;
    }

    .sec02 .sec02-titleform .sec02__subtitle {
        font-size: 1rem;
    }

    .sec02 .sec02_card-form .sec02_c-content {
        height: 13vh;
    }

    .sec02 .sec02_card-form p {
        font-size: 1rem;
    }
//==========sec02 end===========

//==========sec03===============
    .sec03 {
        padding: 30px 0;
    }

    .sec03 .sec03_titleform p {
        font-size: 1.6rem;
    }

    .sec03 .sec03__content {
        height: 15vh;
        margin-bottom: 15px;
    }

    .sec03 .sec03__content .sec03__subcontent {
        margin: 15px;
    }

    .mb-80 {
        margin-bottom: 30px;
    }
//==========sec03 end===========

//==========sec04===============
    .sec04 .container .sec04__titleContent h2 {
        font-size: 1.6rem;
        text-align: center;
    }

    .btn-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .btn-wrapper a.effect {
        width: 16.6666%;
        min-width: 120px;
        text-align: center;
    }

    .sec04 .container .sec04__imgContent {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sec04_image {
        width: 30%;
    }
//==========sec04 end===========

//==========sec05===============
    
    .sec05 .sec05_titleform .sec05_subtitle {
        font-size: 1rem;
    }

    .sec05 .sec05_form {
        font-size: 1rem;
        padding: 2% 1%;
    }

    .sec05 .sec05_a {
        font-size: 0.8rem;
    }
//==========sec05 end===========

//==========footer==============
    .footer-nav{
        display: none;
    }

    .footer .container .footer-logo {
        width: 11%;
    }

    .footer .container .footer-form01 {
        padding-top: 20px;
        margin-bottom: 10px;
    }

    .p-none{
        display: none;
    }

//==========footer end==========
}
@media (max-width:348px){
    //==========header==============
        header img {
        width: 50%;
        }
    //==========header end==========

    //==========sec01===============
    .sec01 .sec01-form .sec01_title {
        top: 6.5%;
        left: 16%;
    }

    .sec01_title p {
        font-size: 1.4rem;
    }
    //==========sec01 end===========

    //==========sec02===============
    .sec02 .sec02-titleform .sec02_title {
        font-size: 1.4rem;
    }

    .sec02 .sec02-titleform .sec02__subtitle {
        font-size: 0.8rem;
    }

    .sec02 .sec02_card-form .sec02_c-content {
        height: 15vh;
    }

    .sec02 .sec02_card-form p {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }

    //==========sec02 end===========

    //==========sec03===============
    .sec03 .sec03_titleform p {
        font-size: 1.4rem;
    }

    .sec03 .sec03_titleform {
        margin-bottom: 20px;
    }

    .sec03 .sec03__content .sec03__subcontent p {
        font-size: 0.8rem;
        margin-bottom: 5px;
    }

    .sec03 .sec03__content .sec03__subcontent span {
        font-size: 0.5rem;
    }

    .sec03 .effect {
        font-size: 0.8rem;
    }

    .mb-80 {
        margin-bottom: 20px;
    }

    //==========.sec03 end==========

    //==========sec04===============
    .sec04 .container .sec04__titleContent h2 {
        font-size: 1.4rem;
        text-align: center;
    }

    .sec04_image {
        margin-top: 15px;
    }

    .sec04 .effect {
        font-size: 0.8rem;
    }
    //==========sec04 end===========

    //==========sec05===============

    //==========sec05 end===========

    //==========footer==============

    //==========footer end===========

    



}





