@use 'variables';
@use 'component';



  body{
    font-family: 'pretendard';

    .basic-c{
        color: variables.$basic-c;
    }

    .point-c{
        color: variables.$point-c;
    }
  }
//==========header==============

//==========header end==========

//==========section 01==========
.sec01{
    background-color: variables.$basic-bg;
    padding: 50px 80px;
    
    img{
        width: 100%;
    }
    .sec01-form{
        position: relative;
        .sec01_title{
            font-family: map-get(variables.$title, font-family);
            font-size: 3.3rem;
            font-weight: map-get(variables.$title, font-weight);
            color: map-get(variables.$title, color);
            position: absolute;
            top: 5%;
            left: 2%;
            p{
                margin: 0;
                .basic-c{
                    color: variables.$basic-c;
                }
                .point-c{
                    color: variables.$point-c;
                }
            }
        }

        .sec01_bg{
            position: relative;
        }
    }
}    
//==========section 01 end==========

//==========section 02==============
.sec02{
    padding: 80px 0;
    .sec02_titleform{
        font-family: map-get(variables.$title, font-family);
        font-size: map-get(variables.$title, font-size);
        font-weight: map-get(variables.$title, font-weight);
        color: map-get(variables.$title, color);
    }
    
    .sec02__content{
        height: 37vh;
        display: flex;
        align-items: flex-end;
        color: #fff;
        margin: 0;
        border-radius: 30px;
        
        .sec02__subcontent{
            margin: 20px;
            p{
                font-size: map-get(variables.$content_title, font-size);
                font-weight: map-get(variables.$content_title, font-weight);
                color: #fff;
            }

            span{
                font-size: map-get(variables.$content, font-size);
                font-weight: map-get(variables.$content, font-weight);
                color: #fff;
            }
        }
    }
    
    .sec02_card01{
        background: url(../images/main_sec02-card01.png);
        background-position: center;
        background-size: cover;
    }
    .sec02_card02{
        background: url(../images/main_sec02-card02.png);
        background-position: center;
        background-size: cover;
    }
    .sec02_card03{
        background: url(../images/main_sec02-card03.png);
        background-position: center;
        background-size: cover;
    }
    .effect.effect-5:before{
        width: 21%;
    }
}
//==========section 02 end==========

//==========section 03==============
.sec03 {
    padding: 80px 0;
    
    .sec03_titleForm{
        .sec03_title{
            font-family: map-get(variables.$title, font-family);
            font-size: map-get(variables.$title, font-size);
            font-weight: map-get(variables.$title,font-weight);
            color: map-get(variables.$title,color);
        }
        .sec03_subtitle{
            font-family: map-get(variables.$subtitle, font-family);
            font-size: map-get(variables.$subtitle, font-size);
            font-weight: map-get(variables.$subtitle,font-weight);
            color: map-get(variables.$subtitle,color);
            margin-bottom: 40px;
        }
    }

  #slider {
    overflow: hidden;
    position: relative;
  }

  .image-box {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    animation: bannermove 18s linear infinite;

    .image-item {
      width: 100%;
      margin: 0 30px;
      text-align: center;
      font-family: sans-serif;

      .image-wrapper {
        position: relative;
        width: 280px;
        height: 280px;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }

        .hover-text {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          color: #fff;
          font-weight: bold;
          font-family: 'Paperlogy';
          font-size: map-get(variables.$subtitle, font-size);
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transition: opacity 0.3s ease;
          border-radius: 50%;
          text-align: center;
        //   padding: 10px;
          box-sizing: border-box;
        }

        &:hover .hover-text {
          opacity: 1;
        }
      }

      .caption {
        margin-top: 25px;
        color: #272727;
        
        .sec03-c-title{
            font-family: map-get(variables.$content_title, font-family);
            font-size: map-get(variables.$content_title, font-size);
            font-weight: map-get(variables.$content_title,font-weight);
            color: map-get(variables.$content_title,color);
        }
        .sec03-c-des{
            font-family: map-get(variables.$content, font-family);
            font-size: map-get(variables.$content, font-size);
            font-weight: map-get(variables.$content,font-weight);
            color: map-get(variables.$content,color);
        }
      }
    }
  }

  #slider:hover .image-box {
    animation-play-state: paused;
  }

  @keyframes bannermove {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
//==========section 03 end==========

//==========section 04==============
.sec04{
    padding: 80px 0;
    background-color: variables.$basic-bg;
    .container{
        .row{
            align-items: center;
            margin: 0px 40px;
            .sec04__titleContent{
                h2{
                    font-family: map-get(variables.$title, font-family);
                    font-size: map-get(variables.$title, font-size);
                    font-weight: map-get(variables.$title, font-weight);
                    color: map-get(variables.$title, color);
                }
            }
            .sec04__imgContent{
                    width: 80%;
                    margin-left: auto;
                .sec04_image{
                    width: 100%;
                }
            }
        }       
    }
}
//==========section 04 end==========

//==========section 05==============
// .sec05{
//     .sec05_titleform{
//         .sec05_title{
//             font-family: map-get(variables.$title, font-family);
//             font-size: map-get(variables.$title, font-size);
//             font-weight: map-get(variables.$title, font-weight);
//             color: map-get(variables.$title, color);
//                 .basic-c{
//                     color: variables.$basic-c;
//                 }
//                 .point-c{
//                     color: variables.$point-c;
//                 }
//         }
    
//         .sec05_subtitle{
//             font-size: map-get(variables.$subtitle, font-size);
//             font-weight: map-get(variables.$subtitle, font-weight);
//             color: map-get(variables.$subtitle, color);
//         }
//     }
 
//     .sec05_form{
//          font-size : map-get(variables.$content_title, font-size);
//          font-weight: map-get(variables.$content_title, font-weight);
//          padding: 1.5% 1%; 
//          margin-bottom: 0;
//          border-bottom: 2px solid variables.$basic-c;
//          display: flex;
//          cursor: pointer;
            
//             .sec05_icon{
//                 margin-left: auto;
//                 color: #ffa500;

//                 .sec05-toggle-icon {
//                     transition: transform 0.3s ease;
//                     display: inline-block;
//                 }

//                 .sec05-toggle-icon.rotate {
//                     transform: rotate(45deg); 
//                 }  
//             }
//         }

//         .sec05_a{
//             font-size: map-get(variables.$content, font-size);
//             padding: 1.2rem 1.8rem;
//             background-color: variables.$basic-bg;
//             border-radius: 0 0 30px 30px;

//             p{
//                 margin-bottom: 0;
//             }
//         }
// }
//==========section 05 end==========
@media (max-width:1649px){
    .sec01{
        .sec01-form{
            .sec01_title{
                font-size: 2.8rem;
            }
        }
    }    
}

@media (max-width:1440px) {
    .sec01 {
        .sec01-form{
            .sec01_title{
                left: 2%;
                top: 3%;
                font-size: 2.7rem;
            }
        }
    }
    .sec02{
        .sec02__content{
            height: 28vh;
        }
    }

    .sec04{
        .container{
            .row{
                .sec04__imgContent{
                    width: 74%;
                }
            }
        }
    }
}

@media (max-width:1387px){
    .sec01{
        .sec01-form{
            .sec01_title{
                font-size: 2.3rem;
                left: 1%;
                top: 4%;
            }
        }
    }    
}

@media (max-width:1280px) {
    // =============sec 01======================
    .sec01{
        padding: 30px 60px;  
        .sec01-form{
            .sec01_title {
                top: 4%;
                font-size: 2.4rem;
            }
        }
    } 
    // =============sec 01 end==================

    // =============sec 02======================
    .sec02{
        padding: 60px 0;

        .sec02_titleform{
            margin-bottom: 45px;
            p{
             font-size: 2.4rem;
            }
        }

        .container{
            margin-bottom: 45px;
            .sec02__content{
            height: 37vh;
            .sec02__subcontent{
                margin: 18px;
                p{
                    font-size: 1.2rem;
                    margin-bottom: 10px;
                }

                span{
                    font-size: 1rem;
                    }
                }
            }
        }
        .effect{
            font-size: 1.2rem;
        }
    }
    // =============sec 02 end==================

    // =============sec 03======================
    .sec03{
        padding: 60px 0;
        .sec03_titleForm{
            .sec03_title {
                font-size: 2.4rem;
                margin-bottom: 0.3rem;
            }
            .sec03_subtitle {
                font-size: 1.2rem;
            }
        }
    }
    // =============sec 03 end==================

    // =============sec 04======================
    .sec04{
        padding: 60px 0;

        .container{
            .row{
                .sec04__titleContent{
                    h2{
                        font-size: 2.4rem;
                    }
                }
            }
        }
        .effect{
            font-size: 1.2rem;
        }
    }
    //==============sec 04 end==================

    // =============sec 05======================
    // .sec05{
    //     padding: 60px 0;
    //     .sec05_titleform{
    //         .sec05_title{
    //             font-size: 2.4rem;
    //         }
    //         .sec05_subtitle{
    //             font-size: 1.2rem;
    //         }
    //     }
    //     .sec05_form {
    //         font-size: 1.2rem;
    //         padding: 1.5% 1%;
    //     } 
    // }
    // =============sec 05 end==================
}

@media (max-width:1190px){
    .sec01{
        .sec01-form{
            .sec01_title{
                top: 4%;
                font-size: 2rem;
            }
        }
    }

    .sec03{
        .image-box{
            .image-item{
                .image-wrapper{
                    width: 230px;
                    height: 230px;
                }
                .caption{
                    .sec03-c-des{
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }    
}
    
@media (max-width:1024px){
    // =============sec01===================
    .sec01 {
        padding: 15px 44px 20px;
        .sec01-form{
            .sec01_title{
                left: 2%;
                font-size: 2rem;
            }
        }

    }
    // =============sec01 end==============

    // =============sec02===================
    .sec02 {
        padding: 45px 0;
        .sec02_titleform{
            margin-bottom: 50px;
            p {
                font-size: 2rem;
            }
        }
        .container{
            margin-bottom: 50px;
            .sec02__content {
                height: 34vh;
                .sec03__subcontent{
                    p {
                        font-size: 1.2rem;
                        margin-bottom: 5px;
                    }
                    span {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    // =============sec02 end===============

    // =============.sec03==================
    .sec03{
        padding: 45px 0;
        .sec03_titleForm{
            .sec03_title{
                font-size: 2rem;
            }
            .sec03_subtitle{
                font-size: 1.1rem;
            }

        }
        .image-box{
            .image-item{
                margin: 0 25px;
                .image-wrapper{
                    width: 230px;
                    height: 230px;
                    .hover-text{
                        font-size: 1.1rem;
                    }
                }
                .caption{
                    .sec03-c-des{
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
    // =============sec03 end===============

    // =============sec04===================
    .sec04 {
        padding: 45px 0;
        .container{
            .row{
                .sec04__titleContent{
                    margin-bottom: 65px;
                    margin-left: 40px;
                    h2{
                        font-size: 2rem;
                    }
                }
            }
            
            .sec04__imgContent{
                justify-content: space-around;
                .sec04_image{
                    width: 50%;
                }
            }
        }
        .effect{
            margin-left: 40px;
            font-size: 1.1rem;
        }
    }
    // =============sec04 end===============

    // =============.sec05==================
    // .sec05 {
    //     padding: 45px 0;
    //     .sec05_titleform{
    //         .sec05_title{
    //             font-size: 2rem;
    //             margin-bottom: 0.5rem;
    //         }
    //     }
    //     #accordion{
    //         .sec05_a{
    //             padding: 1rem 1.5rem;
    //         }
    //     }
    // }
    // =============sec05 end===============
}

@media (max-width:997px){
    .sec01{
        .sec01-form{
            .sec01_title{
                font-size: 1.5rem;
            }
        }
    }   
}

@media (max-width:768px){
//==========sec01===============
    .sec01 {
        padding: 10px 36px 30px;
        .sec01-form{
            .sec01_title {
                top: 5%;
                left: 2%;
                font-size: 1.4rem;
            }
        }
    }
//==========sec01 end===========

//==========sec02===============
     .sec02 {
        padding: 35px 0;
        .sec02_titleform{
            margin-bottom: 35px;
            p{
                font-size: 1.4rem;
            }
        }
        .container{
            margin-bottom: 35px;

            .sec02__content {
                height: 26vh;
            .sec02__subcontent {
                margin: 18px;
                p {
                    font-size: 0.9rem;
                    margin-bottom: 5px;
                }
                span {
                    font-size: 0.8rem;
                    }
                }
            }
        }
        .effect{
            font-size: 1rem;
            min-width: 10rem;
            padding: 0.4rem;
        }
    }
//==========sec02 end===========

//==========sec03===============
.sec03 {
        padding: 35px 0;
    .sec03_titleForm{
        .sec03_title {
            font-size: 1.4rem;
        }
        .sec03_subtitle{
            font-size: 1rem;
            margin-bottom: 25px;
        }
    }
    .image-box{
        .image-item{
            margin: 0 19px;
            .image-wrapper{
                width: 200px;
                height: 200px;
                .hover-text{
                    font-size: 0.9rem;
                }
            }
            .caption{
                margin-top: 16px;
                .sec03-c-title{
                    font-size: 0.9rem;
                    margin-bottom: 0.4rem;
                }
                .sec03-c-des{
                    font-size: 0.8rem;
                }
            }
        }
    }

}
//==========sec03 end===========
    

//==========sec04===============
    .sec04 {
        padding: 35px 0;
        .container{
            .row{
                .sec04__titleContent{
                    margin-bottom: 40px;
                    margin-left: 30px;
                    h2{
                        font-size: 1.4rem;
                    }
                }
                .effect{
                    min-width: 12rem;
                    padding: 0.2rem;
                    font-size: 1rem;
                    margin-left: 30px;
                }
                .sec04__imgContent{
                    .sec04_image {
                        width: 100%;
                    }
                }
            }
        }
    }

    
//==========sec04 end===========

//==========sec05===============
    // .sec05 {
    //     padding: 40px 0;
    //     .sec05_titleform{
    //         .sec05_title{
    //             font-size: 1.4rem;
    //             margin-bottom: 0.5rem;
    //         }
    //         .sec05_subtitle{
    //             font-size: 1rem;
    //             margin-bottom: 35px;
    //         }
    //     }
    //     #accordion{
    //         .sec05_form{
    //             font-size: 0.9rem;
    //         }
    //         .sec05_a{
    //             padding: 0.7rem 1.3rem;
    //             font-size: 0.8rem;
    //         }
    //     }
    // }
//==========sec05 end===========
}

@media (max-width:767px){
    .sec02{
        .container{
            .row{
                gap: 20px;
            }
        }
    }
}

@media (max-width:540px){
.nav-form {
  .gnb{
      ul.open{
        background-color: variables.$basic-bg;
      }
    }
}

//==========sec01==========
    .sec01 {
        padding: 14px 0;
        .sec01-form{
            position: relative;
            .sec01_title{
                font-size: 1.4rem;
                text-align: center;
                top: 12%;
                left: 30%;
            }
            .sec01_bg{
                .sec01_bg-img {
                    opacity: 0;
                    width: 100%;
                    height: 18vh;
                }   
            }
        }
    }
//==========sec01 end===========

//==========sec02===============
     .sec02 {
        padding: 40px 0;
        .sec02_titleform{
            margin-bottom: 30px;
            
        }
        .container{
            margin-bottom: 25px;
            padding: 0 20px;
            .sec02__content {
                height: 26vh;
                .sec02__subcontent{
                    margin: 25px;
                        p {
                        font-size: 1rem;
                        margin-bottom: 2px;
                    }
                    span {
                        font-size: 0.8rem;
                    }
                }
            }
        }
        
        .effect {
            font-size: 1rem;
        }
    }
//==========sec02 end===========

//==========sec03===============
    .sec03{
        padding: 40px 0;
        .container{
            padding: 0 20px;
            .sec03_titleForm{
                .sec03_title {
                    font-size: 1.4rem;
                }
                .sec03_subtitle {
                    font-size: 0.9rem;
                    margin-bottom: 25px;
                }
            }
            #slider{
                .image-box{
                    .image-item{
                        .image-wrapper{
                            width: 180px;
                            height: 180px;
                        }
                    }
                }
            }
        }
        
    }
//==========sec03 end===========

//==========sec04===============
    .sec04{
        padding: 40px 0;
        .container{
            .row{
                flex-wrap: wrap-reverse;
                    .sec04__titleContent{
                        margin-bottom: 20px;
                        margin-left: 0px;
                        h2{
                            font-size: 1.4rem;
                            text-align: center;
                        }
                    }   
                .btn-wrapper{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    .effect {
                        width: 30%;
                        min-width: 120px;
                        text-align: center;
                        font-size: 0.9rem;
                        margin-left: 0;
                    }
                }
                .sec04__imgContent {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                    margin-bottom: 24px;
                    .sec04_image{
                        width: 55%;
                    }
                }
            }
        }
    }
//==========sec04 end===========

//==========sec05===============
    // .sec05{
    //     padding: 40px 0;
    //     .container{
    //         padding: 0 20px;
    //         .sec05_titleform{
    //             .sec05_title {
    //                 font-size: 1.4rem;
    //                 margin-bottom: 0.5rem;
    //             }
    //             .sec05_subtitle {
    //                 font-size: 0.9rem;
    //             }
    //         }
    //         #accordion{
    //             .sec05_form{
    //                 font-size: 0.8rem;
    //             }
    //             .sec05_a{
    //                 font-size: 0.7rem;
    //             }
    //         }
    //     }
    // }
//==========sec05 end===========
}

@media (max-width:402px){
    .sec01{
        .sec01-form{
            .sec01_bg{
                .sec01_bg-img{
                    height: 23vh;
                }
            }
            .sec01_title{
                top: 20%;
                left: 21%;
            }
        }
    }

    .sec02{
        .container{
            .sec02__content{
                height: 38vh;
            }
        }
    }

    .sec03{
        .image-box{
            .image-item{
                margin: 0 6px;
                .image-wrapper{
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }
    

    .sec04{
        .container{
            .row{
                .sec04__imgContent{
                    .sec04_image{
                        width: 67%;
                    }
                }
            }
        }
    }
}

@media (max-width:348px){
    //==========sec01===============
    .sec01 {
        padding: 15px 20px;
        .sec01-form{
            .sec01_title {
                top: 28%;
                left: 18%;
                font-size: 1.2rem;
            }
            .sec01_bg{
                .sec01_bg-img{
                    height: 19vh;
                }
            }
        }
    }
    //==========sec01 end===========

    //==========sec02===============
    .sec02 {
        padding: 30px 0;
        .sec02_titleform{
            margin-bottom: 30px;
            p{
                font-size: 1.2rem;
            }
        }
        .container{
            margin-bottom: 10px;
            .sec02__content {
                height: 22vh;
            .sec02__subcontent{
                line-height: 1;
                margin: 16px;
                    p {
                        font-size: 0.8rem;
                        margin-bottom: 2px;
                    }
                    span {
                        font-size: 0.6rem;
                    }
                }
            }
        }
        .effect {
            font-size: 0.7rem;
        }
    }
    //==========sec02 end===========

    //==========sec03===============
    .sec03{
        padding: 30px 0;
            .sec03_titleForm{
                .sec03_title {
                    font-size: 1.2rem;
                    margin-bottom:2px;
                }
                .sec03_subtitle {
                    font-size: 0.8rem;
                    margin-bottom: 25px;
                }
            }
            
                .image-box{
                    .image-item{
                        .caption{
                            .sec03-c-title{
                                font-size: 0.8rem;
                                margin-bottom: 0.4rem;
                            }
                            .sec03-c-des {
                                font-size: 0.6rem;
                            }
                        }
                    }
                }
    }  
    //==========.sec03 end==========

    //==========sec04===============
    .sec04 {
        padding: 30px 0;
        .container{
            // margin: 30px 0;
            .row{
                .sec04__titleContent{
                    h2{
                        font-size: 1.2rem;
                    }

                }
                .btn-wrapper{
                    .effect{
                        font-size: 0.8rem;
                    }
                }
            }
            
        }
    }
    //==========sec04 end===========

    //==========sec05===============
    // .sec05 {
    //     padding: 40px 0;
    //     .container{
    //         .sec05_titleform{
    //             .sec05_title {
    //                 font-size: 1.2rem;
    //                 margin-bottom: 0.3rem;
    //             }
    //             .sec05_subtitle {
    //                 font-size: 0.8rem;
    //             }
    //         }
    //         #accordion{
    //             .sec05_form{
    //                 font-size: 0.7rem;
    //             }
    //             .sec05_a{
    //                 font-size: 0.5rem;
    //                 padding: 0.5rem 0.9rem;
    //             }
    //         }
    //     }
    // }
    //==========sec05 end===========
}











