@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy.css");
.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

.w-20 {
  width: 20%;
}

.w-10 {
  width: 10%;
}

.d-flex {
  display: flex;
}

.bg-white {
  background-color: #fff;
}

.pd-0 {
  padding: 0;
}

@font-face {
  font-family: "Paperlogy";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.ttf") format("truetype");
}
.pd-100 {
  padding: 100px 0;
}

.pd-50 {
  padding: 50px 0;
}

.mb-80 {
  margin-bottom: 80px;
}

.nav-form {
  width: 100%;
  padding: 25px 80px;
  background-color: #FFF8ED;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.nav-form .logo {
  width: 28%;
}
.nav-form .gnb {
  display: flex;
  align-items: center;
  font-family: "Paperlogy";
}
.nav-form .gnb .hamburger {
  display: none;
  font-size: 2rem;
  color: #272727;
  cursor: pointer;
}
.nav-form .gnb ul {
  display: flex;
  gap: 2rem; /* 항목 사이 간격 */
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-form .gnb ul .gnb-list {
  font-weight: 700;
}
.nav-form .gnb ul .gnb-list a {
  text-decoration: none;
  color: #272727;
  font-size: 1.5rem;
}
.nav-form .gnb ul .gnb-list a .mark {
  position: relative;
  display: inline-block;
  z-index: 0;
  padding: 0;
  margin-left: 80px;
  background-color: #FFF8ED;
}
.nav-form .gnb ul .gnb-list a .mark::after {
  content: "";
  width: 0.5px;
  height: 10px;
  position: absolute;
  bottom: 4px;
  left: 0;
  background-color: #ffa500;
  z-index: -1;
  opacity: 0;
  transition: all 0.7s;
}
.nav-form .gnb ul .gnb-list a .mark:hover::after {
  opacity: 1;
  width: 100%;
}

.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "pretendard";
  font-size: 1.4rem;
  padding: 0.6rem;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.effect.effect-5 {
  transition: all 0.2s linear 0s;
  border: 2px solid #FFA500;
  color: #FFA500;
  background-color: #fff;
  min-width: 15rem;
}
.effect.effect-5:before {
  content: ">";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 18%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 50% 50% 0;
  transform: scale(0, 1);
  transform-origin: left center;
  transition: all 0.2s linear 0s;
}
.effect.effect-5:hover {
  text-indent: 2rem;
  background-color: #FFA500;
  color: #Fff;
}
.effect.effect-5:hover:before {
  transform: scale(1, 1);
  text-indent: 0;
}

footer {
  background-color: #3e3e3e;
  padding: 40px 65px;
}
footer .footer_titleform {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}
footer .footer_titleform .footer-logo {
  width: 90%;
}
footer .footer_titleform .footer_menu {
  margin-left: auto;
}
footer .footer_titleform .footer_menu .footer_menulist {
  display: flex;
  list-style: none;
  gap: 0 50px;
  margin-left: auto;
  font-size: 1.1rem;
}
footer .footer_titleform .footer_menu .footer_menulist a {
  font-family: "Paperlogy";
  color: #d9d9d9;
  text-decoration: none;
}
footer .footer_content, footer .footer_copy {
  font-family: "pretendard";
  color: #bdbdbd;
}
footer .footer_content {
  margin-bottom: 20px;
}
footer .footer_content .footer_contentlist {
  display: flex;
  list-style: none;
  padding: 0;
  font-family: "pretendard";
  font-size: 1rem;
}
footer .footer_content .footer_contentlist li:not(:last-of-type) {
  border-right: 2px solid #bdbdbd;
  padding-right: 30px;
}
footer .footer_content .footer_contentlist li:not(:first-of-type) {
  padding-left: 30px;
}

@media (max-width: 1440px) {
  .nav-form .gnb ul .gnb-list a {
    font-size: 1.4rem;
  }
}
@media (max-width: 1280px) {
  .nav-form {
    padding: 25px 60px;
  }
  .nav-form .gnb ul .gnb-list a {
    font-size: 1.1rem;
  }
  footer {
    padding: 40px 60px;
  }
  footer .footer_titleform .footer-logo {
    width: 80%;
  }
}
@media (max-width: 1127px) {
  .nav-form .gnb ul .gnb-list a .mark {
    margin-left: 60px;
  }
}
@media (max-width: 1024px) {
  .nav-form {
    padding: 20px 44px;
  }
  .nav-form .gnb ul .gnb-list a {
    font-size: 1rem;
  }
  .nav-form .gnb ul .gnb-list a .mark {
    margin-left: 70px;
  }
  footer {
    padding: 50px 45px;
  }
  footer .footer_titleform .footer-logo {
    width: 70%;
  }
  footer .footer_titleform .footer_menu .footer_menulist {
    font-size: 0.9rem;
  }
  footer .footer_content .footer_contentlist {
    font-size: 0.9rem;
  }
  footer .footer_content .footer_contentlist li:not(:first-of-type) {
    padding-left: 25px;
  }
  footer .footer_content .footer_contentlist li:not(:last-of-type) {
    padding-right: 25px;
  }
  footer .footer_copy {
    font-size: 0.9rem;
  }
}
@media (max-width: 1001px) {
  .nav-form .gnb ul .gnb-list a .mark {
    margin-left: 50px;
  }
}
@media (max-width: 890px) {
  .nav-form .gnb ul .gnb-list a {
    font-size: 0.8rem;
  }
  .nav-form .gnb ul .gnb-list a .mark {
    margin-left: 40px;
  }
}
@media (max-width: 773px) {
  .nav-form .logo {
    width: 27%;
  }
}
@media (max-width: 768px) {
  .nav-form {
    padding: 15px 36px;
  }
  .nav-form .logo {
    width: 29%;
    line-height: 1;
  }
  .nav-form .gnb {
    margin-top: 0;
    line-height: 1.1;
  }
  .nav-form .gnb ul .gnb-list a {
    font-size: 0.8rem;
  }
  .nav-form .gnb ul .gnb-list a .mark {
    margin-left: 43px;
  }
  footer {
    padding: 30px 25px;
  }
  footer .footer_titleform {
    margin-bottom: 30px;
  }
  footer .footer_titleform .footer-logo {
    width: 47%;
  }
  footer .footer_titleform .footer_menu .footer_menulist {
    font-size: 0.7rem;
  }
  footer .footer_content {
    margin-bottom: 10px;
  }
  footer .footer_content .footer_contentlist {
    font-size: 0.7rem;
    margin-bottom: 10px;
  }
  footer .footer_copy {
    font-size: 0.7rem;
    margin: 0;
  }
}
@media (max-width: 540px) {
  .nav-form {
    position: relative;
    padding: 20px 20px;
  }
  .nav-form .logo {
    width: 37%;
  }
  .nav-form .gnb {
    position: relative;
  }
  .nav-form .gnb .hamburger {
    display: block;
    font-size: 1.5rem;
  }
  .nav-form .gnb ul {
    gap: 0;
    position: absolute;
    top: 100%;
    right: -60.5%;
    width: 100vw;
    display: none;
    flex-direction: column;
    background-color: #FFF8ED;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    z-index: 1000;
  }
  .nav-form .gnb ul .gnb-list {
    padding: 1rem;
    border-bottom: 1px solid #eee;
    text-align: center;
  }
  .nav-form .gnb ul .gnb-list a .mark {
    margin-left: auto;
  }
  .nav-form .gnb ul.open {
    display: flex;
  }
  footer {
    padding: 24px;
  }
  footer .footer_titleform {
    margin-bottom: 15px;
  }
  footer .footer_titleform .footer-logo {
    width: 38%;
  }
  footer .footer_titleform .footer_menu .footer_menulist {
    display: none;
  }
  footer .footer_contentform .footer_content .footer_contentlist {
    font-size: 0.5rem;
    margin-bottom: 10px;
  }
  footer .footer_contentform .footer_content .footer_contentlist li:not(:last-of-type) {
    padding-right: 20px;
  }
  footer .footer_contentform .footer_content .footer_contentlist li:not(:first-of-type) {
    padding-left: 20px;
  }
  footer .footer_contentform .footer_copy {
    font-size: 0.5rem;
  }
}
@media (max-width: 402px) {
  .nav-form {
    padding: 15px;
  }
  .nav-form .logo {
    width: 40%;
  }
  .nav-form .gnb {
    margin-top: 0;
  }
  .nav-form .gnb .hamburger {
    font-size: 1.4rem;
  }
}
@media (max-width: 385px) {
  .nav-form .gnb ul {
    right: -87.5%;
  }
}
@media (max-width: 348px) {
  .nav-form {
    padding: 10px 20px;
    line-height: 0;
  }
  .nav-form .logo {
    width: 39%;
  }
  .nav-form .gnb .hamburger {
    font-size: 1.2rem;
  }
  .nav-form .gnb ul {
    margin-bottom: 0;
  }
  footer .footer_titleform {
    margin-bottom: 8px;
  }
  footer .footer_titleform .footer-logo {
    width: 30%;
  }
  footer .footer_contentform .footer_content {
    margin-bottom: 0;
  }
  footer .footer_contentform .footer_content .footer_contentlist {
    margin-bottom: 5px;
  }
  footer .footer_contentform .footer_content .footer_contentlist .d-none {
    display: none;
  }
  footer .footer_contentform .footer_content .footer_contentlist li:not(:last-of-type) {
    padding-right: 10px;
  }
  footer .footer_contentform .footer_content .footer_contentlist li:not(:first-of-type) {
    padding-left: 10px;
  }
  footer .footer_contentform .footer_copy p {
    margin: 0;
  }
}
.nav-form, .nav-form .gnb ul .gnb-list a .mark {
  background-color: #fff;
}

.sec01 .sec01_bg01 {
  position: relative;
  background-image: url("../images/findplace_sec01_bg01.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
  height: 700px;
}
.sec01 .sec01_bg02 {
  position: relative;
  background-image: url("../images/findplace_sec01_bg02.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
  height: 700px;
}
.sec01 .sec01_bg03 {
  position: relative;
  background-image: url("../images/findplace_sec01_bg03.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
  height: 700px;
}
.sec01 .sec01_content {
  position: absolute;
  top: 34%;
  right: 10%;
  color: white;
  text-align: right;
  z-index: 9999;
}
.sec01 .sec01_content .sec01_title {
  font-family: "Paperlogy";
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.sec01 .sec01_content .sec01_subtitle {
  font-family: "Paperlogy";
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.sec01 .next:after, .sec01 .prev:after {
  color: #fff;
}

.sec02 {
  padding: 100px 0;
}
.sec02 .sec02_titleform {
  margin-bottom: 50px;
}
.sec02 .sec02_titleform .sec02_title {
  font-family: "Paperlogy";
  font-size: 2.6rem;
  font-weight: 700;
  color: #272727;
}
.sec02 .sec02_titleform .sec02_subtitle {
  font-family: "Paperlogy";
  font-size: 1.3rem;
  font-weight: 500;
  color: #bdbdbd;
}
.sec02 .sec02_contentform .sec02_card01 {
  border: 1px solid #d9d9d9;
  padding: 2rem;
  border-radius: 5px;
}
.sec02 .sec02_contentform .sec02_card01 .sec02-img {
  width: 100%;
  margin-bottom: 40px;
}
.sec02 .sec02_contentform .sec02_card01 .sec02__subcontent .sec02_c_title {
  font-family: "pretendard";
  font-size: 1.2rem;
  font-weight: 700;
  color: #272727;
  margin-bottom: 10px;
}
.sec02 .sec02_contentform .sec02_card01 .sec02__subcontent .sec02_content {
  font-family: "pretendard";
  font-size: 1rem;
  font-weight: 400;
  color: #272727;
  padding-left: 1rem;
  margin-bottom: 40px;
}
.sec02 .sec02_contentform .sec02_card01 .sec02__subcontent .sec02_c_btn {
  font-family: "pretendard";
  font-size: 1rem;
  font-weight: 400;
  color: #FFA500;
  text-decoration: none;
  border: 1px solid #FFA500;
  background-color: white;
  border-radius: 30px;
  padding: 0.6rem 0.9rem;
  transition: all 0.3s ease;
}
.sec02 .sec02_contentform .sec02_card01 .sec02__subcontent .sec02_c_btn:hover {
  color: #fff;
  background: #FFA500;
}

.sec03 {
  padding-bottom: 100px;
}
.sec03 .sec03_title {
  font-family: "Paperlogy";
  font-size: 2.6rem;
  font-weight: 700;
  color: #272727;
  margin: 0;
  margin-bottom: 10px;
}
.sec03 .sec03_tab {
  display: flex;
  align-items: center;
  gap: 0 50px;
  justify-content: center;
}
.sec03 .sec03_tab .sec03_theme {
  padding-top: 45px;
  cursor: pointer;
}
.sec03 .sec03_tab .sec03_theme i {
  font-size: 1.7rem;
  color: #ffe5bb;
  border-radius: 100px;
  padding: 20px;
  border: 2px solid #ffe5bb;
}
.sec03 .sec03_tab .sec03_theme i:hover {
  background-color: #ffa500;
  color: #fff;
  transition: all 0.3s;
  border: none;
}
.sec03 .sec03_tab .sec03_theme.active i {
  background-color: #ffa500;
  color: #fff;
  border: none;
}
.sec03 .sec03_tab .sec03_theme p {
  font-family: "pretendard";
  font-size: 1.2rem;
  font-weight: 400;
  color: #272727;
  text-align: center;
  margin-top: 25px;
}
.sec03 .sec03_tab .sec03_theme.active p {
  font-weight: bold;
  color: #ffa500;
}
.sec03 .tab-content {
  display: none;
  margin: 30px 0;
}
.sec03 .tab-content.on {
  display: block;
}
.sec03 .tab-content .sec03_card {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}
.sec03 .tab-content .sec03_card img {
  width: 100%;
  height: 450px;
}
.sec03 .tab-content .sec03_card .sec03_card_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  color: #272727;
  transform: translateY(100%);
  transition: transform 0.4s ease-in-out;
}
.sec03 .tab-content .sec03_card .sec03_card_overlay .title {
  font-family: "pretendard";
  font-size: 1.2rem;
  font-weight: 700;
  color: #272727;
  margin-bottom: 8px;
}
.sec03 .tab-content .sec03_card .sec03_card_overlay .desc {
  font-family: "pretendard";
  font-size: 1rem;
  font-weight: 400;
  color: #272727;
  margin: 0;
}
.sec03 .tab-content .sec03_card:hover .sec03_card_overlay {
  transform: translateY(0);
}
.sec03 .effect {
  font-size: 1.2rem;
}

.sec04 {
  padding-bottom: 100px;
}
.sec04 .sec04_titleform {
  margin-bottom: 40px;
}
.sec04 .sec04_titleform .sec04_title {
  font-family: "Paperlogy";
  font-size: 2.6rem;
  font-weight: 700;
  color: #272727;
}
.sec04 .sec04_titleform .sec04_subtitle {
  font-family: "Paperlogy";
  font-size: 1.3rem;
  font-weight: 500;
  color: #bdbdbd;
}
.sec04 .sec04_slideform .sec04_card {
  padding: 40px 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF8ED;
  border-radius: 30px;
}
.sec04 .sec04_slideform .sec04_card .sec04_content .sec04_c_title {
  font-family: "Paperlogy";
  font-size: 1.4rem;
  font-weight: 500;
  color: #272727;
  margin-bottom: 40px;
}
.sec04 .sec04_slideform .sec04_card .sec04_content .sec04_c_list {
  font-family: "pretendard";
  font-size: 1.2rem;
  font-weight: 400;
  color: #272727;
  line-height: 200%;
}
.sec04 .sec04_slideform .sec04_card .sec04_img .sec04_card01 {
  width: 100%;
  height: 24vh;
  border-radius: 30px;
}
.sec04 .next:after, .sec04 .prev:after {
  color: #ffa500;
}

@media (max-width: 1440px) {
  .sec04 .sec04_slideform .sec04_card {
    padding: 40px 160px;
  }
  .sec04 .sec04_slideform .sec04_card .sec04_img .sec04_card01 {
    height: 36vh;
  }
}
@media (max-width: 1280px) {
  .sec01 .sec01_bg01, .sec01 .sec01_bg02, .sec01 .sec01_bg03 {
    height: 560px;
  }
  .sec01 .sec01_bg01 .sec01_content .sec01_title, .sec01 .sec01_bg02 .sec01_content .sec01_title, .sec01 .sec01_bg03 .sec01_content .sec01_title {
    font-size: 2.2rem;
  }
  .sec01 .sec01_bg01 .sec01_content .sec01_subtitle, .sec01 .sec01_bg02 .sec01_content .sec01_subtitle, .sec01 .sec01_bg03 .sec01_content .sec01_subtitle {
    font-size: 1.2rem;
  }
  .sec02 .sec02_titleform {
    margin-bottom: 45px;
  }
  .sec02 .sec02_titleform .sec02_title {
    font-size: 2.2rem;
    margin-bottom: 0.6rem;
  }
  .sec02 .sec02_titleform .sec02_subtitle {
    font-size: 1.2rem;
  }
  .sec03 .sec03_title {
    font-size: 2.2rem;
  }
  .sec03 .tab-content {
    display: none;
    margin: 30px 0 40px;
  }
  .sec03 .tab-content .sec03_cardForm .sec03_card .sec03_card01 {
    height: 360px;
  }
  .sec03 .tab-content .sec03_cardForm .sec03_card .sec03_card_overlay .desc {
    font-size: 0.9rem;
  }
  .sec04 .sec04_titleform .sec04_title {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
  }
  .sec04 .sec04_titleform .sec04_subtitle {
    font-size: 1.2rem;
  }
  .sec04 .sec04_slideform .sec04_card .sec04_content .sec04_c_title {
    margin-bottom: 20px;
  }
  .sec04 .sec04_slideform .sec04_card .sec04_img .sec04_card01 {
    height: 33vh;
  }
  .sec04 .next:after, .sec04 .prev:after {
    font-size: 2.2rem;
  }
}
@media (max-width: 1199px) {
  .sec01 .sec01_bg01,
  .sec01 .sec01_bg02,
  .sec01 .sec01_bg03 {
    height: 500px;
  }
  .sec01 .sec01_bg01 .sec01_content .sec01_title,
  .sec01 .sec01_bg02 .sec01_content .sec01_title,
  .sec01 .sec01_bg03 .sec01_content .sec01_title {
    font-size: 1.9rem;
  }
  .sec01 .sec01_bg01 .sec01_content .sec01_subtitle,
  .sec01 .sec01_bg02 .sec01_content .sec01_subtitle,
  .sec01 .sec01_bg03 .sec01_content .sec01_subtitle {
    font-size: 1rem;
  }
  .sec01 .next:after, .sec01 .prev:after {
    font-size: 1.5rem;
  }
  .sec02 {
    padding: 80px 0;
  }
  .sec02 .sec02_titleform .sec02_title {
    font-size: 1.9rem;
    margin-bottom: 0.6rem;
  }
  .sec02 .sec02_titleform .sec02 .sec02_titleform .sec02_subtitle {
    font-size: 1rem;
  }
  .sec03 .sec03_title {
    font-size: 1.9rem;
  }
  .sec04 .sec04_titleform .sec04_title {
    font-size: 1.9rem;
    margin-bottom: 0.5rem;
  }
  .sec04 .sec04_titleform .sec04_subtitle {
    font-size: 1rem;
  }
  .sec04 .sec04_slideform .sec04_card {
    padding: 40px 80px;
  }
  .sec04 .sec04_slideform .sec04_card .sec04_content .sec04_c_title {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  .sec04 .sec04_slideform .sec04_card .sec04_content .sec04_c_list {
    padding-left: 1rem;
    font-size: 0.9rem;
  }
}
@media (max-width: 1024px) {
  .sec01 .sec01_bg01,
  .sec01 .sec01_bg02,
  .sec01 .sec01_bg03 {
    height: 450px;
  }
  .sec01 .sec01_bg01 .sec01_content .sec01_title,
  .sec01 .sec01_bg02 .sec01_content .sec01_title,
  .sec01 .sec01_bg03 .sec01_content .sec01_title {
    font-size: 1.9rem;
  }
  .sec01 .sec01_bg01 .sec01_content .sec01_subtitle,
  .sec01 .sec01_bg02 .sec01_content .sec01_subtitle,
  .sec01 .sec01_bg03 .sec01_content .sec01_subtitle {
    font-size: 1rem;
  }
  .sec01 .next:after, .sec01 .prev:after {
    font-size: 1.7rem;
  }
  .sec02 {
    padding: 80px 0;
  }
  .sec02 .sec02_titleform .sec02_subtitle {
    font-size: 1rem;
  }
  .sec02 .sec02_contentform .sec02_card01 .sec02-img {
    margin-bottom: 28px;
  }
  .sec02 .sec02_contentform .sec02_card01 .sec02__subcontent .sec02_c_title {
    font-size: 1rem;
  }
  .sec02 .sec02_contentform .sec02_card01 .sec02__subcontent .sec02_content {
    font-size: 0.9rem;
    margin-bottom: 28px;
  }
  .sec02 .sec02_contentform .sec02_card01 .sec02__subcontent .sec02_c_btn {
    font-size: 0.9rem;
  }
  .sec03 {
    padding-bottom: 80px;
  }
  .sec03 .sec03_title {
    font-size: 1.9rem;
    margin-bottom: 25px;
  }
  .sec03 .sec03_tab .sec03_theme i {
    font-size: 2.1rem;
  }
  .sec03 .sec03_tab .sec03_theme p {
    font-size: 1rem;
  }
  .sec03 .tab-content {
    margin: 25px 0;
  }
  .sec03 .tab-content .sec03_cardForm {
    padding: 30px 0;
  }
  .sec03 .tab-content .sec03_cardForm .sec03_card .sec03_card01 {
    height: 300px;
  }
  .sec03 .tab-content .sec03_cardForm .sec03_card .sec03_card_overlay .title {
    font-size: 1rem;
  }
  .sec03 .tab-content .sec03_cardForm .sec03_card .sec03_card_overlay .desc {
    font-size: 0.9rem;
  }
  .sec03 .effect {
    font-size: 1rem;
    padding: 0.6rem;
    min-width: 10rem;
  }
  .sec04 {
    padding-bottom: 80px;
  }
  .sec04 .sec04_titleform .sec04_title {
    font-size: 1.9rem;
    margin-bottom: 0.5rem;
  }
  .sec04 .sec04_titleform .sec04_subtitle {
    font-size: 1rem;
  }
  .sec04 .sec04_slideform .sec04_card .sec04_content .sec04_c_title {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .sec04 .sec04_slideform .sec04_card .sec04_img .sec04_card01 {
    height: 37vh;
  }
  .sec04 .next:after, .sec04 .prev:after {
    font-size: 1.9rem;
  }
}
@media (max-width: 991px) {
  .sec02 .sec02_contentform .sec02_card01 {
    padding: 1.5rem 1.2rem;
  }
  .sec04 .sec04_slideform .sec04_card .sec04_img .sec04_card01 {
    height: 18vh;
  }
}
@media (max-width: 768px) {
  .sec01 .sec01_bg01,
  .sec01 .sec01_bg02,
  .sec01 .sec01_bg03 {
    height: 330px;
  }
  .sec01 .sec01_bg01 .sec01_content .sec01_title,
  .sec01 .sec01_bg02 .sec01_content .sec01_title,
  .sec01 .sec01_bg03 .sec01_content .sec01_title {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  .sec01 .sec01_bg01 .sec01_content .sec01_subtitle,
  .sec01 .sec01_bg02 .sec01_content .sec01_subtitle,
  .sec01 .sec01_bg03 .sec01_content .sec01_subtitle {
    font-size: 0.7rem;
  }
  .sec01 .next:after, .sec01 .prev:after {
    font-size: 1rem;
  }
  .sec02 {
    padding: 60px 0;
  }
  .sec02 .sec02_titleform {
    margin-bottom: 35px;
  }
  .sec02 .sec02_titleform .sec02_title {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  .sec02 .sec02_titleform .sec02_subtitle {
    font-size: 0.7rem;
  }
  .sec02 .sec02_contentform .sec02_card01 .sec02-img {
    margin-bottom: 22px;
  }
  .sec02 .sec02_contentform .sec02_card01 .sec02__subcontent .sec02_c_title {
    font-size: 0.8rem;
  }
  .sec02 .sec02_contentform .sec02_card01 .sec02__subcontent .sec02_content {
    font-size: 0.7rem;
    margin-bottom: 20px;
  }
  .sec03 {
    padding-bottom: 60px;
  }
  .sec03 .sec03_title {
    font-size: 1.3rem;
    margin-bottom: 15px;
  }
  .sec03 .sec03_tab {
    gap: 0 20px;
  }
  .sec03 .sec03_tab .sec03_theme i {
    font-size: 1.5rem;
    padding: 12px;
  }
  .sec03 .sec03_tab .sec03_theme p {
    font-size: 0.8rem;
  }
  .sec03 .tab-content {
    margin: 20px 0;
  }
  .sec03 .tab-content .sec03_cardForm {
    padding: 0;
  }
  .sec03 .tab-content .sec03_cardForm .sec03_card .sec03_card01 {
    height: 250px;
  }
  .sec03 .tab-content .sec03_cardForm .sec03_card .sec03_card_overlay .title {
    font-size: 0.8rem;
  }
  .sec03 .tab-content .sec03_cardForm .sec03_card .sec03_card_overlay .desc {
    font-size: 0.7rem;
  }
  .sec03 .effect {
    font-size: 0.8rem;
    padding: 0.4rem;
    min-width: 8rem;
  }
  .sec04 {
    padding-bottom: 60px;
  }
  .sec04 .sec04_titleform .sec04_title {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  .sec04 .sec04_titleform .sec04_subtitle {
    font-size: 0.7rem;
  }
  .sec04 .sec04_slideform .sec04_card {
    padding: 40px 50px;
    margin: 0 12px;
  }
  .sec04 .sec04_slideform .sec04_card .sec04_content .sec04_c_title {
    font-size: 0.8rem;
    margin-bottom: 20px;
  }
  .sec04 .sec04_slideform .sec04_card .sec04_content .sec04_c_list {
    font-size: 0.7rem;
  }
  .sec04 .sec04_slideform .sec04_card .sec04_img .sec04_card01 {
    height: 21vh;
  }
  .sec04 .next:after, .sec04 .prev:after {
    font-size: 1.2rem;
  }
}
@media (max-width: 540px) {
  .nav-form .gnb ul.open {
    background: #fff;
  }
  .sec01 .sec01_bg01,
  .sec01 .sec01_bg02,
  .sec01 .sec01_bg03 {
    height: 250px;
  }
  .sec01 .sec01_bg01 .sec01_content .sec01_title,
  .sec01 .sec01_bg02 .sec01_content .sec01_title,
  .sec01 .sec01_bg03 .sec01_content .sec01_title {
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
  }
  .sec01 .sec01_bg01 .sec01_content .sec01_subtitle,
  .sec01 .sec01_bg02 .sec01_content .sec01_subtitle,
  .sec01 .sec01_bg03 .sec01_content .sec01_subtitle {
    font-size: 0.6rem;
  }
  .sec01 .next:after, .sec01 .prev:after {
    font-size: 0.8rem;
  }
  .sec02 {
    padding: 40px 0;
  }
  .sec02 .sec02_titleform {
    margin-bottom: 20px;
  }
  .sec02 .sec02_titleform .sec02_title {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
  .sec02 .sec02_titleform .sec02_subtitle {
    font-size: 0.6rem;
  }
  .sec02 .sec02_contentform .sec02_card01 {
    margin: 0 12px 24px;
  }
  .sec02 .sec02_contentform .sec02_card01 .sec02-img {
    margin-bottom: 18px;
  }
  .sec02 .sec02_contentform .sec02_card01 .sec02__subcontent .sec02_c_title {
    font-size: 0.8rem;
  }
  .sec02 .sec02_contentform .sec02_card01 .sec02__subcontent .sec02_content {
    font-size: 0.7rem;
    margin-bottom: 15px;
  }
  .sec02 .sec02_contentform .sec02_card01 .sec02__subcontent .sec02_c_btn {
    font-size: 0.7rem;
    padding: 0.4rem 0.8rem;
  }
  .sec03 {
    padding-bottom: 40px;
  }
  .sec03 .sec03_title {
    font-size: 1.1rem;
    margin-bottom: 0px;
  }
  .sec03 .sec03_tab {
    gap: 0 20px;
  }
  .sec03 .sec03_tab .sec03_theme {
    padding-top: 30px;
  }
  .sec03 .sec03_tab .sec03_theme i {
    font-size: 1rem;
    padding: 12px;
  }
  .sec03 .sec03_tab .sec03_theme p {
    font-size: 0.6rem;
    margin: 16px 0;
  }
  .sec03 .tab-content {
    margin: 10px 0;
  }
  .sec03 .tab-content .sec03_cardForm {
    padding: 0;
  }
  .sec03 .tab-content .sec03_cardForm .sec03_card .sec03_card01 {
    height: 200px;
    margin-bottom: 20px;
    border-radius: 30px;
  }
  .sec03 .tab-content .sec03_cardForm .sec03_card .sec03_card_overlay .title {
    font-size: 0.7rem;
  }
  .sec03 .tab-content .sec03_cardForm .sec03_card .sec03_card_overlay .desc {
    font-size: 0.6rem;
  }
  .sec03 .tab-content .sec03_cardForm .sec03_card:hover .sec03_card_overlay {
    transform: translateY(-25%);
    padding: 18px;
  }
  .sec03 .effect {
    font-size: 0.7rem;
    padding: 0.4rem;
    min-width: 8rem;
  }
  .sec04 {
    padding-bottom: 40px;
  }
  .sec04 .sec04_titleform {
    margin-bottom: 30px;
  }
  .sec04 .sec04_titleform .sec04_title {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
  .sec04 .sec04_titleform .sec04_subtitle {
    font-size: 0.6rem;
  }
  .sec04 .sec04_slideform .sec04_card {
    padding: 26px 28px;
    margin: 0 12px;
  }
  .sec04 .sec04_slideform .sec04_card .sec04_content .sec04_c_title {
    font-size: 0.7rem;
    margin-bottom: 20px;
  }
  .sec04 .sec04_slideform .sec04_card .sec04_content .sec04_c_list {
    font-size: 0.6rem;
  }
  .sec04 .sec04_slideform .sec04_card .sec04_img .sec04_card01 {
    height: 21vh;
  }
  .sec04 .next:after, .sec04 .prev:after {
    font-size: 0.8rem;
  }
}
@media (max-width: 348px) {
  .sec01 .sec01_bg01,
  .sec01 .sec01_bg02,
  .sec01 .sec01_bg03 {
    height: 180px;
  }
  .sec01 .sec01_bg01 .sec01_content,
  .sec01 .sec01_bg02 .sec01_content,
  .sec01 .sec01_bg03 .sec01_content {
    text-align: center;
    top: 38%;
    right: 30%;
  }
  .sec01 .sec01_bg01 .sec01_content .sec01_title,
  .sec01 .sec01_bg02 .sec01_content .sec01_title,
  .sec01 .sec01_bg03 .sec01_content .sec01_title {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
  }
  .sec01 .sec01_bg01 .sec01_content .sec01_subtitle,
  .sec01 .sec01_bg02 .sec01_content .sec01_subtitle,
  .sec01 .sec01_bg03 .sec01_content .sec01_subtitle {
    font-size: 0.5rem;
  }
  .sec01 .next:after, .sec01 .prev:after {
    font-size: 0.8rem;
  }
  .sec02 {
    padding: 30px 0;
  }
  .sec02 .sec02_titleform {
    margin-bottom: 15px;
  }
  .sec02 .sec02_titleform .sec02_title {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
  }
  .sec02 .sec02_titleform .sec02_subtitle {
    font-size: 0.5rem;
  }
  .sec02 .sec02_contentform .sec02_card01 {
    padding: 1rem;
  }
  .sec02 .sec02_contentform .sec02_card01 .sec02-img {
    margin-bottom: 15px;
  }
  .sec02 .sec02_contentform .sec02_card01 .sec02__subcontent .sec02_c_title {
    font-size: 0.6rem;
    margin-bottom: 5px;
  }
  .sec02 .sec02_contentform .sec02_card01 .sec02__subcontent .sec02_content {
    font-size: 0.5rem;
    margin-bottom: 6px;
  }
  .sec02 .sec02_contentform .sec02_card01 .sec02__subcontent .sec02_c_btn {
    font-size: 0.5rem;
    padding: 0.3rem 0.6rem;
  }
  .sec03 {
    padding-bottom: 30px;
  }
  .sec03 .sec03_title {
    font-size: 0.9em;
    margin-bottom: 0px;
    margin-left: 12px;
  }
  .sec03 .sec03_tab {
    gap: 0 10px;
  }
  .sec03 .sec03_tab .sec03_theme {
    padding-top: 20px;
  }
  .sec03 .sec03_tab .sec03_theme i {
    font-size: 1rem;
    padding: 8px;
    border: 1px solid #ffe5bb;
  }
  .sec03 .sec03_tab .sec03_theme p {
    font-size: 0.5rem;
    margin: 8px 0;
  }
  .sec03 .tab-content {
    margin: 5px 0;
  }
  .sec03 .tab-content .sec03_cardForm {
    padding: 0;
  }
  .sec03 .tab-content .sec03_cardForm .sec03_card .sec03_card01 {
    height: 200px;
    margin-bottom: 20px;
    border-radius: 30px;
  }
  .sec03 .tab-content .sec03_cardForm .sec03_card .sec03_card_overlay .title {
    font-size: 0.7rem;
  }
  .sec03 .tab-content .sec03_cardForm .sec03_card .sec03_card_overlay .desc {
    font-size: 0.6rem;
  }
  .sec03 .tab-content .sec03_cardForm .sec03_card:hover .sec03_card_overlay {
    transform: translateY(-25%);
    padding: 13px;
  }
  .sec03 .effect {
    font-size: 0.7rem;
    padding: 0.4rem;
    min-width: 8rem;
  }
  .sec04 {
    padding-bottom: 30px;
  }
  .sec04 .sec04_titleform {
    margin-bottom: 15px;
  }
  .sec04 .sec04_titleform .sec04_title {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
  }
  .sec04 .sec04_titleform .sec04_subtitle {
    font-size: 0.5rem;
  }
  .sec04 .sec04_slideform .sec04_card {
    padding: 20px 25px;
    margin: 0 12px;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .sec04 .sec04_slideform .sec04_card .sec04_content .sec04_c_title {
    font-size: 0.7rem;
    margin-bottom: 12px;
  }
  .sec04 .sec04_slideform .sec04_card .sec04_content .sec04_c_list {
    font-size: 0.6rem;
  }
  .sec04 .sec04_slideform .sec04_card .sec04_img .sec04_card01 {
    height: 25vh;
    margin-bottom: 20px;
  }
  .sec04 .next:after, .sec04 .prev:after {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=find_place.css.map */