@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy.css");
@font-face {
  font-family: "Paperlogy";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.ttf") format("truetype");
}
.pd-100 {
  padding: 100px 0;
}

.pd-50 {
  padding: 50px 0;
}

.mb-80 {
  margin-bottom: 80px;
}

header {
  font-family: "Paperlogy";
  background-color: #FFF8ED;
  justify-content: space-between;
  padding: 40px 80px;
}
header .header-nav {
  color: #272727;
  gap: 0 120px;
}
header .header-nav .header-navbar {
  gap: 0 100px;
}
header .header-nav .header-navbar .header-nav-link {
  font-size: 1.4rem;
  font-weight: 700;
  color: #272727;
}
header .header-nav .header-navbar .header-nav-link:focus, header .header-nav .header-navbar .header-nav-link:hover {
  color: #272727;
}
header .header-nav .header-navbar .header-nav-link span {
  position: relative;
  display: inline-block;
  z-index: 0;
}
header .header-nav .header-navbar .header-nav-link:focus span, header .header-nav .header-navbar .header-nav-link:hover span {
  color: #272727;
}
header .header-nav .header-navbar .mark {
  padding: 0;
  background-color: #FFF8ED;
}
header .header-nav .header-navbar .mark::after {
  content: "";
  width: 0.5px;
  height: 10px;
  position: absolute;
  bottom: 11px;
  left: 0;
  background-color: #FFA500;
  z-index: -1;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.7s;
}
header .header-nav .header-navbar .mark:hover::after {
  opacity: 1;
  width: 100%;
}
header .header_nav-icon {
  list-style: none;
  display: flex;
  gap: 0 40px;
}
header .header_nav-icon i {
  font-size: 1.6rem;
  font-weight: 700;
  color: #272727;
}
header .header_nav-icon i:hover {
  color: #FFA500;
  transition: all 0.2s ease-in-out;
}
header .header_nav-icon .hamburger {
  display: none;
}

.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.4rem;
  padding: 0.6rem;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.effect.effect-5 {
  transition: all 0.2s linear 0s;
  border: 2px solid #FFA500;
  color: #FFA500;
  background-color: #fff;
  min-width: 15rem;
}
.effect.effect-5:before {
  content: ">";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 18%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 50% 50% 0;
  transform: scale(0, 1);
  transform-origin: left center;
  transition: all 0.2s linear 0s;
}
.effect.effect-5:hover {
  text-indent: 2rem;
  background-color: #FFA500;
  color: #Fff;
}
.effect.effect-5:hover:before {
  transform: scale(1, 1);
  text-indent: 0;
}

.footer {
  background-color: #3e3e3e;
}
.footer .container .footer-logo {
  width: 45%;
}
.footer .container .footer-form01 {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.footer .container .footer-form01 ul {
  list-style: none;
}
.footer .container .footer-form01 ul a {
  font-size: 1.1rem;
  font-weight: 500;
  color: #d9d9d9;
  padding: 0.5rem 1rem;
}
.footer .container .footer-form02 .p-none {
  padding: 0;
}
.footer .container .footer-form02 .p-none ul {
  display: flex;
  list-style: none;
  color: #bdbdbd;
  padding: 0;
  margin-bottom: 20px;
}
.footer .container .footer-form02 .p-none ul li {
  font-size: 1.1rem;
  font-weight: 400;
  padding-bottom: 0;
}
.footer .container .footer-form02 .p-none ul li:not(:last-of-type) {
  border-right: 2px solid #bdbdbd;
  padding-right: 30px;
}
.footer .container .footer-form02 .p-none ul li:not(:first-of-type) {
  padding-left: 30px;
}
.footer .container .footer-form02 .footer-copyform {
  font-size: 1.1rem;
  font-weight: 500;
  color: #bdbdbd;
  padding: 0;
}
.footer .container .footer-form02 .footer-copyform .footer-copy {
  margin-top: 10px;
}

body {
  font-family: "pretendard";
}
body .basic-c {
  color: #FFA500;
}
body .point-c {
  color: #32BD7E;
}

.sec01 {
  background-color: #FFF8ED;
  padding: 50px 80px 100px;
}
.sec01 .sec01-form .sec01_title {
  font-family: "Paperlogy";
  font-size: 3.4rem;
  font-weight: 700;
  color: #272727;
  position: absolute;
  top: 22%;
  left: 7%;
}
.sec01 .sec01-form .sec01_title p {
  margin: 0;
}
.sec01 .sec01-form .sec01_title .basic-c {
  color: #FFA500;
}
.sec01 .sec01-form .sec01_title .point-c {
  color: #32BD7E;
}
.sec01 .sec01-form .sec01_bg {
  position: relative;
}

.sec02 .sec02-titleform .sec02_title {
  font-family: "Paperlogy";
  font-size: 3.4rem;
  font-weight: 700;
  color: #272727;
}
.sec02 .sec02-titleform .sec02__subtitle {
  color: #bdbdbd;
  font-size: 1.4rem;
}
.sec02 .sec02_card-form {
  position: relative;
  border-radius: 30px;
}
.sec02 .sec02_card-form .sec02_c-content {
  width: 100%;
  height: 40vh;
  z-index: 0;
}
.sec02 .sec02_card-form p {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  bottom: 5%;
  color: #fff;
  right: 5%;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "pretendard";
}
.sec02 .sec02_card-form::after {
  content: "";
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.2s ease-in-out;
  z-index: 999999;
}
.sec02 .sec02_card-form:hover::after {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  position: absolute;
  z-index: 1;
}

.sec03 .sec03_titleform {
  font-family: "Paperlogy";
  font-size: 3.4rem;
  font-weight: 700;
  color: #272727;
}
.sec03 .sec03__content {
  height: 32vh;
  display: flex;
  align-items: flex-end;
  color: #fff;
  margin: 0;
  border-radius: 30px;
}
.sec03 .sec03__content .sec03__subcontent {
  margin: 20px;
}
.sec03 .sec03__content .sec03__subcontent p {
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
}
.sec03 .sec03__content .sec03__subcontent span {
  font-size: 1.1rem;
  font-weight: 400;
  color: #fff;
}
.sec03 .sec03_card01 {
  background: url(../images/main_sec03-card01.png);
  background-position: center;
  background-size: cover;
}
.sec03 .sec03_card02 {
  background: url(../images/main_sec03-card02.png);
  background-position: center;
  background-size: cover;
}
.sec03 .sec03_card03 {
  background: url(../images/main_sec03-card03.png);
  background-position: center;
  background-size: cover;
}

.sec04 {
  background-color: #FFF8ED;
}
.sec04 .container .sec04__titleContent h2 {
  font-family: "Paperlogy";
  font-size: 3.4rem;
  font-weight: 700;
  color: #272727;
}
.sec04 .container .sec04__imgContent {
  display: flex;
  align-items: center;
  justify-content: end;
}

.sec05 .sec05_titleform .sec05_title {
  font-family: "Paperlogy";
  font-size: 3.4rem;
  font-weight: 700;
  color: #272727;
}
.sec05 .sec05_titleform .sec05_title .basic-c {
  color: #FFA500;
}
.sec05 .sec05_titleform .sec05_title .point-c {
  color: #32BD7E;
}
.sec05 .sec05_titleform .sec05_subtitle {
  font-size: 1.4rem;
  font-weight: 500;
  color: #bdbdbd;
}
.sec05 .sec05_form {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1.5% 1%;
  margin-bottom: 0;
  border-bottom: 2px solid #FFA500;
  display: flex;
}
.sec05 .sec05_form .sec05_icon {
  margin-left: auto;
  color: #ffa500;
}
.sec05 .sec05_form .sec05_icon .sec05-toggle-icon {
  transition: transform 0.3s ease;
  display: inline-block;
}
.sec05 .sec05_form .sec05_icon .sec05-toggle-icon.rotate {
  transform: rotate(45deg);
}
.sec05 .sec05_a {
  font-size: 1.1rem;
  padding: 1.2rem 1.8rem;
  background-color: #FFF8ED;
  border-radius: 0 0 30px 30px;
}
.sec05 .sec05_a p {
  margin-bottom: 0;
}

@media (max-width: 1280px) {
  header {
    padding: 30px 80px;
  }
  header img {
    width: 80%;
  }
  header .header-nav .header-navbar {
    gap: 0 60px;
  }
  header .header-nav .header-navbar .header-nav-link {
    font-size: 1.2rem;
  }
  header .header_nav-icon i {
    font-size: 1.4rem;
  }
  .sec01 {
    padding: 40px 60px 80px;
  }
  .sec01 .sec01-form .sec01_title {
    top: 10%;
  }
  .sec01_title p {
    font-size: 2.7rem;
  }
  .sec01_bg-img {
    width: 100%;
  }
  .sec02 {
    padding: 80px 0;
  }
  .sec02 .sec02-titleform {
    margin-bottom: 60px;
  }
  .sec02 .sec02-titleform .sec02_title {
    font-size: 2.4rem;
  }
  .sec02 .sec02-titleform .sec02__subtitle {
    font-size: 1.2rem;
  }
  .sec02 .sec02_card-form .sec02_c-content {
    height: 20vh;
  }
  .sec02 .sec02_card-form p {
    bottom: 1%;
    font-size: 1.2rem;
  }
  .sec03 {
    padding: 80px 0;
  }
  .sec03 .sec03_titleform {
    margin-bottom: 60px;
  }
  .sec03 .sec03_titleform p {
    font-size: 2.4rem;
  }
  .sec03 .sec03__content {
    height: 22vh;
  }
  .sec03 .sec03__content .sec03__subcontent {
    margin: 18px;
  }
  .sec03 .sec03__content .sec03__subcontent p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .sec03 .sec03__content .sec03__subcontent span {
    font-size: 1rem;
  }
  .sec03 .effect {
    font-size: 1.2rem;
  }
  .sec04 {
    padding: 80px 0;
  }
  .sec04 .container .sec04__titleContent h2 {
    font-size: 2.4rem;
  }
  .sec04 .effect {
    font-size: 1.2rem;
  }
  .sec05 {
    padding: 80px 0;
  }
  .sec05 .sec05_titleform .sec05_title {
    font-size: 2.4rem;
  }
  .sec05 .sec05_titleform .sec05_subtitle {
    font-size: 1.2rem;
  }
  .sec05 .sec05_form {
    font-size: 1.2rem;
    padding: 1.5% 1%;
  }
  .footer .container {
    padding: 30px 0;
  }
  .footer .container .footer-form01 {
    padding-top: 30px;
  }
  .footer .container .footer-form01 ul {
    margin-bottom: 15px;
  }
  .footer .container .footer-form01 ul a {
    font-size: 1.1rem;
  }
  .footer .container .footer-form02 {
    padding: 0 12px;
  }
  .footer .container .footer-form02 ul li {
    font-size: 1.1rem;
  }
  .footer .container .footer-form02 .footer-copy {
    font-size: 1.1rem;
    margin: 0;
  }
}
@media (max-width: 1024px) {
  header {
    padding: 20px 60px;
  }
  header img {
    width: 80%;
  }
  header .header-nav .header-navbar .header-nav-link {
    font-size: 1.2rem;
  }
  header .header_nav-icon {
    display: none;
  }
  .sec01 {
    padding: 20px 60px 60px;
  }
  .sec01 .sec01-form .sec01_title {
    top: 8%;
  }
  .sec01_title p {
    font-size: 2rem;
  }
  .sec02 {
    padding: 60px 0;
  }
  .sec02 .sec02-titleform .sec02_title {
    font-size: 2rem;
  }
  .sec02 .sec02-titleform .sec02__subtitle {
    font-size: 1.2rem;
  }
  .sec02 .sec02_card-form p {
    font-size: 1.2rem;
  }
  .sec02 .sec02_card-form .sec02_c-content {
    height: 20vh;
  }
  .sec03 {
    padding: 60px 0;
  }
  .sec03 .sec03_titleform p {
    font-size: 2rem;
  }
  .sec03 .sec03__content {
    height: 20vh;
  }
  .sec03 .sec03__content .sec03__subcontent p {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  .sec03 .sec03__content .sec03__subcontent span {
    font-size: 1rem;
  }
  .mb-80 {
    margin-bottom: 50px;
  }
  .sec04 {
    padding: 60px 0;
  }
  .sec04 .container .sec04__titleContent h2 {
    font-size: 2rem;
  }
  .sec04_image {
    width: 50%;
  }
  .sec05 {
    padding: 60px 0;
  }
  .sec05 .sec05_a {
    padding: 1rem 1.5rem;
  }
  .footer .container {
    padding: 20px 0;
  }
  .footer .container .footer-form01 ul a {
    font-size: 0.9rem;
    padding: 0.7rem;
  }
  .footer .container .footer-form02 .p-none ul li {
    font-size: 0.9rem;
  }
  .footer .container .footer-form02 .footer-copy {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  header {
    padding: 10px 25px;
  }
  header img {
    width: 65%;
  }
  .collapse:not(.show) {
    display: block;
  }
  .header-navbar {
    display: none;
  }
  header .header_nav-icon .hamburger {
    display: block;
    color: #272727;
  }
  header .header_nav-icon .icon_map, .icon_mark {
    display: none;
  }
  header .header_nav-icon {
    display: flex;
  }
  header .header_nav-icon i {
    font-size: 25px;
  }
  .sec01 {
    padding: 20px 25px 40px;
  }
  .sec01 .sec01-form .sec01_title {
    top: 5.5%;
  }
  .sec01_title p {
    font-size: 1.6rem;
  }
  .sec01_bg-img {
    width: 100%;
  }
  .sec02 {
    padding: 40px 0;
  }
  .sec02 .sec02-titleform {
    margin-bottom: 40px;
  }
  .sec02 .sec02-titleform .sec02_title {
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
  }
  .sec02 .sec02-titleform .sec02__subtitle {
    font-size: 1.2rem;
  }
  .sec03 {
    padding: 40px 0;
  }
  .sec03 .sec03_titleform p {
    font-size: 1.6rem;
  }
  .sec03 .sec03_titleform {
    margin-bottom: 40px;
  }
  .sec03 .sec03__content {
    height: 17vh;
  }
  .sec03 .sec03__content .sec03__subcontent {
    margin: 10px;
  }
  .sec03 .sec03__content .sec03__subcontent p {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  .sec03 .sec03__content .sec03__subcontent span {
    font-size: 0.9rem;
  }
  .sec03 .effect.effect-5 {
    min-width: 11rem;
    padding: 0.2rem;
  }
  .sec04 {
    padding: 40px 0;
  }
  .sec04 .container .sec04__titleContent h2 {
    font-size: 1.6rem;
  }
  .sec04 .effect.effect-5 {
    min-width: 12rem;
    padding: 0.2rem;
  }
  .sec05 {
    padding: 40px 0;
  }
  .sec05 .sec05_titleform .sec05_title {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }
  .sec05 .sec05_a {
    font-size: 1rem;
  }
  .footer .container .footer-logo {
    width: 55%;
  }
  .footer .container .footer-form01 {
    padding-top: 20px;
    margin-bottom: 30px;
  }
  .footer .container .footer-form01 ul {
    padding-left: 0;
  }
  .footer .container .footer-form01 ul a {
    font-size: 0.7rem;
  }
  .footer .container .footer-form02 ul {
    margin-bottom: 20px;
  }
  .footer .container .footer-form02 .p-none ul li {
    font-size: 0.7rem;
  }
  .footer .container .footer-form02 .footer-copy {
    font-size: 0.7rem;
    margin-top: 0;
  }
}
@media (max-width: 540px) {
  header {
    padding: 9px 26px;
  }
  header img {
    width: 53%;
  }
  .sec01 {
    padding: 15px 25px;
  }
  .sec01_bg-img {
    opacity: 0;
    width: 100%;
  }
  .sec01 .sec01-form .sec01_title {
    text-align: center;
    top: 9%;
    left: 26%;
  }
  .sec01_title p {
    font-size: 1.6rem;
  }
  .sec02 {
    padding: 30px 0;
  }
  .sec02 .sec02-titleform {
    margin-bottom: 30px;
  }
  .sec02 .sec02-titleform .sec02_title {
    font-size: 1.6rem;
  }
  .sec02 .sec02-titleform .sec02__subtitle {
    font-size: 1rem;
  }
  .sec02 .sec02_card-form .sec02_c-content {
    height: 13vh;
  }
  .sec02 .sec02_card-form p {
    font-size: 1rem;
  }
  .sec03 {
    padding: 30px 0;
  }
  .sec03 .sec03_titleform p {
    font-size: 1.6rem;
  }
  .sec03 .sec03__content {
    height: 15vh;
    margin-bottom: 15px;
  }
  .sec03 .sec03__content .sec03__subcontent {
    margin: 15px;
  }
  .mb-80 {
    margin-bottom: 30px;
  }
  .sec04 .container .sec04__titleContent h2 {
    font-size: 1.6rem;
    text-align: center;
  }
  .btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .btn-wrapper a.effect {
    width: 16.6666%;
    min-width: 120px;
    text-align: center;
  }
  .sec04 .container .sec04__imgContent {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sec04_image {
    width: 30%;
  }
  .sec05 .sec05_titleform .sec05_subtitle {
    font-size: 1rem;
  }
  .sec05 .sec05_form {
    font-size: 1rem;
    padding: 2% 1%;
  }
  .sec05 .sec05_a {
    font-size: 0.8rem;
  }
  .footer-nav {
    display: none;
  }
  .footer .container .footer-logo {
    width: 11%;
  }
  .footer .container .footer-form01 {
    padding-top: 20px;
    margin-bottom: 10px;
  }
  .p-none {
    display: none;
  }
}
@media (max-width: 348px) {
  header img {
    width: 50%;
  }
  .sec01 .sec01-form .sec01_title {
    top: 6.5%;
    left: 16%;
  }
  .sec01_title p {
    font-size: 1.4rem;
  }
  .sec02 .sec02-titleform .sec02_title {
    font-size: 1.4rem;
  }
  .sec02 .sec02-titleform .sec02__subtitle {
    font-size: 0.8rem;
  }
  .sec02 .sec02_card-form .sec02_c-content {
    height: 15vh;
  }
  .sec02 .sec02_card-form p {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  .sec03 .sec03_titleform p {
    font-size: 1.4rem;
  }
  .sec03 .sec03_titleform {
    margin-bottom: 20px;
  }
  .sec03 .sec03__content .sec03__subcontent p {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
  .sec03 .sec03__content .sec03__subcontent span {
    font-size: 0.5rem;
  }
  .sec03 .effect {
    font-size: 0.8rem;
  }
  .mb-80 {
    margin-bottom: 20px;
  }
  .sec04 .container .sec04__titleContent h2 {
    font-size: 1.4rem;
    text-align: center;
  }
  .sec04_image {
    margin-top: 15px;
  }
  .sec04 .effect {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */