@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy.css");
@font-face {
  font-family: "Paperlogy";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.otf") format("opentype"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.ttf") format("truetype");
}
header {
  background-color: #FFF8ED;
  justify-content: space-between;
  padding: 50px 80px;
}
header .header-nav {
  color: #272727;
  gap: 0 120px;
}
header .header-nav .header-navbar {
  gap: 0 100px;
}
header .header-nav .header-navbar .header-nav-link {
  font-size: 28px;
  font-weight: 600;
  color: #272727;
}
header .header-nav .header-navbar .header-nav-link:focus, header .header-nav .header-navbar .header-nav-link:hover {
  color: #272727;
}
header .header-nav .header-navbar .header-nav-link span {
  position: relative;
  display: inline-block;
  z-index: 0;
}
header .header-nav .header-navbar .header-nav-link:focus span, header .header-nav .header-navbar .header-nav-link:hover span {
  color: #272727;
}
header .header-nav .header-navbar .mark {
  padding: 0;
  background-color: #FFF8ED;
}
header .header-nav .header-navbar .mark::after {
  content: "";
  width: 0.5px;
  height: 12px;
  position: absolute;
  bottom: 11px;
  left: 0;
  background-color: #FFA500;
  z-index: -1;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.7s;
}
header .header-nav .header-navbar .mark:hover::after {
  opacity: 1;
  width: 100%;
}
header .header_nav-icon {
  list-style: none;
  display: flex;
  gap: 0 40px;
}
header .header_nav-icon i {
  font-size: 35px;
  font-weight: 600;
  color: #272727;
}
header .header_nav-icon i:hover {
  color: #FFA500;
  transition: all 0.2s ease-in-out;
}
header .header_nav-icon .hamburger {
  display: none;
}

.btn {
  background-color: #fff;
  color: #FFA500;
  font-size: 28px;
  font-weight: 500;
  text-decoration: none;
  padding: 12px;
  border: 2px solid #FFA500;
  border-radius: 50px;
  margin-top: 70px;
  width: 100%;
  max-width: 250px;
  transform: all 0.5s ease;
}

.btn:hover {
  background-color: #FFA500;
  color: #fff;
}

body {
  font-family: "Paperlogy";
}
body .basic-c {
  color: #FFA500;
}
body .point-c {
  color: #32BD7E;
}

.sec01 {
  background-color: #FFF8ED;
  padding: 50px 80px 100px;
}
.sec01 .sec01-form .sec01_title {
  font-size: 60px;
  font-weight: 700;
  color: #272727;
  position: absolute;
}
.sec01 .sec01-form .sec01_title p {
  margin: 0;
}
.sec01 .sec01-form .sec01_title .basic-c {
  color: #FFA500;
}
.sec01 .sec01-form .sec01_title .point-c {
  color: #32BD7E;
}

.sec02 {
  padding: 100px 0;
}

.sec02-titleform {
  margin-bottom: 80px;
}
.sec02-titleform .sec02_title {
  font-size: 50px;
  font-weight: 700;
  color: #272727;
}
.sec02-titleform .sec02__subtitle {
  color: #a3a2a2;
  font-size: 28px;
}

.sec02_card-form {
  position: relative;
  border-radius: 30px;
}
.sec02_card-form .sec02_c-content {
  width: 100%;
  height: 45vh;
  z-index: 0;
}
.sec02_card-form p {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  bottom: 5%;
  color: #fff;
  right: 5%;
  font-size: 25px;
  font-weight: 400;
}

.sec02_card-form::after {
  content: "";
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0); /* 초기 투명 */
  transition: background-color 0.2s ease-in-out;
  z-index: 999999;
}

.sec02_card-form:hover::after {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  position: absolute;
  z-index: 1;
}

.sec03 {
  padding: 100px 0;
}
.sec03 .sec03_titleform {
  font-size: 50px;
  font-weight: 700;
  color: #272727;
  margin-bottom: 80px;
}
.sec03 .sec03__content {
  height: 39vh;
  display: flex;
  align-items: flex-end;
  color: #fff;
  margin: 0;
  border-radius: 30px;
}
.sec03 .sec03__content .sec03__subcontent {
  margin: 20px;
}
.sec03 .sec03__content .sec03__subcontent p {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}
.sec03 .sec03__content .sec03__subcontent span {
  font-size: 25px;
  font-weight: 400;
  color: #fff;
}
.sec03 .sec03_card01 {
  background: url(../images/sec03-card01.png);
  background-position: center;
  background-size: cover;
}
.sec03 .sec03_card02 {
  background: url(../images/sec03-card02.png);
  background-position: center;
  background-size: cover;
}
.sec03 .sec03_card03 {
  background: url(../images/sec03-card03.png);
  background-position: center;
  background-size: cover;
}

.sec04 {
  padding: 80px 0;
  background-color: #FFF8ED;
}
.sec04 .sec04_titleform {
  font-size: 50px;
  font-weight: 700;
  color: #272727;
}
.sec04 .sec04_img {
  background: url(../images/sec04_image.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 29vh;
}

.sec05 {
  padding: 100px 0;
}
.sec05 .sec05_titleform .sec05_title {
  font-size: 50px;
  font-weight: 700;
  color: #272727;
}
.sec05 .sec05_titleform .sec05_title .basic-c {
  color: #FFA500;
}
.sec05 .sec05_titleform .sec05_title .point-c {
  color: #32BD7E;
}
.sec05 .sec05_titleform .sec05_subtitle {
  font-size: 25px;
  font-weight: 500;
  color: #a3a2a2;
  margin-bottom: 80px;
}
.sec05 .ui-widget {
  font-family: "Paperlogy";
  font-size: 25px;
  font-weight: 400;
}
.sec05 .ui-widget .sec05_form {
  font-size: 28px;
  font-weight: 600;
  padding: 1.5% 1%;
  margin-bottom: 0;
  border-bottom: 2px solid #FFA500;
  display: flex;
}
.sec05 .ui-widget .sec05_form .sec05_icon {
  margin-left: auto;
  color: #ffa500;
}
.sec05 .ui-widget .ui-widget-content {
  border: none;
  background: #FFF8ED;
  border-radius: 0 0 30px 30px;
  color: #272727;
  padding: 20px 27px;
}
.sec05 .ui-widget .ui-widget-content p {
  margin-bottom: 0;
  line-height: 140%;
}
.sec05 .ui-widget .ui-state-active {
  background-color: #fff;
  color: #272727;
  border: none;
  border-bottom: 2px solid #FFA500;
  margin-bottom: 0;
  padding: 1% 1%;
}

.footer {
  background-color: #3e3e3e;
}
.footer .container {
  padding: 80px 0;
}
.footer .container .footer-logo {
  width: 70%;
}
.footer .container .footer-form01 {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.footer .container .footer-form01 ul {
  list-style: none;
}
.footer .container .footer-form01 ul a {
  font-size: 18px;
  font-weight: 500;
  color: #d9d9d9;
  padding: 0.5rem 1rem;
}
.footer .container .footer-form02 .p-none {
  padding: 0;
}
.footer .container .footer-form02 .p-none ul {
  display: flex;
  list-style: none;
  color: #a3a2a2;
  padding: 0;
  margin-bottom: 20px;
}
.footer .container .footer-form02 .p-none ul li {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 0;
}
.footer .container .footer-form02 .p-none ul li:not(:last-of-type) {
  border-right: 2px solid #a3a2a2;
  padding-right: 30px;
}
.footer .container .footer-form02 .p-none ul li:not(:first-of-type) {
  padding-left: 30px;
}
.footer .container .footer-form02 .footer-copyform {
  font-size: 16px;
  font-weight: 500;
  color: #a3a2a2;
  padding: 0;
}
.footer .container .footer-form02 .footer-copyform .footer-copy {
  margin-top: 20px;
}

@media (max-width: 1280px) {
  header {
    padding: 30px 80px;
  }
  header img {
    width: 90%;
  }
  header .header-nav .header-navbar {
    gap: 0 80px;
  }
  header .header-nav .header-navbar .header-nav-link {
    font-size: 25px;
  }
  header .header_nav-icon i {
    font-size: 28px;
  }
  .sec01 {
    padding: 40px 60px 80px;
  }
  .sec01_title p {
    font-size: 43px;
  }
  .sec01_bg-img {
    width: 100%;
  }
  .sec02 {
    padding: 80px 0;
  }
  .sec02 .sec02-titleform {
    margin-bottom: 60px;
  }
  .sec02 .sec02-titleform .sec02_title {
    font-size: 43px;
  }
  .sec02 .sec02-titleform .sec02__subtitle {
    font-size: 25px;
  }
  .sec02 .sec02_card-form .sec02_c-content {
    height: 36vh;
  }
  .sec02 .sec02_card-form p {
    bottom: 1%;
    font-size: 21px;
  }
  .sec03 {
    padding: 80px 0;
  }
  .sec03 .sec03_titleform {
    margin-bottom: 60px;
  }
  .sec03 .sec03_titleform p {
    font-size: 43px;
  }
  .sec03 .sec03__content .sec03__subcontent {
    margin: 18px;
  }
  .sec03 .sec03__content .sec03__subcontent p {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .sec03 .sec03__content .sec03__subcontent span {
    font-size: 21px;
  }
  .sec03 .btn {
    font-size: 25px;
    padding: 12px;
    margin-top: 60px;
  }
  .sec04 {
    padding: 80px 0;
  }
  .sec04 .sec04_titleform {
    font-size: 43px;
  }
  .sec04 .sec04_titleform .btn {
    font-size: 25px;
  }
  .sec04 .sec04-gap {
    width: 30%;
  }
  .sec05 {
    padding: 80px 0;
  }
  .sec05 .sec05_titleform .sec05_title {
    font-size: 43px;
  }
  .sec05 .sec05_titleform .sec05_subtitle {
    font-size: 21px;
  }
  .sec05 .accordion-item .accordion-button {
    font-size: 25px;
    padding: 21px 0;
  }
  .sec05 .accordion-item .accordion-button:not(.collapsed) {
    font-size: 25px;
  }
  .sec05 .accordion-item .accordion-body p {
    font-size: 21px;
  }
  .footer .container {
    padding: 30px 0;
  }
  .footer .container .footer-form01 {
    padding-top: 30px;
  }
  .footer .container .footer-form01 ul {
    margin-bottom: 15px;
  }
  .footer .container .footer-form01 ul a {
    font-size: 18px;
  }
  .footer .container .footer-form02 ul li {
    font-size: 15px;
  }
  .footer .container .footer-form02 .footer-copy {
    font-size: 15px;
    padding-top: 30px;
  }
}
@media (max-width: 1024px) {
  header {
    padding: 20px 60px;
  }
  header img {
    width: 85%;
  }
  header .header-nav .header-navbar .header-nav-link {
    font-size: 20px;
  }
  header .header_nav-icon {
    display: none;
  }
  .sec01 {
    padding: 20px 60px 60px;
  }
  .sec01_title p {
    font-size: 33px;
  }
  .sec02 {
    padding: 60px 0;
  }
  .sec02 .sec02-titleform .sec02_title {
    font-size: 33px;
  }
  .sec02 .sec02-titleform .sec02__subtitle {
    font-size: 20px;
  }
  .sec02 .sec02_card-form p {
    font-size: 20px;
  }
  .sec02 .sec02_card-form .sec02_c-content {
    height: 30vh;
  }
  .sec03 {
    padding: 60px 0;
  }
  .sec03 .sec03_titleform p {
    font-size: 33px;
  }
  .sec03 .sec03__content {
    height: 33vh;
  }
  .sec03 .sec03__content .sec03__subcontent p {
    font-size: 22px;
    margin-bottom: 8px;
  }
  .sec03 .sec03__content .sec03__subcontent span {
    font-size: 20px;
  }
  .sec03 .btn {
    font-size: 22px;
    margin-top: 40px;
  }
  .sec04 {
    padding: 60px 0;
  }
  .sec04 .sec04_titleform {
    font-size: 33px;
  }
  .sec04 .sec04_titleform .btn {
    font-size: 22px;
    margin-top: 40px;
  }
  .sec04 .sec04-gap {
    width: 32%;
  }
  .sec04 .sec04_img {
    height: 20vh;
  }
  .sec05 {
    padding: 60px 0;
  }
  .sec05 .sec05_titleform .sec05_title {
    font-size: 33px;
  }
  .sec05 .sec05_titleform .sec05_subtitle {
    font-size: 20px;
    margin-bottom: 50px;
  }
  .sec05 .accordion-item .accordion-button {
    font-size: 22px;
    padding: 13px 0;
  }
  .sec05 .accordion-item .accordion-button:not(.collapsed) {
    font-size: 22px;
  }
  .sec05 .accordion-item .accordion-body p {
    font-size: 20px;
  }
  .footer .container {
    padding: 20px 0;
  }
  .footer .container .footer-logo {
    width: 70%;
  }
  .footer .container .footer-form01 ul a {
    font-size: 15px;
  }
  .footer-gap {
    width: 27%;
  }
  .footer-nav {
    width: 48%;
  }
  .footer .footer-form02 ul {
    margin-bottom: 20px;
  }
  .footer .container .footer-form02 ul li {
    font-size: 13px;
    padding-bottom: 0.3rem;
  }
  .footer .container .footer-form02 .footer-copy {
    font-size: 13px;
    padding-top: 20px;
  }
}
@media (max-width: 768px) {
  header {
    padding: 10px 25px;
  }
  header img {
    width: 65%;
  }
  .collapse:not(.show) {
    display: block;
  }
  .header-navbar {
    display: none;
  }
  header .header_nav-icon .hamburger {
    display: block;
    color: #272727;
  }
  header .header_nav-icon .icon_map, .icon_mark {
    display: none;
  }
  header .header_nav-icon {
    display: flex;
  }
  header .header_nav-icon i {
    font-size: 25px;
  }
  .sec01 {
    padding: 20px 25px 40px;
  }
  .sec01_title p {
    font-size: 26px;
  }
  .sec02 {
    padding: 40px 0;
  }
  .sec02 .sec02-titleform .sec02_title {
    font-size: 26px;
  }
  .sec02 .sec02-titleform .sec02__subtitle {
    font-size: 14px;
  }
  .sec02 .sec02_card-form p {
    font-size: 14px;
  }
  .sec03 {
    padding: 40px 0;
  }
  .sec03 .sec03_titleform p {
    font-size: 26px;
  }
  .sec03 .sec03_titleform {
    margin-bottom: 40px;
  }
  .sec03 .sec03__content .sec03__subcontent p {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .sec03 .sec03__content .sec03__subcontent span {
    font-size: 14px;
  }
  .sec03 .btn {
    font-size: 18px;
    max-width: 166px;
    padding: 9px;
  }
  .sec04 {
    padding: 40px 0;
  }
  .sec04 .sec04_titleform {
    font-size: 26px;
  }
  .sec04 .sec04_titleform .btn {
    font-size: 18px;
    max-width: 176px;
    padding: 8px;
  }
  .sec05 {
    padding: 40px 0;
  }
  .sec05 .sec05_titleform .sec05_title {
    font-size: 26px;
  }
  .sec05 .sec05_titleform .sec05_subtitle {
    font-size: 14px;
    margin-bottom: 40px;
  }
  .footer .container .footer-logo {
    width: 65%;
  }
  .footer .container .footer-form01 {
    padding-top: 20px;
    margin-bottom: 30px;
  }
  .footer .container .footer-form01 ul {
    padding-left: 0;
  }
  .footer .container .footer-form01 ul a {
    font-size: 11px;
  }
  .footer .container .footer-form02 ul {
    margin-bottom: 20px;
  }
  .footer .container .footer-form02 ul li {
    font-size: 10px;
    padding-bottom: 0.1rem;
  }
  .footer .container .footer-form02 .footer-copy {
    font-size: 10px;
    padding-top: 20px;
  }
}
@media (max-width: 540px) {
  header {
    padding: 10px 33px;
  }
  header img {
    width: 53%;
  }
  .sec01_bg-img {
    opacity: 0;
    width: 90%;
  }
  .sec01 .sec01-form .sec01_title {
    text-align: center;
    top: 13%;
    left: 25%;
  }
  .sec01_title p {
    font-size: 28px;
  }
  .sec02 {
    padding: 60px 0;
  }
  .sec02 .sec02-titleform .sec02_title {
    font-size: 28px;
  }
  .sec02 .sec02_card-form .sec02_c-content {
    height: 20vh;
  }
  .sec02 .sec02-titleform {
    margin-bottom: 40px;
  }
  .sec03 {
    padding: 60px 0;
  }
  .sec03 .sec03_titleform p {
    font-size: 28px;
  }
  .sec03 .sec03__content {
    height: 33vh;
    margin-bottom: 15px;
  }
  .sec04 .sec04_titleform {
    text-align: center;
  }
  .sec04 .sec04_img {
    display: none;
  }
  .sec04 .sec04_titleform .btn {
    margin: 0 auto;
  }
  .footer .container .footer-logo {
    width: 12%;
  }
}/*# sourceMappingURL=style.css.map */